<div id="about-us" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
        <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <p>Most conference providers think that a conference call is just another conference call. Not us, we have a different perspective on it. We know that it’s your meeting and you wouldn’t be having it if it wasn’t important.</p>

          <p>You could have chosen a hundred different providers to host your meeting, but you didn’t. You chose us. It is our honor and commitment to provide you with unmatched personal service – by design and the highest quality meeting.</p>

          <p>When we first started out in 1992 we knew that our #1 priority had to be our customer’s experience. We haven’t lost sight of that thru the years and that is one reason why our top 100 customers have been with us for an average of 9 years.</p>

          <p>Headquartered in Montgomery, Alabama, Conference America is the epitome of world class southern hospitality. We own and manage all of our tech equipment, have a fully redundant network and have a great group of conferencing specialists available around the clock so you never have to talk to an IVR. In other words, you can rely and depend on us.</p>

          <p>Everyone claims quality of service, but we want you to experience it for yourself, just dial <span>1-800-925-8000</span>. You will get a real-live person who has the training and knowledge to take care of you. Our average answer times are under 6 seconds. We have chosen to put our customers first.</p>

          <p>It is our job to make sure you never regret choosing Conference America and keep coming back.</p>
        </div>

      </div>
    </div>
  </div>

</div>
