<div class="container clearfix">
  <div class="exit"></div>
  <p class="title">CLIENT CORNER</p>

  <div class="logout-container">
    <p class="user">Welcome to Client Corner, <br/> <span>Christopher</span></p>
    <button class="button" id="signout">Sign Out</button>
  </div>

  <div class="login-container remove">
    <form id="login">
      <input type="text" name="username" placeholder="Email/User Name" required />
      <input type="password" name="password" placeholder="Your Password" required title="Please enter a valid password"/>
      <input type="checkbox" id="remember" name="remember" value="remember"/>
      <label for="remember"><span></span>Remember Me</label>
      <button type="submit" class="button" value="Submit">SIGN IN</button>
    </form>
  </div>

  <ul class="cc-links">
    <li class="meeting" data-cc-link="schedule-meeting"><a class="nav-link-a">SCHEDULE A MEETING</a></li>
    <li class="web-echo" data-cc-link="web-echo-meeting"><a class="nav-link-a">START A WEB ECHO MEETING</a></li>
    <li class="adobe-connect" data-cc-link="adobe-connect"><a class="nav-link-a">LAUNCH ADOBE CONNECT</a></li>
    <li class="account nav-sublinks" data-cc-link="my-account"><a class="nav-link-a">MY ACCOUNT</a>
      <ul class="cc-sublinks">
        <li><a data-cc-links="reset-passcode">Reset Passcode</a></li>
        <li><a data-cc-links="profile">Edit Profile</a></li>
        <li><a data-cc-links="leader">View My Leaders</a></li>
        <li><a data-cc-links="my-meetings">View My Meetings</a></li>
        <li><a data-cc-links="conference-cost-manager">Conference Cost Manager</a></li>
        <li><a data-cc-links="web-quality">Web Quality</a></li>
      </ul>
    </li>
    <li class="controls nav-sublinks" data-cc-link="meeting-controls"><a class="nav-link-a">MEETING CONTROLS</a>
      <ul class="cc-sublinks">
        <li><a data-cc-links="alwayson-control">AlwaysOn Control</a></li>
        <li><a data-cc-links="web-echo-control">Web Echo Control</a></li>
        <li><a data-cc-links="web-echo-with-alwayson-control">Web Echo with AlwaysOn Control</a></li>
        <li><a data-cc-links="meeting-control">Meeting Control</a></li>
      </ul>
    </li>
    <li class="invoice" data-cc-link="invoices"><a class="nav-link-a">MY INVOICES</a></li>
    <li class="resources nav-sublinks" data-cc-link="resources"><a class="nav-link-a">RESOURCES</a>
      <ul class="cc-sublinks">
        <li><a data-cc-links="account-info">Resend Account Info</a></li>
        <li><a data-cc-links="temporary-cards">Download Temporary Cards</a></li>
        <li><a data-cc-links="call-commands">Call Commands</a></li>
        <li><a data-cc-links="always-on-mp3-recording-request">AlwaysOn MP3 Recording Request</a></li>
        <li><a data-cc-links="help">Help</a></li>
      </ul>
    </li>
  </ul>
</div>
