<div id="contact" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
        <h1>Contact Us.</h1>
        <h4>We're here when you need us.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-1">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>Need immediate assistance?</h1>
          <p class="title teal">Chat with a live rep now or call <span>1.800.925.8000</span></p>

          <a class="button chat"><span class="icon">Click to chat</span></a>
          <form id="contact-us-form">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="name" title="Name" placeholder="Name" required data-error-blank="Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="organization" title="Organization" placeholder="Organization" required data-error-blank="Organization must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
            <textarea class="textarea" name="help">How can we help?</textarea>
            </div>
            <div class="input-container">
              <p>Contact Preference:</p>
              <input type="radio" id="radio1" name="contactPreference" value="phone" checked/>
              <label for="radio1"><span></span>Phone</label>
              <input type="radio" id="radio2" name="contactPreference" value="email"/>
              <label for="radio2"><span></span>Email</label>
            </div>
            <div class="input-container">
              <button type="submit" class="button" value="Submit">Submit</button>
            </div>
          </form>
	    	</div>
    	</div>

  	</div>
  </div>

</div>
