<div id="create-account" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
        <h1>Create an Account</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-1 dark-gray-bg">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h2>We're at your service.</h2>
          <h3>You can create an account online by selecting one of the two billing options below. <br/>If you would like to hear more about our <a class="page-linking" data-pages="services">services</a> please call <span class="bold">1.800.925.8000</span>.</h3>
        </div>
      </div>
      <div class="content btn-container clearfix">
          <div class="six columns">
            <a class="button credit-card page-linking" data-pages="credit-card"><span class="icon">Credit Card</span></a>
          </div>
          <div class="six columns">
            <a class="button invoice page-linking" data-pages="invoice"><span class="icon">Invoice</span></a>
          </div>
      </div>
    </div>
  </div>

</div>
