<div id="credit-card" class="section triangle-bg">

  <div class="section section-1">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>Credit Card</h1>
          <p class="title-required"><span>*</span> = Required Fields</p>

          <form id="credit-card-form" class="to-validate">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="organization" title="Organization" placeholder="Organization" required data-error-blank="Organization must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="name" title="Name on Card" placeholder="Name on Card" required data-error-blank="Name on Card must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="creditCard" placeholder="Credit Card Number" pattern="\d*" title="Credit Card Number" required data-error-blank="Credit Card Number must be filled." data-error-credit-card="Please put a numerical value."/>
              <span class="error-message"></span>
            </div>
            <div class="select-style long-select required">
              <select>
                <option value="visa">Visa</option>
                <option value="master-card">Master Card</option>
                <option value="american-express">American Express</option>
                <option value="discover">Discover</option>
              </select>
            </div>
            <p class="label">Expiration Date</p>
            <div class="select-style expiration">
              <select name='expireMM' id='expireMM' required>
                  <option value=''>MM</option>
                  <option value='01'>Janaury</option>
                  <option value='02'>February</option>
                  <option value='03'>March</option>
                  <option value='04'>April</option>
                  <option value='05'>May</option>
                  <option value='06'>June</option>
                  <option value='07'>July</option>
                  <option value='08'>August</option>
                  <option value='09'>September</option>
                  <option value='10'>October</option>
                  <option value='11'>November</option>
                  <option value='12'>December</option>
              </select>
            </div>
            <div class="select-style expiration">
              <select name='expireYY' id='expireYY' required>
                  <option value=''>YY</option>
                  <option value='15'>2015</option>
                  <option value='16'>2016</option>
                  <option value='17'>2017</option>
                  <option value='18'>2018</option>
                  <option value='19'>2019</option>
                  <option value='12'>2020</option>
              </select>
            </div>

              <br/>

            <div class="input-container required">
              <input type="text" class="input-text validate" name="billingAddress" title="Billing Address" placeholder="Billing Street Address" required data-error-blank="Billing Street Address must be filled." />
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="streetAddress" placeholder="Street Address 2" />
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="city" title="City" placeholder="City" required data-error-blank="City must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="state" title="State" placeholder="State" required data-error-blank="State must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="country" title="Country" placeholder="Country" required data-error-blank="Country must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="zipcode" title="Zip/Postal Code" placeholder="Zip/Postal Code" pattern="\d*" maxlength="5" required data-error-blank="Zip/Postal must be filled." data-error-zip="Please put down a valid Zip/Postal Code."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="hear" title="How did you hear about us?" placeholder="How did you hear about us?"/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
            <textarea class="textarea" name="specialInstruction" title="Special Instructions">Special instructions</textarea>
            </div>
            <div class="input-container">
              <input type="checkbox" name="terms" value="terms" id="terms" title="Terms and Conditions" required/>
              <label for="terms"><span></span><div class="terms-text">I agree to the <a href="#">Terms &amp; Conditions</a></div></label>
            </div>
            <div class="input-container">
              <button type="submit" class="button" value="submit">Submit</button>
            </div>
          </form>
	    	</div>
    	</div>

  	</div>
  </div>

</div>
