<div id="downloads" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="content clearfix">
      <div class="twelve columns">
        <h1>Mobile Apps</h1>
        <h3>Go Anywhere. Meet Anywhere.</h3>
      </div>
    </div>
  </div>

  <div class="section section-1">
  	<div class="container">
      <div class="content mobile clearfix">
        <form id="app-download-form">
          <div class="five columns">
            <a href="https://itunes.apple.com/us/app/conference-america-mobile/id939305955?mt=8&uo=4" target="_blank" class="app-link-block"><img src="img/home/app-ios.png" class="ios" /></a>
            <a href="https://play.google.com/store/apps/details?id=com.conferenceamerica.android.mobile" target="_blank" class="app-link-block"><img src="img/home/app-google.png" class="google" /></a>
          </div>
          <div class="one column">
            <p class="or">OR</p>
          </div>
          <div class="five offset-by-one columns">
            <input id="app-download-recipient" type="text" name="phone-number" placeholder="(555) 555-5555" required pattern="\d*" title="Phone number must be numerical" />
            <button id="app-download-sms" type="submit" class="button" value="Submit">Text me the app</button>
            <span>*Standard text message rates may apply</span>
          </div>
        </form>
    	</div>
  	</div>
  </div>

  <div class="section section-2">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>Downloads</h1>
	    		<h3>Download Client Corner for Outlook to launch impromptu meetings, <br class="desktop-only"/>schedule events and easily access your account services.</h3>
	    	</div>
    	</div>

      <div class="download content clearfix">
        <div class="twelve columns">
          <table class="information">
            <tr>
              <td class="icon">
                <a href="#"><img src="img/downloads/icon-download.png" alt="Icon"/></a>
              </td>
              <td class="table-content">
                <h2><a href="#">2013</a></h2>
                <h3>System Requirements</h3>
                <ul class="list">
                  <li><a href="#">OS: Windows XP SP3, Windows Vista, Windows 7</a></li>
                  <li><a href="#">Microsoft Office Outlook 2013</a></li>
                  <li><a href="#">Internet Connection</a></li>
                  <li><a href="#">Local Administrator Permissions</a></li>
                  <li class="release-notes"><a href="#">Release Notes</a></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td class="icon">
                <a href="#"><img src="img/downloads/icon-download.png" alt="Icon"/></a>
              </td>
              <td class="table-content">
                <h2><a href="#">2010</a></h2>
                <h3>System Requirements</h3>
                <ul class="list">
                  <li><a href="#">OS: Windows XP SP3, Windows Vista, Windows 7</a></li>
                  <li><a href="#">Microsoft Office Outlook 2010</a></li>
                  <li><a href="#">Internet Connection</a></li>
                  <li><a href="#">Local Administrator Permissions</a></li>
                  <li class="release-notes"><a href="#">Release Notes</a></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td class="icon">
                <a href="#"><img src="img/downloads/icon-download.png" alt="Icon"/></a>
              </td>
              <td class="table-content">
                <h2><a href="#">2007</a></h2>
                <h3>System Requirements</h3>
                <ul class="list">
                  <li><a href="#">OS: Windows XP SP3, Windows Vista, Windows 7</a></li>
                  <li><a href="#">Microsoft Office Outlook 2007</a></li>
                  <li><a href="#">Internet Connection</a></li>
                  <li><a href="#">Local Administrator Permissions</a></li>
                  <li class="release-notes"><a href="#">Release Notes</a></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>

  	</div>
  </div>

</div>
