<div class="container">
  <div class="content clearfix">
    <div class="three columns">
        <ul class="footer-menu social-links show">
            <li class="gplus"><a href="#">&nbsp;</a></li>
            <li class="linkedin"><a href="#">&nbsp;</a></li>
            <li class="facebook"><a href="#">&nbsp;</a></li>
            <li class="youtube"><a href="#">&nbsp;</a></li>
        </ul>
        <ul class="footer-menu">
            <li class="title">Legal</li>
            <li><a class="footer-links" data-footer-links="privacy-policy">Privacy Policy</a></li>
            <li><a class="footer-links" data-footer-links="terms-and-conditions">Terms &amp; Conditions of Use of Website</a></li>
            <li><a class="footer-links" data-footer-links="services-and-conditions">Conference America Services Terms &amp; Conditions</a></li>
        </ul>
    </div>
    <div class="three columns">
        <ul class="footer-menu">
            <li class="title">More</li>
            <li><a class="footer-links" data-footer-links="about-us">About Us</a></li>
            <li><a class="footer-links" data-footer-links="sitemap">Sitemap</a></li>
        </ul>
    </div>
    <div class="three columns">
        <ul class="footer-menu">
            <li class="title">Quick Links</li>
            <li><a class="footer-links" data-footer-links="my-meetings">My Meetings</a></li>
            <li><a class="footer-links" data-footer-links="adobe-connect">Adobe Connect</a></li>
            <li><a class="footer-links" data-footer-links="contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div class="three columns hide">
        <ul class="footer-menu social-links">
            <li class="gplus"><a href="#">&nbsp;</a></li>
            <li class="linkedin"><a href="#">&nbsp;</a></li>
            <li class="facebook"><a href="#">&nbsp;</a></li>
            <li class="youtube"><a href="#">&nbsp;</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="back-to-top"></div>
