<div class="container navbar">
    <div class="search-icon">
        <svg version="1.1" id="search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="80.1px" height="78.282px" viewBox="0 0 80.1 78.282" enable-background="new 0 0 80.1 78.282" xml:space="preserve">
                <symbol  id="New_Symbol_9" viewBox="-7.726 -7.551 15.452 15.102">
                    <path fill="#010101" d="M7.287-4.99L4.433-2.136c0.533,0.942,0.841,2.029,0.841,3.187c0,3.584-2.916,6.5-6.5,6.5
                        c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5c1.34,0,2.587,0.409,3.623,1.107l2.769-2.77c0.293-0.292,0.677-0.439,1.061-0.439
                        s0.768,0.146,1.061,0.439C7.872-6.526,7.872-5.577,7.287-4.99z M-5.726,1.051c0,2.481,2.019,4.5,4.5,4.5c2.481,0,4.5-2.019,4.5-4.5
                        c0-2.481-2.019-4.5-4.5-4.5C-3.708-3.449-5.726-1.43-5.726,1.051z"/>
                </symbol>
        <use xlink:href="#New_Symbol_9"  width="15.452" height="15.102" x="-7.726" y="-7.551" transform="matrix(5.1837 0 0 -5.1837 40.05 39.141)" overflow="visible"/>
        </svg>
    </div>
    <div class="users-icon">
        <svg version="1.1" id="users" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="71.968px" height="34.717px" viewBox="0 0 71.968 34.717" enable-background="new 0 0 71.968 34.717" xml:space="preserve">
        <g>
            <path fill="#ffffff" d="M71.968,31.74c0,0-0.017-1.759-3.62-3.359c-1.745-0.776-4.336-2.775-8.172-3.462c0.98-1.05,1.724-2.692,2.487-4.638
                c0.442-1.127,0.367-2.088,0.367-3.455c0-1.012,0.189-2.634-0.061-3.525c-0.847-3.012-2.984-3.843-5.489-3.843
                c-2.506,0-4.646,0.835-5.491,3.852c-0.249,0.889-0.058,2.507-0.058,3.516c0,1.37-0.075,2.335,0.369,3.464
                c0.63,1.601,1.236,2.983,1.971,4.007c4.249,2.562,4.646,5.399,4.655,6.299v0.015v0.015v4.087v0.003l13.041-0.001V31.74z"/>
            <path fill="#ffffff" d="M13.009,30.609v-0.016c0.01-0.892,0.403-3.691,4.564-6.238c0.762-1.034,1.389-2.445,2.028-4.074
                c0.442-1.127,0.367-2.088,0.367-3.455c0-1.012,0.19-2.634-0.061-3.525c-0.847-3.012-2.984-3.843-5.489-3.843
                c-2.507,0-4.646,0.835-5.491,3.852c-0.249,0.889-0.058,2.507-0.058,3.516c0,1.37-0.074,2.335,0.369,3.464
                c0.769,1.955,1.501,3.595,2.479,4.64c-3.805,0.699-6.376,2.683-8.111,3.458C0.017,29.987,0,31.74,0,31.74v2.977l13.009-0.002v-4.09
                V30.609z"/>
            <path fill="#ffffff" d="M50.857,26.008c-2.399-1.066-5.96-3.813-11.231-4.758c1.348-1.443,2.368-3.699,3.418-6.373
                c0.608-1.55,0.504-2.87,0.504-4.751c0-1.39,0.262-3.618-0.083-4.843C42.302,1.143,39.364,0,35.921,0
                c-3.445,0-6.387,1.147-7.547,5.295c-0.343,1.222-0.08,3.446-0.08,4.831c0,1.886-0.103,3.21,0.508,4.762
                c1.058,2.687,2.062,4.94,3.406,6.378c-5.229,0.961-8.764,3.688-11.147,4.751c-4.934,2.2-4.958,4.608-4.958,4.608v4.092l39.73-0.005
                v-4.087C55.833,30.625,55.81,28.209,50.857,26.008z"/>
        </g>
        </svg>
    </div>
    <div class="chat-icon">
        <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="71.872px" height="66.433px" viewBox="0 0 71.872 66.433" enable-background="new 0 0 71.872 66.433" xml:space="preserve">
        <path fill="#ffffff" d="M71.715,24.743c-1.842-15.72-19.353-26.67-39.113-24.46C12.842,2.493-1.683,17.027,0.157,32.745
            c0.974,8.311,6.33,15.287,14.081,19.691c0.38,3.481-0.901,7.919-6.929,12.464c-2.462,1.856,9.976,4.251,21.585-7.74
            c3.334,0.407,6.817,0.442,10.375,0.044C59.029,54.994,73.556,40.462,71.715,24.743z"/>
        </svg>
    </div>
</div>

<div class="container search-section show">
    <form>
        <input class="search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
        <input class="search-submit" type="submit" value="">
    </form>
</div>

<div class="container header-section">
    <div class="menu" id="hamburger"></div>
    <div class="logo" id="home">
        <a><img src="img/header/header-conference-america.svg" class="ca display-show" alt="Conference America" /></a>
        <a><img src="img/header/header-conference-america-m.svg" class="ca-mobile display-hide" alt="Conference America" /></a>
    </div>
    <div class="container right-nav">
      <div class="nav client">
        <p>CLIENT CORNER</p>
        <span class="username">Hi, Christopher Robertson</span>
      </div>
      <div class="nav chat"><p>CHAT</p></div>
    </div>
</div>
