<div id="homepage" class="section">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
      	<h2>Welcome to</h2>
				<h1>Conference America<span class="sup">&reg;</span></h1>
				<h3>Whether your call is big<br/>or&nbsp;small,&nbsp;we’ve got it all.</h3>
				<h4>Visit our <a class="page-linking" data-pages="services">services listing</a> to get started.</h4>
      </div>
    </div>
  </div>

  <div class="section section-1 triangle-bg">
  	<div class="container">
    	<div class="content clearfix">
				<div class="four columns">
	    		<div class="icon one"></div>
	    		<h1>Go Reservationless</h1>
	    		<h5>Use our AlwaysOn Conferencing&reg; service to make impromptu calls in&nbsp;a&nbsp;snap.</h5>
	    		<p><a class="link-to" data-link-to-page="alwaysOn">Learn More</a></p>
	    	</div>
	    	<div class="four columns">
	    		<div class="icon two"></div>
	    		<h1>The HD Difference</h1>
	    		<h5>High Definition Voice conferencing delivers stunning sound clarity with 16,000 SPS.</h5>
	    		<p><a class="link-to" data-link-to-page="hdv">Learn More</a></p>
	    	</div>
	    	<div class="four columns">
	    		<div class="icon three"></div>
	    		<h1>Adobe&reg; Connect&trade;</h1>
	    		<h5>Powering mission-critical web conferencing solutions end-to-end, on virtually any device.</h5>
	    		<p><a href="#">Learn More</a></p>
	    	</div>
    	</div>
  	</div>
  </div>

  <div class="section section-2 dark-gray-bg">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>Create an Account</h1>
	    		<h3>We&rsquo;re At Your Service</h3>
	    		<h5>You can create an account online by selecting one of the two billing options below.<br/>If you would like to hear more about our services please call 1.800.925.8000.</h5>
	    	</div>
    	</div>
    	<div class="content btn-container clearfix">
		    	<div class="six columns">
		    		<a class="button credit-card page-linking" data-pages="credit-card"><span class="icon">Credit Card</span></a>
		    	</div>
		    	<div class="six columns">
		    		<a class="button invoice page-linking" data-pages="invoice"><span class="icon">Invoice</span></a>
		    	</div>
    	</div>
  	</div>
  </div>

  <div class="section section-3 teal-bg">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>Mobile Apps</h1>
	    		<h3>Take advantage of Conference America's FREE mobile apps for Apple and Android.</h3>
	    	</div>
    	</div>
      <div class="content mobile clearfix">
        <form id="app-download-form">
          <div class="five columns">
            <a href="https://itunes.apple.com/us/app/conference-america-mobile/id939305955?mt=8&uo=4" target="_blank" class="app-link-block"><img src="img/home/app-ios.png" class="ios" /></a>
            <a href="https://play.google.com/store/apps/details?id=com.conferenceamerica.android.mobile" target="_blank" class="app-link-block"><img src="img/home/app-google.png" class="google" /></a>
          </div>
          <div class="one column">
            <p class="or">OR</p>
          </div>
          <div class="five offset-by-one columns">
            <input id="app-download-recipient" type="text" name="phone-number" placeholder="(555) 555-5555" required pattern="\d*" title="Phone number must be numerical" />
            <button id="app-download-sms" type="submit" class="button" value="Submit">Text me the app</button>
            <span>*Standard text message rates may apply</span>
          </div>
        </form>
      </div>
  	</div>
  </div>

</div>
