<div id="invoice" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1>Invoice</h1>
          <p class="title-required"><span>*</span> = Required Fields</p>

          <form id="invoice-form">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="organization" title="Organization" placeholder="Organization" required data-error-blank="Organization must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="name" placeholder="Accounts Payable Contact" placeholder="Accounts Payable Contact" required data-error-blank="Accounts Payable Contact must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="streetAddress1" title="Street Address" placeholder="Street Address 1" required data-error-blank="Street Address must be filled." />
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="streetAddress2" placeholder="Street Address 2" />
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="city" title="City" placeholder="City" required data-error-blank="City must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="state" title="State" placeholder="State" required data-error-blank="State must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="country" title="Country" placeholder="Country" required data-error-blank="Country must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="zipcode" title="Zip/Postal Code" placeholder="Zip/Postal Code" pattern="\d*" maxlength="5" required data-error-blank="Zip/Postal Code must be filled." data-error-zip="Please put down a valid Zip/Postal Code."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="hear" title="How did you hear about us?" placeholder="How did you hear about us?"/>
            </div>
            <div class="input-container">
            <textarea class="textarea" name="specialInstruction" title="Special Instructions">Special instructions</textarea>
            </div>
            <div class="input-container">
              <input type="checkbox" name="terms" value="terms" id="terms" title="Terms and Conditions" required/>
              <label for="terms"><span></span><div class="terms-text">I agree to the <a href="#">Terms &amp; Conditions</a></div></label>
            </div>
            <div class="input-container">
              <button type="submit" class="button" value="Submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
