<div class="modal-container" data-modal-container-type="reset-passcode">
    <div class="exit-modal"></div>
    <div class="message">
      <div class="checkmark-icon">
        <span>Thank you! Your request has been received. We will send your Account information email with your updated passcode shortly.</span>
        <a class="close-modal">Close</a>
      </div>
    </div>
</div>

<div class="modal-container" data-modal-container-type="resend-account-info">
    <div class="exit-modal"></div>
    <div class="message">
      <div class="checkmark-icon">
        <span>Great news! Your Account information Email has been successfully sent to your inbox.</span>
        <a class="close-modal">Close</a>
      </div>
    </div>
</div>

<div class="modal-container" data-modal-container-type="cancel-scheduled-meeting">
    <div class="exit-modal"></div>
    <div class="message">
      <div class="checkmark-icon">
        <span>Are you sure you want to cancel this scheduled meeting?</span>

        <form id="cancel-scheduled-meeting-form">
          <div class="input-container">
            <input type="radio" id="radio1" name="cancel-meeting" value="yes"/>
            <label for="radio1"><span></span>Yes</label>
          </div>
          <div class="input-container">
            <input type="radio" id="radio2" name="cancel-meeting" value="no"/>
            <label for="radio2"><span></span>No</label>
          </div>

          <button class="button cancel-submit">Submit</button>
        </form>
      </div>
    </div>
</div>

<div class="modal-container" data-modal-container-type="turn-off-leader">
    <div class="exit-modal"></div>
    <div class="message">
      <div class="checkmark-icon">
        <div class="modal-page active" data-page-num="1">
        <span>Are you sure you want to turn off this leader?</span>

        <form id="turn-off-leader-form">
          <div class="input-container">
            <input type="radio" id="radio3" name="cancel-meeting" value="yes"/>
            <label for="radio3"><span></span>Yes</label>
          </div>
          <div class="input-container">
            <input type="radio" id="radio4" name="cancel-meeting" value="no"/>
            <label for="radio4"><span></span>No</label>
          </div>

          <button class="button cancel-submit">Submit</button>
        </form>
        </div>
        <div class="modal-page" data-page-num="2">
          <span>Your request to turn off this leader account has been received. If you have any questions please call 1.800.925.8000 or chat with a conferencing specialist.</span>
          <a class="close-modal">Close</a>
        </div>
      </div>
    </div>
</div>

<div class="modal-container" data-modal-container-type="participants-invite">
    <div class="exit-modal"></div>
    <div class="message">
      <div class="checkmark-icon">
        <span>Thank you! Email invitation has been sent to the invitee(s) successfully.</span>
        <a class="close-modal">Close</a>
      </div>
    </div>
</div>

<div class="modal-container" data-modal-container-type="send-app-download-sms">
    <div class="exit-modal"></div>
    <div class="message">
        <div class="checkmark-icon">
            <span>Success! Please check the text message from your phone.</span>
            <a class="close-modal">Close</a>
        </div>
    </div>
</div>
