<div class="section">
  <div class="container">
    <div class="content nav-container">
      <div class="nav-inner-container clearfix">
        <div class="three columns navigation-links" data-nav-link="services">Services</div>
        <div class="three columns navigation-links" data-nav-link="downloads">Downloads</div>
        <div class="three columns navigation-links contact-nav" data-nav-link="contact">Contact
          <ul class="subnav-mobile">
            <li data-nav-link="chat">Chat</li>
            <li data-nav-link="create-account">Create Account</li>
            <li data-nav-link="contact-us">Contact Us</li>
          </ul>
        </div>
        <div class="three columns navigation-links about" data-nav-link="about-us">About Us</div>
      </div>
      <a id="search-nav"><img src="img/home/search.png" alt="Search" width="19" /></a>
    </div>
  </div>
</div>
<div class="section dark-gray-bg subnav">
  <div class="container clearfix">
      <div class="columns four subnav-links" data-nav-link="chat">Chat</div>
      <div class="columns four subnav-links" data-nav-link="create-account">Create Account</div>
      <div class="columns four subnav-links" data-nav-link="contact-us">Contact Us</div>
  </div>
</div>
