<div id="privacy-policy" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
        <h1>
          Conference America, Inc.</br>
          Privacy Policy
        </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <p>
          Conference America does not intentionally collect nonpublic personally identifiable information from our clients except the information we collect about you when you visit our web site and when you purchase or use our events, including, but not limited to, conference calls, replay, fax services, WebEcho and VOSN (the "Events"). This privacy policy details our information collection practices related to your User Information (as described below) and other related information, as a web site visitor and customer, and the limited manner in which we will use and disclose such information you provide us. Policy Consent and Revision Notification By using and participating in our Events, you voluntarily consent to the collection and use of your information by us as set forth in this privacy policy and other written documentation provided to you regarding the Events. If you have any questions concerning this privacy policy or our data collection practices you may contact us at info@yourcall.com. We reserve the right to change this privacy policy at any time. Please check this privacy policy regularly for any changes or updates.
          </p>

          <p>
          <span>KEY TERMS</span><br/>
          Throughout this privacy policy we use several specialized terms. When we use the term "Personally Identifiable Information" in this privacy policy, we mean information that tells us specifically who you are, your contact information or your Event participation, like your name, street address, email address, telephone number, billing information and other account information. The term "User Information" incorporates all of your Personally Identifiable Information and any other forms of information discussed in this privacy policy.
          Information Collection, Use and Disclosure Practices: Visiting Our Site. When you visit our web site to browse, we may collect and use information such as what type of computer modem and Internet browser you are using. Cookies are small text files that our web site may send to your browser for storage on the hard drive. A type of cookie may be deployed if you use our web site. Cookies can make use of our web site easier by saving your status and preferences upon visits to our web site. Most browsers are initially set to accept cookies, but you may be able to change the settings to refuse cookies or to be alerted when cookies are being sent. Although you may have the ability to modify your browser and reject certain cookies, it may affect your use of the web site and the services we provide. We may, at some point, share this information with third parties if we choose to aggregate and disclose site traffic information for marketing or commercial purposes. When visiting our site, you may choose an option to contact us. When you use this option, you may provide us certain Personally Identifiable Information. We may use the Personally Identifiable Information you give us to send you the information or provide you the Events you request. From time to time, we may also include survey forms on our site asking visitors or users for contact, demographic or other information. We may use such User Information we collect from your email and survey responses to send you additional marketing materials about our Events or other services that we provide. Except for your Personally Identifiable Information, we may use and disclose with or without your acknowledgement or compensation to you any information contained in your email or survey responses, including, but not limited to, questions, comments, suggestions, ideas or any other creative materials or information.
          </p>

          <p>
          <span>USING OUR EVENTS</span><br/>
          When you make reservations online to use our Events or you access or order our Events online, you must provide certain Personally Identifiable Information for you to properly and fully receive the requested Events. We collect and store this Personally Identifiable Information and any modifications that either we or you make to that information. Except as set forth in this policy, we will not reveal any such Personally Identifiable Information to any other third party without your consent, except that we may share User Information with our business associates who assist us in administering or providing the Events. Furthermore, we may use, disclose or transfer certain User Information (i) to provide you enhanced Events; (ii) to obtain a credit report; (iii) to protect the confidentiality or security of your records; (iv) to maintain and service our systems; (v) to provide you with billing or related services; (vi) to resolve client disputes; (vii) to law enforcement or other government officials if appropriate for your protection or in connection with an investigation or prosecution of possible unlawful activity; (viii) in connection with a sale or merger of our business; (ix) to our attorneys, accountants, or regulators or (x) for other legally permissible purposes. We may also share User Information or aggregate anonymized data relating to the transactions on the site and use of the Events with independent contractors and other business for marketing, research and other purposes.
          </p>

          <p>
          <span>RECORDING OF TELEPHONE COMMUNICATIONS</span><br/>
          For certain Events, we may, at your request, record or transcribe your telephone communications between you and your event participants. We may also monitor and record telephone communications between you and our employees for quality control and training purposes. We protect the Personally Identifiable Information we collect through these telephone recordings and transcriptions in the same manner as other Personally Identifiable Information covered by this policy. We will only permit authorized employees and business associates to access these recordings or transcriptions. In addition, we will only allow customers and event participants access to recordings and transcriptions of their own calls with the proper assigned security codes or other identity verifications. Our employees are subject to confidentiality policies and nondisclosure agreements binding them to only use your Personally Identifiable Information in connection with the performance of their employment. Business associates that help provide our Events must also enter nondisclosure agreements with us. Such nondisclosure agreements require business associates to solely use your Personally Identifiable Information in connection with their Events obligations.

          <p>
          <span>SECURITY</span><br/>
          Security Measures: We employ and maintain technology and security measures designed to protect your User Information. When you submit sensitive information via our sites, that information is subject to a variety of protections, including firewalls. However, no data transmission over the Internet can be guaranteed as 100% secure. As a result, while we strive to protect your User Information, we cannot ensure or warrant the security of any information you transmit to us or receive from us.
          </p>

          <p>
          Security Codes: To help secure your User Information associated with certain Event usage, we utilize security code protected systems. To access certain Events, you and your event participants must provide us with the correct access telephone numbers and access codes. We will never ask for your security codes in an unsolicited phone call or in an unsolicited email. Except as specifically permitted by this privacy policy or other instructions regarding the Events, you will not lend, give, or otherwise disclose any security codes to any unauthorized person, or permit any unauthorized person to use your accounts or related security codes. Any loss of control of your security codes may result in the loss of control over your Personally Identifiable Information. You will be responsible for any actions taken or Events utilized on your behalf or any person using your security codes. If security codes have been compromised for any reason, then you should immediately notify us so that we may issue you a new security code.
          </p>

          <p>
          <span>ENTRY AND EXIT CONTROLS</span><br/>
          You may also control the participants of your conference call with our SureLok™ security feature. This feature is designed to allow you to lock your conference calls so no unauthorized persons, including our operators, can join or listen to your conversations. You may also choose feature options that provide a tone broadcast or operator announcement each time a participant joins or leaves the conference call. Your use of such SureLok™ and participant change notification features are subject to the terms and conditions of agreements applicable to our Events.
          </p>

          <p>
          Third Party Web Sites: You may have the option to enter third party web sites through our web site. Since we cannot be assured that links to third party web sites follow our privacy policies, we encourage you to ask questions and review the privacy policies of these third parties. We have no responsibility or liability for the actions or policies of these independent sites, and are not responsible for the content or privacy practices of such sites.
          </p>

          <p>
            <button class="button print">Print This Page</button>
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
