<div id="services" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
				<h1>Unmatched Personal Service &mdash; By&nbsp;Design<span class="sup">&reg;</span> </h1>
				<h4>Getting connected has never been so easy. No matter if you need a simple telephone conference or all the bells and whistles of a webinar, you will always get the best customer service in the industry.</h4>
        <a class="button desktop-only page-linking" data-pages="create-account">Create an Account</a>
        </div>
      </div>
    </div>
  </div>


  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <a class="button mobile-only page-linking" data-pages="create-account">Create an Account</a>
        </div>
      </div>
      <div class="content clearfix">
        <table class="information">
          <tr>
            <td class="icon">
              <img src="img/services/icon-arrow.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2 id="alwaysOn">AlwaysOn Conferencing&reg;</h2>
              <p>
                You can’t always plan each meeting, but you can get around-the-clock access to a dedicated conferencing line without having to make reservations. AlwaysOn Conferencing&reg; is a quick and easy solution for impromptu meetings.
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul class="list">
                <li class="top">AlwaysOn Control</li>
                <li>Call Transcriptions</li>
                <li>Conference Replay</li>
                <li>Dedicated Personal Toll-Free Number</li>
                <li>International Services</li>
                <li>MP3 Recordings</li>
                <li class="bottom">Operator Help When You Need It</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td class="icon">
              <img src="img/services/icon-medal.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2>Operator Handled</h2>
              <p>
                Not all calls are created equal. There are certain meetings that require more than the average set up. Enter our white glove, Operator Handled services. Our highly skilled team of conferencing professionals will help you every step of the way.
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul class="list">
                <li class="top">Account Specific 800# &amp; Passcode</li>
                <li>Approved Party List</li>
                <li>Call Transcriptions</li>
                <li>Conference Replay</li>
                <li>Full-Time Monitor</li>
                <li>Meeting Control</li>
                <li>MP3 Recordings</li>
                <li>Participant Lists</li>
                <li class="bottom">Spanish Language Services</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td class="icon">
              <img src="img/services/icon-sound.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2 id="hdv">HD Voice</h2>
              <p>
                Pairing Conference America’s unmatched personal service with HD Voice will change the way you think about meetings. With this game changing service you get crystal clear sound and live support, day and night. <br/>
                <a href="#">LEARN MORE »</a>
              </p>
            </td>
          </tr>

          <tr>
            <td class="icon">
              <img src="img/services/icon-adobe.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2>Adobe Connect</h2>
              <p>
                Conference America has partnered with Adobe&reg; Connect&trade; to bring you the world’s greatest variety of web meeting and collaboration tools. <br/>
                <a href="#">LEARN MORE »</a>
              </p>
            </td>
          </tr>

          <tr>
            <td class="icon">
              <img src="img/services/icon-mouse.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2>Web Echo Event</h2>
              <p>Meet in real-time without the hassle or cost of travel. With Web Echo Event you can present and collaborate with just a click of the mouse.
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul class="list">
                <li class="top">Reporting</li>
                <li>Promote/Demote Participants</li>
                <li>No Participant Downloads</li>
                <li>Live Event Monitoring</li>
                <li>Detailed Registration</li>
                <li>Branding</li>
                <li>Application Sharing</li>
                <li>File Sharing</li>
                <li>Webcam Sharing</li>
                <li>Chat: Private or Group</li>
                <li>Polling</li>
                <li>Q&amp;A</li>
                <li class="bottom">250+ viewers</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="section section-2 curl-bg">
    <div class="container">
      <div class="content clearfix">
        <h1>Get started now</h1>
        <a class="button page-linking" data-pages="create-account">Create an Account</a>
      </div>
    </div>
  </div>

  <div class="section section-3">
    <div class="container">
      <div class="content clearfix">
        <table class="information">
          <tr>
            <td class="icon">
              <img src="img/services/icon-chat.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2>Spanish Language Services</h2>
              <p>
                Watch productivity soar when you let our bilingual conferencing specialists help you bridge the language gap. <a class="page-linking" data-pages="spanish-services">LEARN MORE »</a>
              </p>
            </td>
          </tr>

          <tr>
            <td class="icon">
              <img src="img/services/icon-events.png" alt="Icon"/>
            </td>
            <td class="table-content">
              <h2>Special Events</h2>
              <p>Not sure how to get started setting up a high profile call? </p>
              <p>
                Some calls require a little more TLC than others. Let us help you coordinate your next conferencing event. Our conferencing and web specialists have the experience, professionalism and expertise required to make any event special. Whether you need to hold a press conference, address your entire company, host a seminar, train new employees, interview prospects or anything in between &mdash; we’re here to help. We can handle the logistics to make sure all your bases are covered before your event ever takes place.
              </p>
            </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</div>
