<div id="spanish-services" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
				<h1>Spanish Language Services</h1>
        <a class="button translate-toggle-english">
          <span>In English</span>
        </a>
        <a class="button translate-toggle-spanish view-cta">
          <span>En Español</span>
        </a>
        </div>
      </div>
    </div>
  </div>


  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <table class="information">
          <tr>
            <td class="table-content">
              <h2>
                <span class="spanish">Romper las Barreras del Idioma</span>
                <span class="english view">Break Down the Language Barriers</span>
              </h2>
              <p>
                <span class="spanish">
                  Conference América está comprometido a conectar nuestros clientes Latinoamericanos. Los especialistas de conferencia bilingüe le ayudarán planear, llevar a cabo y dar seguimiento a cualquier llamada no importa el tamaño.
                </span>
                <span class="english view">Conference America is committed to connecting our Latin American customers. Our bilingual conferencing specialists can help you plan, execute and follow up with any call &mdash; big or small.</span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <ul class="list">
                <li class="top">
                  <span class="spanish">Cuenta Específica #800 y Contraseña</span>
                  <span class="english view">Account Specific 800# &amp; Passcode</span></li>
                <li>
                  <span class="spanish">Saludo de Bienvenida personalizada</span>
                  <span class="english view">Branding</span></li>
                <li>
                  <span class="spanish">Servicio International</span>
                  <span class="english view">International Services</span></li>
                <li>
                  <span class="spanish">Lista de personas aprobadas</span>
                  <span class="english view">Approved Party List</span></li>
                <li>
                  <span class="spanish">Relación con Inversionistas</span>
                  <span class="english view">Investor Relations</span></li>
                <li>
                  <span class="spanish">Lista de Participantes</span>
                  <span class="english view">Participant Lists</span></li>
                <li>
                  <span class="spanish">Traducción e Interpretación</span>
                  <span class="english view">Translation</span></li>
                <li>
                  <span class="spanish">Entrada ayudada por el operador</span>
                  <span class="english view">Call Transcriptions</span></li>
                <li>
                  <span class="spanish">Operador siempre presente</span>
                  <span class="english view">Operator Handled Entry</span></li>
                <li>
                  <span class="spanish">Sesión de Preguntas y respuestas bilingüe</span>
                  <span class="english view">Bilingual Q&amp;A</span></li>
                <li>
                  <span class="spanish">Grabación</span>
                  <span class="english view">Recording</span></li>
                <li class="bottom">
                  <span class="spanish">Reproducción de la conferencia</span>
                  <span class="english view">Conference Replay</span></li>
              </ul>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
