<div id="success-page" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <!-- SUCCESS PAGE FOR INVOICE/CREDIT CARD -->
        <div class="twelve columns success-page-type" data-success-page-type="create-account">
          <h1 class="checkmark">Congrats!</h1>
          <p>
            We have received your request.
          </p>
          <p>
            We will begin processing your account immediately. If it is outside the standard business hours of 8am to 5pm CST, and you need this service ASAP, please call us at <span>1.800.925.8000</span>.
          </p>
          <p>
            We will contact you as soon as the account is processed and get you all set for running your next conference call.
          </p>
          <p>
            Thank you, we look forward to working together!<br/>
            – the Conference America team
          </p>
        </div>

        <!-- SUCCESS PAGE FOR CONTACT US -->
        <div class="twelve columns success-page-type" data-success-page-type="contact">
          <h1 class="checkmark">Received!</h1>
          <p>
            Thank you for reaching out to us. A representative will be in touch with you soon. If it is outside the standard business hours of 8am to 5pm CST, and you need immediate assistance, please call us at <span>1.800.925.8000</span>.
          </p>
        </div>

        <!-- SUCCESS PAGE FOR LEADER ADDED -->
        <div class="twelve columns success-page-type" data-success-page-type="add-leader">
          <h1 class="checkmark">Success!</h1>
          <p>
            Your request to add a leader has been received. Our conferencing specialists will process your request and send you a confirmation shortly. If you need further assistance please call <span>1.800.925.8000</span> or <a>chat with a specialist</a>!
          </p>
        </div>

        <!-- SUCCESS PAGE FOR SCHEDULE MEETING -->
        <div class="twelve columns success-page-type" data-success-page-type="schedule-meeting">
          <h1 class="checkmark">Success!</h1>
          <p>
            We have received your online registration. Our team of conferencing experts will process your request and send a confirmation shortly. We are committed to helping you set up and run seamless and successful meetings. If you need further assistance please call <span>1.800.925.8000</span> or <a>chat with a specialist</a>!
          </p>
        </div>

        <div class="twelve columns success-page-type" data-success-page-type="always-on-mp3-recording-request">
          <h1 class="checkmark">Success!</h1>
          <p>
            We have received your request. Remember, you may use AlwaysOn Replay to listen to your recording at any time. Simply dial <span>1.877.919.4059</span> and enter your passcode. *Note: Recordings will expire within 60 days unless an extension is requested.            
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
