<div id="terms-and-conditions" class="section triangle-bg">
  <!-- HERO -->
  <div class="section hero">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
        <h1>Terms &amp; Conditions of Use of&nbsp;Website</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <p>Applicability and Acceptance of Terms and Conditions of Use. Except as otherwise set forth herein, these General Terms and Conditions of Use (“Terms and Conditions”) govern your use of the Conference America (“Conference America”) web site. By accessing and using the Conference America’s web site, you acknowledge that you have read and agree to these Terms and Conditions. If you do not agree to be bound by these Terms and Conditions, you are requested to immediately exit this site.
          </p>

          <p>These Terms and Conditions do not govern services available from Conference America to the extent that any specific terms and conditions apply to such services. Those services are instead governed by the specific agreements, policies, instructions, statements and regulations relating to such services, and such governing documents shall control in the event of a conflict with these Terms and Conditions or any material contained on this web site.
          </p>

          <p>
          Revisions to Terms and Conditions<br/>
          Please refer to these Terms and Conditions regularly. Conference America may at any time and without prior notice revise these Terms and Conditions by updating this posting. Your continued use of this site following posting of changes to these Terms and Conditions signifies that you accept these changes.
          </p>

          <p>
          <span>COPYRIGHT</span><br/>
          All of the contents of this site are copyrighted. The material on this web site may be used for noncommercial purposes only.
          </p>

          <p>
          <span>TRADEMARKS</span><br/>
          The name "Conference America" and the graphics and logos displayed on this web site are for the exclusive use of Conference America and may not be used without the prior written permission of Conference America. Conference America does not permit the use of its name, graphics or logos in advertising, as an endorsement for any product or service, or for any other commercial purpose without Conference America's prior written approval.<br/>
          DISCLAIMER. THIS WEB SITE, INCLUDING, WITHOUT LIMITATION, ALL INFORMATION AND SERVICES MADE AVAILABLE ON THIS WEB SITE, IS PROVIDED “AS IS.” CONFERENCE AMERICA, ITS EMPLOYEES AND ITS AGENTS MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND OR NATURE WHATSOEVER REGARDING THE CONTENTS OR SERVICES OF THIS WEB SITE, OR HYPERTEXT LINKS TO OTHER OUTSIDE WEB SITES. CONFERENCE AMERICA, ITS EMPLOYEES AND ITS AGENTS DISCLAIM ANY EXPRESS OR IMPLIED WARRANTIES OF ANY KIND OR NATURE WHATSOEVER, INCLUDING, WITHOUT LIMITATION, WARRANTIES RELATED TO ANY COURSE OF DEALING, USAGE OR TRADE PRACTICE, AND IMPLIED WARRANTIES OF NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. MOREOVER, CONFERENCE AMERICA DOES NOT REPRESENT OR WARRANT THAT YOUR ACCESS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS WEB SITE AND MATERIAL ACCESSIBLE FROM THIS WEB SITE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.<br/>
          THIS WEB SITE INCLUDES INFORMATION THAT IS SUBJECT TO CHANGE WITHOUT NOTICE. WHILE CONFERENCE AMERICA DESIRES THAT THE INFORMATION ON THIS WEB SITE BE UP-TO-DATE AND ACCURATE, IT IS YOUR SOLE RESPONSIBILITY TO CONFIRM THE ACCURACY OR RELIABILITY OF SUCH INFORMATION. CONFERENCE AMERICA DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING THE USE OF THE INFORMATION ON THIS WEB SITE OR THE ACCURACY OR RELIABILITY OF SUCH INFORMATION.
          </p>

          <p>
          <span>LINKS</span><br/>
          Conference America may, from time to time, provide relevant links to other outside web sites. Conference America is not responsible for such linked web sites or the content of any of the linked web sites. Conference America provides these links as an additional resource for its web site users and makes no representations regarding the content of any linked web site or any companies that own, control or manage the linked web sites. Consequently, Conference America cannot be held responsible for the accuracy, relevancy, copyright compliance, legality or decency of material contained in, or services or products offered by, web sites linked to from this web site.<br/>
          Please be advised that the security of the Internet cannot be guaranteed and therefore your privacy thereon cannot be assured. Conference America is not responsible for any unauthorized access to communications that you submit over the Internet.
          </p>

          <p>
          <span>PRIVACY</span><br/>
          Conference America takes steps to preserve the privacy of personal information you submit over our website. Please review the Conference America Privacy Policy for more information about how Conference America handles personal information.<br/>
          LIMITATION OF LIABILITY. CONFERENCE AMERICA SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OR PERFORMANCE OF, OR THE INABILITY TO USE, THE CONFERENCE AMERICA WEB SITE OR INFORMATION OR FUNCTIONS ON SUCH SITE, EVEN IF CONFERENCE AMERICA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL CONFERENCE AMERICA’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE, EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR ACCESSING THIS WEB SITE.
          </p>

          <p>
          <span>INDEMNIFICATION</span><br/>
          You hereby agree to defend, indemnify and hold harmless Conference America and its directors, officers, employees and agents from and against all claims and expenses, including attorneys' fees, arising out of your use of this web site.
          </p>

          <p>
          <span>GENERAL</span><br/>
          These Terms and Conditions and all information on this web site are governed by and shall be construed in accordance with the laws of the State of Alabama and of the United States of America. Any action or proceeding arising out of these Terms and Conditions must be brought in the state or federal courts located in Montgomery County, Alabama and you hereby consent to jurisdiction and venue in such courts and waive any objection to such jurisdiction on the grounds that it is an inconvenient forum or any similar grounds. To the extent any portion of these Terms and Conditions is determined to be unenforceable by a court of competent jurisdiction, such portion will be modified solely to the extent necessary to cause such portion to be enforceable, and these Terms and Conditions, as modified, shall remain in full force and effect. This is the entire agreement between users and Conference America relating to the subject matter herein and shall not be modified except in writing signed by both parties.
          </p>

          <p>&copy; 2009, Conference America. All Rights Reserved.<br/>
          Conference America Web Site General Terms and Conditions Of Use.</p>

          <p>
            <button class="button print">Print This Page</button>
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
