body {
	font-size: 16px;
	background-color: $dark-gray;
	color: #3c3c3c;
}

body.cc-menu {
	#client-corner {
		@include transform(translateX(0));
		opacity: 1;
	}
}

.meeting-control-header {
	display: none;
	background: white;
}

body.hide-elements {
	.main-header, #footer {
		display: none;
	}
	.meeting-control-header {
		border-bottom: 5px solid $dark-teal;
		display: block;
		.meeting-control-headline, #logout {
			position: absolute;
			top: 50%;

			@include transform(translateY(-50%));
		}

		#header .header-section {
			max-width: 1440px;
			.logo {
				.desk-logo {
					overflow: hidden;
					height: 45px;
					display: inline-block;
					img {
						height: 66px;
					}
				}
			}
		}

		.meeting-control-headline {
			display: none;
			left: rhythm(1);
			.meeting-control-title {
				font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 30px;
				.control {
					font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
					color: $dark-teal;
				}
			}
		}

		#logout {
			 right: rhythm(1);
			 background: #dedede;
			 color: $navbar-gray;
			 line-height: 42px;
			 min-width: 88px;
			 font-size: 15px;
			 font-weight: bold;
		}
	}
}

#header-container {
	position: relative;
	width: 100%;
	display: block;
	z-index: 9990;
}

#main {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: white;
}
.section {
	width: 100%;
	position: relative;
	.container {
		.content {
			width: 100%;
			max-width: 940px;
			position: relative;
			margin: 0 auto;
		}
	}

}
.white-bg {
	background: white;
}
.teal-bg {
	background: $teal;
}
.dark-gray-bg {
	background: $dark-gray;
}
.triangle-bg {
	background: url('../img/bg/bg-pattern-triangle.jpg') repeat;
	background-position: center;
	background-size: 188px;
}
.curl-bg {
	background: url('../img/bg/bg-pattern-curl.jpg');
	background-size: 50px;
	background-position: center;
}

@media screen and (min-width: 940px) {
	.section {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
}

@media screen and ($tablet-breakpoint) {
	#header-container {
		position: fixed;
		width: 100%;
		top: 0;
	}
	#main {
		margin-top: 226px;
	}

	.body-scroll {
		#header-container {
			#header {
				height: 94px;
				.header-section {
					#home {
						overflow: hidden;
						height: 54px;
					}
					.right-nav {
						height: 60px;
						border: none;
						.nav {
							height: 30px;
						}
						.client {
							border: none;
							.username {
								display: none;
							}
						}
					}
				}
			}
		}
		#main {
			margin-top: 146px;
		}
	}

	body.hide-elements {
		#header {
			height: 94px;
		}

		#main {
			margin-top: 100px;
		}

		&.body-scroll {
			#main {
				margin-top: 100px;
			}
		}
		.meeting-control-header {
			border-bottom: 10px solid $dark-teal;
			#header .header-section {
				.logo {
					.desk-logo {
						display: none;
					}
					.mobile-logo {
						.ca-mobile {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

			.meeting-control-headline {
				display: inline-block;
			}
		}
	}

	.display-show {
		opacity: 1;
		visibility: visible;
	}
	.display-hide {
		opacity: 0;
		visibility: hidden;
	}
}
