.chat-container {
	display: block;
	position: relative;
	width: 100%;
	max-width: 500px;
	padding: 0 0 rhythm(2);
	background-color: $teal;
	background: url('../img/bg/bg-chat.jpg');
	background-size: cover;

	h1, p {
		margin: 0 0 15px;
		color: white;
	}
	h1 {
		font-size: em-value(18);
	}
	p {
		font-size: em-value(14);
	}
	form {
		label {
			color: white;
			display: inline-block;
			margin-bottom: rhythm(0.667);
		}
	}

	.chat-title {
		text-align: center;
		position: relative;
		width: 100%;
		background: white;
		margin-bottom: rhythm(2);
		p {
			color: $nav-dark-gray;
			font-size: em-value(10);
			position: relative;
			padding: rhythm(0.333) 0;
			&:before {
				content: '';
				background: url("../img/icons/lock.png") no-repeat;
				background-size: 8.5px 11px;
				width: 8.5px;
				height: 11px;
				position: absolute;
				margin-left: rhythm(-1);
			}
		}
	}
	.chat {
		form {
			position: relative;
			margin: 0 auto;
			width: 90%;
			max-width: 275px;

			h1 {
				position: relative;
				margin-left: 40px;
				&:before {
					content: '';
					background: url("../img/icons/chat-white.png") no-repeat;
					background-size: 25px 23.5px;
					width: 25px;
					height: 23.5px;
					position: absolute;
					margin-left: rhythm(-2.667);
				}
			}
			input[type=text], input[type=email], input[type=password] {
				line-height: 38px;
			}
			button {
				margin-top: 10px;
				margin-top: 10px;
				line-height: 45px;
			}
		}
	}
}

@media screen and (min-width: 400px) {
	.chat-container {
		z-index: 2;
		width: 100%;

		h1 {
			font-size: em-value(18);
		}
		.chat {
			form {
				position: relative;
				margin: 0 auto;
				width: 100%;
				max-width: 284px;

				h1 {
					margin-left: 0;
				}

				button {
					display: block;
					line-height: 45px;
					max-width: 115px;
				}
			}
		}
	}
}
