#client-corner {
	z-index: 9999;
	@include transform(translateX(321px));
	@include transition(transform 0.3s ease);
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 320px;
	background: $nav-dark-gray;
	border-left: 1px solid $gray;
	color: #fff;
	padding: 0;
	overflow-y: scroll;
	opacity: 0;
	.container {
		padding: 0 20px;
	}
	.exit {
		z-index: 9999;
		position: absolute;
		top: 7px;
		right: 0;
		background: url('../img/header/close-white.png') no-repeat;
		background-size: 17px 17px;
		width: 17px;
		height: 17px;
		margin: 25px 20px;
		cursor: pointer;
	}

	p {
		line-height: rhythm(2);
		margin: rhythm(2) 0 rhythm(2) 28px;
		margin-left: 28px;
		color: $off-gray;
		font-size: em-value(13);
		&:before {
			content: ' ';
			left: 20px;
			position: absolute;
			background: url('../img/client-corner/link-icons.png') no-repeat;
			background-size: 198px 22px;
			width: 22px;
			height: 22px;
			background-position: -176px 0;
		}
	}
	.log-state {
		color: white;
		margin: 0 0 0 28px;
		cursor: pointer;
		&:before {
			background-position: -154px 0;
			left: 19px;
		}
	}

	.user {
		margin: rhythm(1) 0 rhythm(2);
		font-size: em-value(13);
		line-height: 1.3;
		span {
			color: white;
			font-size: em-value(24);
		}
		&:before {
			background: none;
		}
	}

	.button {
    line-height: 38px;
    font-size: 17px;
		display: block;
	}

	.login-container {
		input[type="text"], input[type="password"] {
			color: $nav-dark-gray;
		}
		label span {
			font-size: 13px;
		}
		#remember {
			display: block;
		}
		.button {
			margin-top: rhythm(1);
		}
	}

	.cc-links {
		list-style-type: none;
		padding: 0;
		margin: rhythm(2) 0 0;
		li {
			border-bottom: 1px solid $border-gray;
			padding-top: rhythm(0.333);
			&:last-child {
				border-bottom: none;
			}
			a {
				color: white;
				text-decoration: none;
				padding-left: rhythm(2);
				line-height: 35px;
				font-size: em-value(13);
				@include transition(color 0.05s ease-in);
				cursor: pointer;

				&:hover {
					color: $cc-hover;
				}
			}
			&:before {
				content: ' ';
				position: absolute;
				background: url('../img/client-corner/link-icons.png') no-repeat;
				background-size: 198px 22px;
				width: 22px;
				height: 22px;
				margin-top: rhythm(0.333);
			}
			&.meeting:before {
				background-position: 0 0;
			}
			&.web-echo:before {
				background-position: -22px 0;
			}
			&.adobe-connect:before {
				background-position: -44px 0;
			}
			&.account:before {
				background-position: -66px 0;
			}
			&.controls:before {
				background-position: -88px 0;
			}
			&.invoice:before {
				background-position: -110px 0;
			}
			&.resources:before {
				background-position: -132px 0;
			}

			.cc-sublinks {
				list-style-type: none;
				padding: 0;
				margin: 0;
				height: 0;
				overflow: hidden;
				li {
					border-bottom: none;
					a {
						color: $gold;
						line-height: 2;
					}
					&:before {
						background: none;
					}
				}
			}
			&.open {
				.cc-sublinks {
					height: auto;
					padding-bottom: rhythm(1);
				}
			}
		}
	}
}
