#contact {
	form {
		margin: rhythm(2) 0;
		input[type=text], input[type=email], input[type=password] {
			max-width: 450px;
			line-height: 47px;
			height: 47px;
			border: 1px solid #ccc;
			min-width: initial;
		}

		.input-container {
			position: relative;

			.button {
				margin: rhythm(2) 0 0;
				max-width: 108px;
				min-width: 0;
				line-height: 47px;
			}

			label { margin-right: rhythm(2) }
		}
	}

	h1 {
		color: $navbar-gray;
	}

	.hero{
		background: url('../img/hero/contact.jpg');
		background-size: cover;
		background-position: 60% center;
		h1 {
			color: white;
			font-size: em-value(23);
			line-height: 1.2;
		}
		h4 {
			color: white;
			font-size: em-value(13);
			line-height: 1.3;
		}
	}

	.section-1 {
		padding: rhythm(2) 0;

		.columns {
			padding: 0 rhythm(2);
		}
		.six.columns { padding: rhythm(1) 0 0 }
		h1 {
			font-size: em-value(20);
			margin-bottom: rhythm(0.333);
		}
		p {
			color: $navbar-gray;
			margin-bottom: rhythm(1);
			font-size: em-value(14);
			span {
				font-weight: bold;
			}
			&.teal {
				color: $dark-teal;
			}
		}
		.title-required {
			span {
				color: $teal;
				font-size: 28px;
		    vertical-align: baseline;
		    position: relative;
		    top: 0.35em;
			}
			font-size: em-value(16);
			line-height: 0.5;
		}
	}
}

@media screen and ($tablet-breakpoint) {

	#contact {
		form {
			margin: rhythm(3) 0;
		}
		
		.hero {
			background-position: center;
			min-height: 300px;
			.columns { padding: 0; }

			h1 {
				color: white;
				font-size: em-value(40);
			}
			h4 {
				color: white;
				font-size: em-value(22);
			}
		}

		.section-1 {
			text-align: left;
			.columns { padding: 0 rhythm(2); }
			h1 {
				font-size: em-value(29);
			}
			p {
				font-size: em-value(20);
			}
		}

	}
}
