#create-account {
	h1 {
		color: $navbar-gray;
	}
	h3 {
		color: $gray;
	}

	.hero{
		background: url('../img/hero/create-account.jpg');
		background-size: cover;
		background-position: 60% center;
		h1 {
			color: white;
			font-size: em-value(23);
			line-height: 1.2;
		}
		h4 {
			color: white;
			font-size: em-value(13);
			line-height: 1.3;
		}
	}

	.section-1 {
		text-align: center;
		padding: rhythm(2) 0;
		.columns {
			padding: 0 rhythm(2);
		}
		.six.columns { padding: rhythm(1) 0 0 }
		h1 {
			color: white;
			font-size: em-value(20);
			margin: 0 0 rhythm(1.25);
		}
		h2 {
			color: $light-gray;
			font-weight: 100;
			font-size: em-value(20);
			line-height: em-value(26);
			margin: 0 0 rhythm(1);
		}
		h3 {
			color: $light-gray;
			font-size: em-value(15);
			line-height: em-value(24);
			margin: 0 0 rhythm(1);
		}
		.btn-container {
			max-width: 530px;
		}
		.button {
			font-size: em-value(17);
			line-height: 63px;
		}
	}


}

@media screen and ($tablet-breakpoint) {
	#create-account {
		.hero {
			background-position: center;
			min-height: 300px;
			h1 {
				color: white;
				font-size: em-value(40);
			}
			h4 {
				color: white;
				font-size: em-value(22);
			}
		}
		.section-1 {
			padding: rhythm(5.5) 0;
			.columns { padding: 0; }
			h1 {
				font-size: em-value(40);
			}
			h2 {
				color: $light-gray;
				font-size: em-value(24);
				line-height: em-value(28);
				margin: 0 0 rhythm(1);
			}
			h3 {
				font-size: em-value(17);
				line-height: em-value(26);
			}
			.btn-container {
			max-width: 530px;
			}
			.button {
				font-size: em-value(20);
				line-height: 63px;
			}
		}

	}
}
