#downloads {
	h1 {
		color: $navbar-gray;
	}
	h3 {
		color: $gray;
	}

	.hero{
		background: url('../img/hero/downloads.jpg');
		background-size: cover;
		background-position: center;
		min-height: 0;
		.content {
			text-align: center;
			margin: rhythm(2) 0;
			h1 {
				color: white;
				font-size: em-value(20);
				margin: 0 0 rhythm(0.667);
			}
			h3 {
				color: white;
				font-size: em-value(15);
				line-height: em-value(24);
				margin: 0 0 rhythm(0.33);
			}
		}
	}

	.section-1 {
		text-align: center;
		background: $teal;
		padding: 5px 0 rhythm(2);
		.columns {
			padding: 0 rhythm(2);
		}
		.six.columns { padding: rhythm(1) 0 0 }

		h5 {
			color: $light-gray;
			line-height: em-value(24);
			font-size: em-value(12);
		}
		.mobile {
			max-width: 800px;

			.ios {
				width: 149px;
			}
			.google {
				width: 152px;
			}
			.button {
				margin: 0 auto rhythm(1);
				font-size: em-value(17);
				line-height: 52px;
			}
			.app-link-block {
				display: inline-block;
				margin-bottom: 10px;
			}

			span {
				color: white;
				font-size:0.7em;
				display: block;
			}
			input[type="text"] {
				width: 206px;
				height: 52px;
				border-radius: 5px;
				padding: 0 10px;
				border: none;
				text-align: center;
			}
			.columns, .column {
				margin: 0;
			}
			.five, .one {
				width: 100%;
			}

			.or {
				line-height: 52px;
				color: white;
				font-size: em-value(16);
			}
		}
	}

	.section-2 {
		padding: rhythm(2) 0;
		h1 {
			font-size: em-value(20);
			margin-bottom: rhythm(0.667);
		}
		h3 {
			font-size: em-value(12.5);
			margin-bottom: rhythm(2);
		}
		.download.content {
			background: white;
		}
		.twelve {
			text-align: center;
			padding: 0 rhythm(2);

			.information {
				width: 100%;
				tr {
					.icon {
						width: 50px;
						text-align: center;
						padding: rhythm(1) 0 rhythm(1);
						vertical-align: top;
						img {
							width: 50%;
						}
					}
					.table-content {
						text-align: left;
						padding: rhythm(1) 0;
						vertical-align: top;
						h2 {
							font-size: em-value(15);
							margin-bottom: rhythm(0.333);
							color: $gold;
							a { text-decoration: none }
						}
						h3 {
							font-size: em-value(14);
							margin-bottom: rhythm(0.333);
							color: $navbar-gray;
						}
						.list {
							background: white;
							list-style-image: none;
							list-style-type: none;
							position: relative;
							padding-left: rhythm(1);
							margin: rhythm(0.333) 0 rhythm(0.6667);
							li {
								font-size: em-value(13);
								a {
									color: $gray;
									text-decoration: none;
								}
								&:before {
									content: ' ';
									width: 9px;
									height: 9px;
									position: absolute;
									background: url('../img/downloads/icon-download-checkmark.png') no-repeat;
									background-size: 9px;
									background-position: center;
									left: 0px;
									padding-top: rhythm(0.333);
								}
							}
							.release-notes {
								padding-top: rhythm(0.333);
								a {
									color: $gold;
									text-decoration: none;
									font-size: em-value(13);
									text-transform: uppercase;
								}
								&:before {
									content: ' ';
									width: 10px;
									height: 12px;
									position: absolute;
									background: url('../img/downloads/icon-edit.png') no-repeat;
									background-size: 9px 11px;
									background-position: center;
									left: 0px;
									padding-top: rhythm(0.333);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#downloads {
		.hero {
			background-position: center;
			.content {
				margin: rhythm(6) 0;
				h1 {
					font-size: em-value(40);
				}
				h3 {
					font-size: em-value(22);
					line-height: em-value(26);
				}
			}
		}
		.section-1 {
			padding: rhythm(1) 0 rhythm(2.667);
			.columns { padding: 0; }

			h5 {
				font-size: em-value(17);
				line-height: em-value(26);
			}
			.mobile {
				max-width: 800px;
				.ios {
					width: 149px;
				}
				.google {
					width: 152px;
				}
				.button {
					margin: 0 0 0 rhythm(0.333);
					font-size: em-value(17);
					display: inline-block;
				}
				input[type="text"] {
					width: 140px;
					font-size: em-value(14);
					text-align: left;
				}
				.columns, .column {
					margin: 0;
				}
				.five {
					width: 47.5%;
				}
				.one {
					width: 5%;
					margin-left: -3%;
				}
				.or {
					line-height: 52px;
					color: white;
				}
			}
		}
		.section-2 {
			padding: rhythm(2) 0;
			h1 {
				font-size: em-value(39);
				margin-bottom: rhythm(0.667);
			}
			h3 {
				font-size: em-value(20);
			}
			.twelve {
				padding: rhythm(1) rhythm(2);

				.information {
					width: 100%;
					tr {
						.icon {
							width: 50px;
							padding: rhythm(1) 0 rhythm(1);
							img {
								width: 49px;
							}
						}
						.table-content {
							padding: rhythm(2) rhythm(2) rhythm(1) rhythm(1);
							h2 {
								font-size: em-value(20);
							}
							h3 {
								font-size: em-value(20);
							}
							.list {
								padding-left: rhythm(1);
								margin: rhythm(0.667) 0;
								li {
									a {
										color: $gray;
										text-decoration: none;
										font-size: em-value(15);
									}
									&:before {
										width: 18px;
										height: 18px;
										background-size: 18px;
										left: 0px;
										padding-top: 0;
									}
								}
								.release-notes {
									padding-top: rhythm(1);
									a {
										font-size: em-value(15);
									}
									&:before {
										width: 15px;
										height: 17px;
										background-size: 15px 17px;
										left: 0px;
										padding-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}

	}
}
