#footer {
	background: $footer-bg;
	position: relative;
	width: 100%;
	.container {
		padding: rhythm(2.1875) rhythm(2) rhythm(3.333);
	}
	.footer-menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding-top: 15px;
		}
		a {
			text-decoration: none;
			color: $navbar-gray;
			font-size: 1em;
			font-weight: normal;
			cursor: pointer;
			&:hover {
				color: #979797;
			}
		}
		.title {
			text-transform: uppercase;
			padding-top: rhythm(1);
			font-weight: bold;
		}
	}
	.social-links {
		padding-top: rhythm(1);
		text-align: center;
		width: 100%;
		li {
			padding: 0;
			display: inline-block;
			background:url('../img/footer/social-media-sprite.png') no-repeat;
			background-size: 160px 27px;
			background-position: 0 0;
			width: 40px;
			height: 27px;
			a{
				display: block;
			}
		}
		.gplus { background-position: 0 0; }
		.linkedin { background-position: -40px 0; }
		.facebook { background-position: -80px 0; }
		.youtube { background-position: -120px 0; }
	}
	.back-to-top {
		cursor: pointer;
		width: 60px;
		height: 57px;
		background: url('../img/footer/back-to-top.png') no-repeat;
		background-position: center;
		background-size: 60px 57px;
		position: absolute;
		right: 10px;
		bottom: 0;
	}
}

@media screen and ($tablet-breakpoint) {

	#footer {
		.container {
			padding: rhythm(4) 0;
		}
		.footer-menu {

			li {
				padding-left: 15px;
			}
			a {
			}
			.title {
			}
		}
		.social-links {
			li {
				padding: 0;
			}
		}
	}
}
