.nav-open {
	#header {
		background: white;
		position: fixed;
	}
}

#header {
	background: $header-gray;
	z-index: 9999;
	@include transition(all 0.1s ease-in);
	position: relative;
	width: 100%;
	@include box-shadow(0px 5px 5px rgba(0,0,0,0.2));
	.container {
		position: relative;
		width: 100%;
	}
	.header-section {
		width: 100%;
		max-width: 940px;
		height: 84px;
		position: relative;
		.logo {
			width: 100%;
			position: absolute;
			cursor: pointer;
			max-width: 219px;
			position: relative;
			top: 50%;
			left: 50%;
			text-align: center;
			@include transform(translate(-50%,-50%));
			@include transition(height 0.2s ease-in);
			.ca { width: 130px; }
			.ca-mobile { display: none}
		}
		.menu {
			position: absolute;
			top: 18px;
			left: 16px;
		}
	}

	.navbar {
		background: $navbar-gray;
		height: 40px;
		.search-icon {
			position: absolute;
			top: 45%;
			left: 16px;
			@include transform(translateY(-50%));
		}
		.users-icon {
			position: absolute;
			top: 50%;
			right: 67px;
			@include transform(translateY(-50%));

			&.signed-in {
				svg {
					path {
						fill: $gold;
					}
				}
			}
		}
		.chat-icon {
			position: absolute;
			top: 50%;
			right: 19px;
			@include transform(translateY(-50%));
		}
	}
	.right-nav {
		display: none;
	}
}

@media screen and ($tablet-breakpoint) {
	#header {
		.navbar, .menu { display: none; }
		@include box-shadow(0px 0 0 rgba(0,0,0,0));
		height: 174px;
		.header-section {
			height: 100%;
			.logo {
				a {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%,-50%));
				}
				.ca {
					width: 219px;
					position: relative;
					@include transition(opacity 0.4s ease-in);
				}
				.ca-mobile {
					width: 45px;
					height: 47px;
					display: inline-block;
					position: relative;
					@include transition(opacity 0.4s ease-in);
				}
			}
			.right-nav {
				padding: 0;
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;
				width: 180px;
				border: 1px solid $nav-border-gray;
				.nav {
					width: 100%;
					height: 45px;
					display: block;
					position: relative;
					text-align: center;
					cursor: pointer;
					p {
						position: absolute;
						top: 50%;
						@include transform(translateY(-50%));
						width: 100%;
						font-size: 13px;
						text-align: left;
						padding-left: 40px;
						color: $gold;

						&:before {
							@include transform(scale(0.5));
							position: absolute;
							left: 0;
							top: -5px;
						}
					}
				}
				.client {
					border-bottom: 1px solid $nav-border-gray;
					height: 60px;
					p {
						top: 50%;
						&:before {
							content: url(../img/header/users.png);
							@include transform(scale(0.5));
							position: absolute;
							left: 0;
							top: -5px;
						}
					}
					.username {
						position: absolute;
						display: none;
						top: 75%;
						left: 50%;
						@include transform(translate(-50%, -50%));
						font-size: em-value(11);
						line-height: 11px;
						color: $gray;
						text-align: left;
						width: 100%;
						padding: 0 12px;
						box-sizing: border-box;

					}
				}
				.chat {
					p {
						&:before {
							content: url(../img/header/chat.png);
							@include transform(scale(0.5));
							position: absolute;
							left: 8px;
							top: -7px;
						}
					}
				}
				&.signed-in {
					.client {
						p { top: 43%;
							&:before {
								content: url(../img/header/users-gold.png);
							}
						}
					}
					.username { display: block; }
				}
			}
		}
		.search-section {
			form {
				position: relative;
  				width: 40%;
  			}
		}
	}
}
