.hero {
	color: white;
	height: auto;
	overflow: hidden;
	padding: rhythm(1) 0;
	min-height: 171px;
	h1, h2, h3, h4 {
		margin: 0 rhythm(2) 0 rhythm(2);
		line-height: auto;
		font-weight: 100;
	}
	h1 {
		font-size: em-value(24);
		line-height: 1.3;
		margin-bottom: rhythm(0.75);
	}
	h2 {
			font-size: em-value(26);
			line-height: em-value(16);
	}
	h3 {
		font-size: em-value(16);
		line-height: em-value(18);
		margin-bottom: rhythm(1.2);
	}
	h4 {
		font-size: em-value(11);
		line-height: em-value(18);
	}
	.container {
		position: absolute;
		max-width: none;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		.content {
		}
	}
}


@media screen and ($tablet-breakpoint) {
	.hero {
		min-height: 379px;
		padding: 0;
		.columns { padding: 0 rhythm(6); }
		h1 {
			font-size: em-value(47);
		}
		h2 {
			font-size: em-value(42);
		}
		h3 {
			font-size: em-value(32);
			margin-bottom: rhythm(2);
		}
		h4 {
			font-size: em-value(22);
		}
	}
}
