#homepage {
	.hero{
		background: url('../img/hero/home.jpg');
		background-size: cover;
		background-position: 80% 0;
	}
	.section-1 {
		text-align: center;

		.columns {
			padding: 0 rhythm(4);
		}
		.icon {
			position: relative;
			margin: 0 auto rhythm(1);
			background: url('../img/home/section-1-icon-sprite.png');
			background-size: 130px 42px;
			background-position: 0 0;
			width: 43px;
			height: 42px;
		}
		.icon.one {
			margin: rhythm(1.5) auto rhythm(1);
			background-position: 0 0;
		}
		.icon.two {
			background-position: -43px 0;
		}
		.icon.three {
			background-position: -86px 0;
		}
		h1 {
			color: $navbar-gray;
			font-size: em-value(20);
			margin: 0 0 rhythm(0.25);
			.sup {
				font-size: 0.6em;
				vertical-align: middle;
			}
		}
		h5 {
			color: $gray;
			font-size: em-value(13);
			line-height: em-value(20);
			margin: 0 0 rhythm(0.5);
		}
		p {
			text-transform: uppercase;
			margin: 0 0 rhythm(1.5);
			a {
				text-decoration: none;
				font-size: em-value(12);
			}
		}
	}

	.section-2 {
		text-align: center;
		padding: rhythm(2) 0;
		.columns {
			padding: 0 rhythm(2);
		}
		.six.columns { padding: rhythm(1) 0 0 }
		h1 {
			color: white;
			font-size: em-value(20);
			margin: 0 0 rhythm(1.25);
		}
		h3 {
			color: $light-gray;
			font-size: em-value(15);
			line-height: em-value(24);
			margin: 0 0 rhythm(0.33);
		}
		h5 {
			color: $light-gray;
			line-height: em-value(24);
			font-size: em-value(12);
			margin: 0 0 rhythm(0.5);
		}
		.btn-container {
			max-width: 530px;
		}
		.button {
			font-size: em-value(20);
			line-height: 63px;
		}
	}

	.section-3 {
		text-align: center;
		padding: rhythm(2) 0;
		.columns {
			padding: 0 rhythm(2);
		}
		.six.columns { padding: rhythm(1) 0 0 }
		h1 {
			color: white;
			font-size: em-value(20);
			margin: 0 0 rhythm(1.25);
		}
		h3 {
			color: white;
			font-size: em-value(15);
			line-height: em-value(24);
			margin: 0 0 rhythm(0.33);
		}
		h5 {
			color: $light-gray;
			line-height: em-value(24);
			font-size: em-value(12);
		}
		.mobile {
			max-width: 800px;
			margin-top: rhythm(1);

			.mobile-icons {
				display: inline-block;
				margin-bottom: 15px;
			}

			.ios {
				width: 149px;
			}
			.google {
				width: 152px;
			}
			.button {
				margin: 0 0 rhythm(1) 0;
				font-size: em-value(17);
				line-height: 52px;
			}
			.app-link-block {
				display: inline-block;
				margin-bottom: 10px;
			}

			span {
				color: white;
				font-size:0.7em;
				display: block;
			}
			input[type="text"] {
				width: 206px;
				height: 52px;
				border-radius: 5px;
				padding: 0 10px;
				border: none;
				text-align: center;
			}
			.columns, .column {
				margin: 0;
			}
			.five, .one {
				width: 100%;
			}

			.or {
				line-height: 52px;
				color: white;
				font-size: em-value(16);
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#homepage {
		.hero {
			background-position: center;
		}
		.section-1 {
			.columns {
				padding: rhythm(4) 0 rhythm(2);
			}
			.icon {
				background-size: 180px 58px;
				width: 60px;
				height: 58px;
			}
			.icon.one {
				margin: 0 auto rhythm(1);
				background-position: 0 0;
			}
			.icon.two {
				background-position: -60px 0;
			}
			.icon.three {
				background-position: -120px 0;
			}
			h1 {
				font-size: em-value(30);
			}
			h5 {
				font-size: em-value(15);
				margin: 0 rhythm(1) rhythm(0.5);
			}
		}

		.section-2 {
			padding: rhythm(3) 0 rhythm(4);
			.columns { padding: 0; }
			h1 {
				font-size: em-value(40);
			}
			h3 {
				font-size: em-value(22);
				line-height: em-value(26);
			}
			h5 {
				font-size: em-value(17);
				line-height: em-value(26);
			}
			.btn-container {
			max-width: 530px;
			}
			.button {
				font-size: em-value(20);
				line-height: 63px;
			}
		}

		.section-3 {
			padding: rhythm(3) 0 rhythm(4);
			.columns { padding: 0; }
			h1 {
				font-size: em-value(40);
			}
			h3 {
				font-size: em-value(22);
				line-height: em-value(26);
			}
			h5 {
				font-size: em-value(17);
				line-height: em-value(26);
			}
			.mobile {
				max-width: 800px;

				.mobile-icons {
					margin-bottom: 0;
				}

				.ios {
					width: 149px;
				}
				.google {
					width: 152px;
				}
				.button {
					margin: 0 0 0 rhythm(0.333);
					font-size: em-value(17);
					display: inline-block;
				}
				input[type="text"] {
					width: 140px;
					font-size: em-value(14);
					text-align: left;
				}
				.columns, .column {
					margin: 0;
				}
				.five {
					width: 47.5%;
				}
				.one {
					width: 5%;
					margin-left: -3%;
				}
				.or {
					line-height: 52px;
					color: white;
				}
			}
		}
	}
}
