#modal {
	z-index: 9998;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	.modal-container {
		box-sizing: border-box;
		display: none;
		position: absolute;
		width: 90%;
		max-width: 450px;
		padding: rhythm(4) rhythm(1.667);
		background-color: $teal;
		background: url('../img/bg/bg-chat.jpg');
		background-size: cover;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
			 -moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
						box-shadow: 0px 0px 11px rgba(0,0,0,0.3);

		.exit-modal {
			z-index: 9999;
			position: absolute;
			top: 0;
			right: 0;
			background: url("../img/header/close-white.png") no-repeat;
			background-size: 15px 15px;
			width: 15px;
			height: 15px;
			margin: 15px;
			cursor: pointer;
		}

		.checkmark-icon {
			margin: 0 0 15px 30px;
			color: white;
			font-size: em-value(16);
			position: relative;
			&:before {
				content: '';
				width: 19px;
				height: 15px;
				background: url('../img/icons/checkmark-light-green.png') no-repeat;
				background-size: 19px 15px;
				position: absolute;
				left: -25px;
			}
			a {
				color: white;
				text-decoration: underline;
				font-size: em-value(14);
				display: block;
				margin-top: rhythm(2);
			}
		}

		.modal-page {
			display: none;

			&.active {
				display: block;
			}
		}

		#cancel-scheduled-meeting-form, #turn-off-leader-form {
			margin: rhythm(2);
			.input-container {
				margin-bottom: rhythm(1);

				label{
					color: white;
					font-size: 16px;
				}
				input[type="radio"] + label span {
					display: inline-block;
					width: 22px;
					height: 22px;
					margin: -1px 10px 0 0;
					vertical-align: middle;
					background: white;
					cursor: pointer;
					border: 1px solid #ccc;
					color: white;
					border-radius: 0;
				}
				input[type="radio"]:checked + label span {
					position: relative;
					&:before {
						content: '';
						border-radius: 0;
						background: $teal;
						width: 15px;
						height: 15px;
						position: absolute;
						left: 50%;
						top: 50%;
						@include transform(translate(-50%, -50%));
					}
				}
			}

			.button {
				font-size: rhythm(1);
				line-height: 43px;
				height: 43px;
				min-width: 0;
				margin-top: rhythm(2);
			}
		}

		&.view {
			display: block;
		}
	}

	&.cc-modal {
		background: none;
		display: block;
		.modal-container {
			display: none;
		}
	}
	&.open {
		display: block;
	}
}

@media screen and ($tablet-breakpoint) {
	#modal {
		.modal-container {
			padding: rhythm(4) rhythm(2);

			.checkmark-icon {
				margin: 0 0 15px 40px;
				font-size: em-value(20);
				&:before {
					width: 29px;
					height: 25px;
					background-size: 29px 25px;
					left: -40px;
				}

				a {
					font-size: em-value(13);
				}
			}

		}
	}
}
