
#navigation {
	position: fixed;
	top: 124px;
	@include transition(height 0.2s ease-in);
	overflow: hidden;
	z-index: 9999;
	width: 100%;
	height: 0;
	background: white;
	color: $navbar-gray;
	font-size: 1em;
	@include box-shadow(0px 5px 5px rgba(0,0,0,0.2));
	.columns, .column {
		padding: rhythm(1) 0;
		&.active {
			color: $nav-active;
		}
	}

	.nav-container {
		max-width: 900px;
		.nav-inner-container {
			width: 100%;
			max-width: 720px;
			margin: 0 auto;
			position: relative;
		}
	}
	#search-nav { display: none }

	.three.columns {
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		border-top: 1px solid #dcdcdc;
	}

	.contact-nav {
		position: relative;
		.subnav-mobile {
			display: block;
			margin: 0px;
  		padding: 0;
  		list-style-type: none;
  		height: 0;
  		overflow: hidden;
  		li {
  			padding-top: rhythm(1);
  			color: $nav-dark-gray;
  			cursor: pointer;
  			&:active {
  				color: $teal;
  			}
  		}
		}
		&:after {
			content: " ";
	    width: 0;
	    height: 0;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 8px solid $nav-dark-gray;
	    top: 20px;
	    position: absolute;
	    right: 50%;
	    @include transform(translateX(70px));
		}

		&.dropdown {
			.subnav-mobile {
				height: auto;
			}
		}
	}
	.subnav {
		display: none;
	}
}

.nav-open {
	#navigation {
		height: 100%;
	}
}

@media screen and ($tablet-breakpoint) {
	#navigation {
		overflow: visible;
		display: block;
		position: relative;
		top: 0;
		height: auto;
		font-size: 1em;
		.columns, .column {
			padding: rhythm(1) 0;
			&.active {
				color: $nav-active;
			}
		}

		#search-nav {
			display: block;
			position: absolute;
  		top: 50%;
  		right: 0;
  		@include transform(translateY(-50%));
		}

		.spacer {
			display: block;
		}
		.contact-nav {
			.subnav-mobile {
				display: none;
			}
			&:hover, &.hovered  {
				@include transition(all 0.1s ease-in);
				background: $nav-dark-gray;
				color: $nav-light-gray;
			}
			&.active {
				color: $gold;
				&:hover {
					color: $nav-light-gray;
				}
			}
			&:after {
				display: none;
			}
		}
		.three.columns {
			border-top: none;
		}

		.subnav {
			position: absolute;
			display: block;
			height: 0;
			overflow: hidden;
			.container {
				max-width: 640px;
				.columns.four {
					cursor: pointer;
					color: white;
					text-align: center;
					text-transform: uppercase;
					font-size: em-value(14);
					&.active {
						color: $teal;
					}
				}
			}
			&.hovered {
				height: auto;
			}
		}
	}
}
