#privacy-policy {
	h1 {
		color: $navbar-gray;
	}

	.hero{
		background: url('../img/hero/policies.jpg');
		background-size: cover;
		background-position: center;
		h1 {
			color: white;
			font-size: em-value(23);
			line-height: 1.2;
		}
	}

  p {
    margin-bottom: rhythm(1.5);
    color: $navbar-gray;
		line-height: 1.8;
		span {
			font-weight: bold;
		}
  }

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.columns {
			padding: 0 rhythm(2);
		}

	}


}

@media screen and ($tablet-breakpoint) {
	#privacy-policy {
		.hero {
			background-position: center;
			min-height: 300px;

			h1 {
				color: white;
				font-size: em-value(40);
			}
		}
		.section-1 {
			padding: rhythm(3) 0;
			.columns { padding: 0 rhythm(6); }
			h1 {
				font-size: em-value(29);
			}
      p {
        font-size: em-value(16);
      }

		}
	}
}
