.search-section {
		background: #ffffff;
		width: 100%;
		overflow: hidden;
		height: 0;
		@include transition(height 0.2s ease-in);
		.search-form-container {
			position: relative;
			width: 500px;
			margin-left: rhythm(1);
		}
		form {
			margin: 0;
			width: 100%;
		}
		.search-input {
			  position: relative;
			  border: none;
			  outline: none;
			  background: #fff;
			  width: 88%;
			  height: 49px;
			  margin: 0;
			  z-index: 10;
			  font-family: inherit;
			  font-size: 20px;
			  color: #2c3e50;
				padding-left: rhythm(1);
		}
		.search-submit {
			  width: 49px;
			  height: 49px;
			  z-index: 99;
			  display: block;
			  position: absolute;
			  right: 0;
			  top: 0;
			  padding: 0;
			  margin: 0;
			  line-height: 49px;
			  text-align: center;
			  cursor: pointer;
			  background: url('../img/header/search-submit.png');
			  background-repeat: no-repeat;
			  border: 0;
			  background-size: 50%;
			  background-position: center;
		}
		&.visible {
			height: 51px;
		};
	}
@media screen and ($tablet-breakpoint) {

}
