#services {
	.button {
		margin: 0 auto rhythm(1);
		font-size: em-value(17);
		line-height: 53px;
    max-width: 212px;
	}
	.hero{
		background: url('../img/hero/services.jpg');
		background-size: cover;
		background-position: 0;
		height: auto;
		h1 {
			color: white;
			font-size: em-value(23);
			line-height: 1.2;
		}
		h4 {
			color: white;
			font-size: em-value(13);
			line-height: 1.3;
		}
	}
	.section-1 {
		text-align: center;
		padding: rhythm(2) 0;
		.container {
			padding: 0 rhythm(2);
		}

		.information {
			width: 100%;
			tr {
				.icon {
					width: 40px;
					text-align: left;
					padding: rhythm(1) 0 rhythm(1);
					vertical-align: top;
					img {
						width: 100%;
						max-width: 25px;
					}
				}
				.table-content {
					text-align: left;
					padding: rhythm(1) 0;
					vertical-align: top;
					h2 {
						font-size: em-value(17);
						margin-bottom: rhythm(0.333);
					}
					p {
						font-size: em-value(13);
						line-height: em-value(28);
						color: $gray;
						a {
							font-size: em-value(12);
							text-decoration: none;
						}
					}
				}
			}
		}
		.accordion {
				.info {
					.chart {
						tr {
							.title {
								width: 12.5%;
							}
							.title.first {

							}
						}
					}
				}
			}
	}

	.section-2 {
		text-align: center;
		padding: rhythm(2) 0;
		h1 {
			font-size: em-value(20);
			font-weight: 100;
			color: $navbar-gray;
			margin-bottom: rhythm(1);
		}
		.button { margin: 0 auto; font-size: em-value(17) }
	}

	.section-3 {
		text-align: center;
		padding: rhythm(2) 0;
		.container {
			padding: 0 rhythm(2);
		}

		.information {
			width: 100%;
			tr {
				.icon {
					width: 50px;
					text-align: center;
					padding: rhythm(1) 0 rhythm(1);
					vertical-align: top;
					img {
						width: 50%;
					}
				}
				.table-content {
					text-align: left;
					padding: rhythm(1) 0;
					vertical-align: top;
					h2 {
						font-size: em-value(20);
						margin-bottom: rhythm(0.333);
					}
					p {
						font-size: em-value(13);
						line-height: em-value(28);
						color: $gray;
						a {
							font-size: em-value(12);
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#services {
		.hero{
			background-position: center;
			.twelve.columns {
				padding-left: 25%;
				padding-right: 0;
				.button {
					margin-left: rhythm(2);
					margin-top: rhythm(2);
					font-size: em-value(20);
				}
			}
			h1 {
				color: white;
				font-size: em-value(40);
			}
			h4 {
				color: white;
				font-size: em-value(22);
			}
		}
		.section-1 {
			text-align: center;
			padding: rhythm(2) 0;
			.container {
				padding: 0 rhythm(2);
			}

			.information {
				tr {
					.icon {
						width: 80px;
						text-align: center;
						img {
							width: 100%;
							max-width: 50%;
						}
					}
					.table-content {
						h2 {
							font-weight: 100;
							font-size: em-value(29);
							margin-bottom: rhythm(1);
						}
						p {
							font-size: em-value(18);
							line-height: 1.5;
							a {
								font-size: em-value(14);
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.section-2 {
			padding: rhythm(3.333) 0 rhythm(4);
			h1 {
				font-size: em-value(35);
				font-weight: 100;
				margin-bottom: rhythm(1);
			}
			.button { margin: 0 auto; font-size: em-value(20) }
		}

		.section-3 {
			text-align: center;
			padding: rhythm(2) 0;
			.container {
				padding: 0 rhythm(2);
			}

			.information {
				tr {
					.icon {
						width: 80px;
					}
					.table-content {
						h2 {
							font-weight: 100;
							font-size: em-value(29);
							margin-bottom: rhythm(1);
						}
						p {
							font-size: em-value(18);
							line-height: 1.5;
							a {
								font-size: em-value(14);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
