#spanish-services {
	.spanish { display: none }
	.english { display: none }
	.view { display: inline }

	.translate-toggle-spanish {
		display: none;
	}
	.translate-toggle-english {
		display: none;
	}
	.view-cta { display: inline-block }
	.button {
		margin: rhythm(1) rhythm(2) rhythm(1);
		font-size: em-value(17);
		line-height: 53px;
    max-width: 212px;
	}
	.list {
		margin-left: 0;
		margin-top: 0;
	}
	.hero{
		background: url('../img/hero/spanish-services.jpg');
		background-size: cover;
		background-position: 70%;
		height: auto;
		h1 {
			color: white;
			font-size: em-value(23);
			line-height: 1.2;
		}
		h4 {
			color: white;
			font-size: em-value(13);
			line-height: 1.3;
		}
	}
	.section-1 {
		text-align: center;
		padding: rhythm(2) 0;
		.container {
			padding: 0 rhythm(2);
		}

		.information {
			width: 100%;
			tr {
				.table-content {
					text-align: left;
					padding: rhythm(1) 0;
					vertical-align: top;
					h2 {
						font-size: em-value(17);
						margin-bottom: rhythm(0.333);
					}
					p {
						font-size: em-value(13);
						line-height: em-value(28);
						color: $gray;
						margin-bottom: rhythm(1);
						strong {
							color: $navbar-gray;
						}
						a {
							font-size: em-value(12);
							text-decoration: none;
						}
					}
				}
			}
		}
		.accordion {
				.info {
					.chart {
						tr {
							.title {
								width: 12.5%;
							}
							.title.first {

							}
						}
					}
				}
			}
	}

}

@media screen and ($tablet-breakpoint) {
	#spanish-services {
		.hero{
			background-position: center;
			.button {
					margin-top: rhythm(2);
					margin-left: rhythm(1);
					margin-right: rhythm(1);
					font-size: em-value(20);
				}

			h1 {
				color: white;
				font-size: em-value(40);
				margin-left: rhythm(1);
				margin-right: rhythm(1);
			}
			h4 {
				color: white;
				font-size: em-value(22);
			}
		}
		.section-1 {
			text-align: center;
			padding: rhythm(2) 0;
			.container {
				padding: 0 rhythm(2);
			}

			.information {
				tr {
					.table-content {
						h2 {
							font-weight: 100;
							font-size: em-value(29);
							margin-bottom: rhythm(1);
						}
						p {
							font-size: em-value(18);
							line-height: 1.5;
							a {
								font-size: em-value(14);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
