#success-page {
	h1 {
		color: $navbar-gray;
    position: relative;
    padding-left: rhythm(2.333);
    margin-bottom: rhythm(1);
    &.checkmark {
      &:before {
        content: '';
        background: url("../img/icons/checkmark-green.png") no-repeat;
        background-size: 24px 20px;
        width: 24px;
        height: 20px;
        position: absolute;
        left: 0;
      }
    }
	}

  p {
    margin-bottom: rhythm(1);
    color: $navbar-gray;
		span {
			font-weight: bold;
		}
  }

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;
		box-sizing: border-box;

		.columns {
			padding: 0 rhythm(2);

			&.success-page-type {
				display: none;
				&.view {
					display: block;
				}
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#success-page {
		.section-1 {
      padding: rhythm(6) rhythm(4) rhythm(6);
			.columns { padding: 0; }
			h1 {
				font-size: em-value(29);
        padding-left: rhythm(2);
        &.checkmark {
          &:before {
            background-size: 29px 25px;
            width: 29px;
            height: 25px;
          }
        }
			}
      p {
        padding-right: 20%;
        font-size: em-value(16);
      }

		}
	}
}
