<!--
$GOLD: #e09100
$DARKTEAL: #02696e
$TEALSQUAREBG: #428589
$LINKTEAL: #5c9ea2
$BODYCOLOR: #545454
$GRAY: #888888

font-family: Arial, Helvetica, sans-serif;

<a href="#" style="border:0 none; outline:none;" target="_blank"><img src="" width="" class="responsive-image"/></a>

<div style="display: none; white-space: nowrap; font: 15px courier; color: #312f2f;">
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</div>
-->
