#add-new-leader, #edit-leader {
	form {
		margin: rhythm(2) 0;
		input[type=text], input[type=email], input[type=password] {
			max-width: 450px;
			line-height: 1em;
			height: 47px;
			border: 1px solid #ccc;
			min-width: initial;
		}
	}
	form {
		margin: 20px 0;
		.input-container label {
			margin-right: 0;
		}
	}

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.columns {
			padding: 0 rhythm(2);
		}

		.client-corner-page-title {
			padding-left: 0;
			&::before {
				background: none;
			}
		}

		.title-required {
			color: $navbar-gray;
			span {
				color: $teal;
				font-size: 28px;
		    vertical-align: baseline;
		    position: relative;
		    top: 0.35em;
			}
			font-size: em-value(16);
			line-height: 0.8;
		}

		.label {
			margin: 10px 0 5px 0;
			position: relative;
			line-height: normal;
			&:before {
				content: '*';
				position: absolute;
				color: $teal;
				font-size: 28px;
				left: -20px;
			}
		}
		.date {
			position: relative;
			width: 100%;
			max-width: 450px;

			.ui-datepicker-trigger {
				position: absolute;
				right: 10px;
				top: 11px;
				height: 23px;
				width: 23px;
			}

		}
	}
	.checkbox-container {
		padding-top: rhythm(1);
	}
	.button {
		line-height: 40px;
		font-size: 1em;
		font-wei: bold;
	}
}

@media screen and ($tablet-breakpoint) {
	#add-new-leader, #edit-leader {
		.section-1 {
			.columns { padding: rhythm(2) rhythm(2); }
			h1 {
				font-size: em-value(29);
			}
			.button {
				font-size: 1.2;
			}
		}
	}
}
