#always-on-mp3-recording-request {
	form {
		margin: rhythm(2) 0;
		input[type=text], input[type=email], input[type=password] {
			max-width: 450px;
			line-height: 1em;
			height: 47px;
			border: 1px solid #ccc;
			min-width: initial;
		}

		.time-of-call-container {
			.time-of-call {
				max-width: 320px;
		    margin-right: 5px;
			}
			.select-style {
		    width: 119px;
			}
		}

		.button {
			font-size: 15px;
			margin: rhythm(2) 0 rhythm(1);
			line-height: 40px;
		}
	}

	h1 {
		color: $navbar-gray;
	}

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.columns {
			padding: 0 rhythm(2);
		}
		h1 {
			font-size: em-value(30);
		}
		.title-required {
			color: $navbar-gray;
			span {
				color: $teal;
				font-size: 28px;
		    vertical-align: baseline;
		    position: relative;
		    top: 0.35em;
			}
			font-size: em-value(16);
			line-height: 0.8;
		}

		.label {
			margin: 10px 0 5px 0;
			position: relative;
			line-height: normal;
			&:before {
				content: '*';
				position: absolute;
				color: $teal;
				font-size: 28px;
				left: -20px;
			}
		}

    .date {
			position: relative;
			width: 100%;
			max-width: 450px;

			.ui-datepicker-trigger {
				position: absolute;
				right: 10px;
				top: 11px;
				height: 23px;
				width: 23px;
			}

		}
	}
}

@media screen and ($tablet-breakpoint) {
	#always-on-mp3-recording-request {
		.section-1 {
			.columns { padding: rhythm(2) rhythm(2); }
			h1 {
				font-size: em-value(29);
			}
		}
	}
}
