#call-commands {
	h1 {
		color: $navbar-gray;
	}

	.section {
		display: none;
		padding: rhythm(2) 0;

		.button {
			line-height: 28px;
			height: 28px;
			font-size: em-value(15);
		}

		.section-footer-cta {
			.button {
				line-height: 44px;
				height: 44px;
				font-size: em-value(16);
			}
		}

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
		}

		.columns {
			padding: 0;
		}

		.content-box {
			padding: 0;
			margin: rhythm(0.667) 0 rhythm(2);
		}

		.content-box-list {
			.content-box-list-row {

				&.content-box-list-footer {
					padding: 0;

					&.white {
						.content-box-list-column {
							background-color: white;
						}
					}

					.content-box-list-column {
						width: 100%;
						background-color: $light-opacity-teal;
						text-align: left;

						.total-price-container {
							float: right;
							height: auto;

							span {
								display: inline-block;
								line-height: 28px;
								width: auto;

								&.total {
									margin-left: rhythm(1);
								}
							}
						}

						&:last-child {
							box-sizing: border-box;
							padding: 20px;
						}
					}
				}
			}
		}

		&.active {
			display: block;
		}
	}

/******************
	SECTION - 1
******************/

	.section-1 {
    .content-box-title {
      margin: rhythm(1) rhythm(2) 10px;
    }
		.content-box-list {
			.content-box-list-row {
        &.content-box-list-header {
          display: block;
          padding-bottom: 0;
          .content-box-list-column {
            height: 36px;
            &.keypad-commands {
              width: 40%;
              text-align: center;
            }
            &.description {
              width: 60%;
            }
          }
        }
				.content-box-list-column {
          .info {
            width: 100%;
          }
          &.keypad-commands {
            width: 40%;
            text-align: center;
            .digits {
              font-size: 19px;
              font-weight: bold;
            }
          }
          &.description {
            width: 60%;
          }
					.content-box-list-title {
						color: $gold;
					}
				}
			}
		}
	}
}

@media screen and ($mobile-breakpoint) {
  #call-commands {
/******************
	SECTION - 1
******************/
		.section-1 {
			.content-box-list {
				.content-box-list-row {
          &.content-box-list-header {
            .content-box-list-column {
                height: auto;
            }
          }
				}
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#call-commands {
		.section {
			.client-corner-page-title {
				margin: inherit;
			}

			.content-box {
				padding: 0;
			}

			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
						line-height: 23px;
					}

				}
			}

			.columns { padding: rhythm(2) rhythm(2); }
		}

/******************
	SECTION - 1
******************/

		.section-1 {
      .content-box-title {
        font-size: em-value(16);
        margin: rhythm(1) 0 10px;
      }
      .content-box {
        max-width: 470px;
      }
			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
            &.keypad-commands {
              width: 40%;
            }
            &.description {
              width: 60%;
            }
					}
				}

			}
		}
	}
}
