.client-corner-page-title {
  font-size: em-value(20);
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid $page-title-border-color;
  margin-bottom: 15px;

  &.home {
    margin-top: 20px;
  }

  .home-icon {
    background: url('../img/icons/home.svg');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
  }
}

.client-corner-page-subtitle {
  font-size: em-value(15);
  margin-bottom: rhythm(1);
}

.client-corner-page-info {
  font-size: em-value(14);
  position: relative;
  padding-left: 30px;
  line-height: 2;

  &:before {
    content: 'i';
    left: 0;
    border: 1px solid $page-info-color;
    color: $page-info-color;
    padding: 0 7px;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    line-height: 18px;
  }
}

// CONTENT BOX in ACCOUNT
.content-box {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding: rhythm(2);
	margin: rhythm(2) 0;
	max-width: 100%;
	background: white;
	@include box-shadow(0px 0px 5px rgba(0,0,0,0.2));
}

.content-box-header {
  position: relative;
  padding: 0 rhythm(2) rhythm(0.667);

  h6 {
    font-size: em-value(14);
    line-height: 2;
  }
  p {
    font-size: em-value(12);
  }
}

.csv-cta {
  position: relative;
  text-align: left;
  margin: 0 rhythm(2) rhythm(1.667);

  .button {
    line-height: 28px;
    height: 28px;
    font-size: em-value(15);
  }
}

.content-box-list-container {
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.content-box-list {
  width: 100%;

  .content-box-list-row {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: rhythm(1.333) rhythm(2);

    &.content-box-list-header {
      display: none;
      background: white;

      .content-box-list-column {
        color: $dark-teal;
        font-size: em-value(13);
        font-weight: bold;
        border-bottom: 1px solid $content-box-border-bottom-color;
        padding-bottom: 10px;
      }
    }

    &:nth-child(2n) {
      background: $light-opacity-teal;
    }

    .content-box-list-column {
      position: relative;
      float: left;
      width: 100%;
      font-size: em-value(13);

      span {
        display: inline-block;
        vertical-align: middle;
        &.type {
          font-weight: bold;
          color: $dark-teal;
          text-transform: uppercase;
          width: 50%;
        }
        &.info {
          width: 50%;
        }
      }

    }
  }
}

.arrow {
	width: 0;
	height: 0;
  cursor: pointer;

	&.left {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid $arrow-bg-color;
	}

	&.right {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left:10px solid $arrow-bg-color;
	}
}

.pagination {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: rhythm(2) auto 0;
  padding-top: rhythm(1);
  border-top: 1px solid $content-box-border-bottom-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      float: left;
      line-height: 28px;
      height: 28px;
      width: 10%;
      text-align: left;

      .arrow {
        display: inline-block;
        vertical-align: middle;
      }


      &.center-column {
        width: 60%;
        text-align: center;
        .pages {
          font-size: 13px;
        };
        span {
          display: inline-block;
          padding: 0 10px;
          width: auto !important;

          &.box {
            border: 1px solid black;
            line-height: 26px;
          }
        }
      }

      &.right-align {
        text-align: right;
      }

    }

  }
}

.a-icon {
  position: relative;
  font-size: em-value(13);
  padding-left: 30px;
  line-height: 23px;
  &:before {
    content: ' ';
    left: 0;
    position: absolute;
    background: url('../img/client-corner/cc-icons.png') no-repeat;
    background-size: 149px 46px;
    height: 23px;
  }

  &.edit-info{
    &:before {
      width: 23px;
      background-position: -23px -23px;
    }
  }
  &.print{
    &:before {
      width: 23px;
      background-position: 0 -23px;
    }
  }
  &.mail{
    &:before {
      width: 23px;
      background-position: -46px -23px;
    }
  }

  &.calendar{

    &.white {
      &:before {
        width: 27px;
        background-position: -73px 0px;
      }
    }

    &:before {
      width: 27px;
      background-position: -73px -23px;
    }
  }

  &.search{
    &.white {
      &:before {
        width: 27px;
        background-position: -73px 0px;
      }
    }

    &:before {
      width: 27px;
      background-position: -96px -23px;
    }
  }

  &.play{
    &.white {
      &:before {
        width: 27px;
        background-position: -73px 0px;
      }
    }

    &:before {
      width: 27px;
      background-position: -123px -23px;
    }
  }
}

.section{
  .section-footer-cta {
    text-align: center;
    a {
      display: inline-block;
      font-size: em-value(16);

      &.cancel {
        text-decoration: underline;
        color: $navbar-gray;
      }

      &.button {
        margin-left: rhythm(1.667);
        padding: 0;
        line-height: 44px;
        height: 44px;
        font-size: em-value(16);
      }
    }
  }
}

@media screen and ($tablet-breakpoint) {
  .client-corner-page-title {
    font-size: em-value(29);
    margin-bottom: 30px;
    &:before {
      top: 0px;
      background-size: 35px 35px;
      width: 35px;
      height: 35px;
    }

    &.home {
      margin-top: 0;
    }

    .home-icon {
      top: 0;
    }
  }

  .client-corner-page-subtitle {
    font-size: em-value(20);
  }

  .client-corner-page-info {
    padding-left: 35px;
    font-size: em-value(16);
    &:before {
      padding: 0 9px;
      font-size: 12px;
      line-height: 22px;
    }
  }

  .content-box-header {
    padding: rhythm(2) 0 rhythm(0.667);

    h6 {
      font-size: em-value(16);
    }

    p {
      font-size: em-value(14);
    }

  }

  // CONTENT BOX in ACCOUNT

  .content-box {
  	box-sizing: border-box;
  	width: 100%;
  	position: relative;
  	padding: rhythm(2);
  	margin: rhythm(2) 0;
  	max-width: 100%;
  	background: white;
  	@include box-shadow(0px 0px 5px rgba(0,0,0,0.2));
  }

  .csv-cta {
    margin: 0 0 rhythm(1);
    text-align: right;
  }

  .content-box-list-container {
  	width: 100%;
  	position: relative;
  	box-sizing: border-box;
  }

  .content-box-list {
    width: 100%;

    .content-box-list-row {

      &.content-box-list-header {
        display: block;
        background: white;
        padding-bottom: 0;
      }

      .content-box-list-column {

        span {
          display: inline-block;
          width: auto;
          vertical-align: top;
          &.type {
            display: none;
            width: auto;
          }
          &.info {
            width: auto;
          }
        }

        .content-box-list-title {
  				position: relative;
  				padding-left: rhythm(2);
          line-height: 23px;
  				&:before {
  					content: ' ';
  					left: 0;
  					top: 0;
  					position: absolute;
  					background: url('../img/client-corner/play.svg') no-repeat;
  					background-size: 23px 23px;
  					width: 23px;
  					height: 23px;
  					background-position: center;
  				}
    		}

        &.three {
          width: 33.33%;
        }
        &.four {
            width: 25%;
        }
        &.five {
          width: 20%;
        }
        &.six {
          width: 16.6667%;
        }

      }
    }
  }

  .pagination {
    border: none;
    margin-top: 0;
    padding-top: 0;

    ul {
      li {
        .arrow {
        }
        &.center-column {
          span {
          }
        }
      }
    }
  }

  .a-icon {
    font-size: em-value(15);
  }

  .section{
    .section-footer-cta {
      text-align: right;
    }
  }
}
