#conference-cost-manager {
	h1 {
		color: $navbar-gray;
	}

	.section {
		display: none;
		padding: rhythm(2) 0;

		.button {
			line-height: 28px;
			height: 28px;
			font-size: em-value(15);
		}

		.section-footer-cta {
			.button {
				line-height: 44px;
				height: 44px;
				font-size: em-value(16);
			}
		}

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
		}

		.columns {
			padding: 0;
		}

		.content-box {
			padding: 0;
			margin: rhythm(0.667) 0 rhythm(2);
		}

		.content-box-list {
			.content-box-list-row {

				&.content-box-list-footer {
					padding: 0;

					&.white {
						.content-box-list-column {
							background-color: white;
						}
					}

					.content-box-list-column {
						width: 100%;
						background-color: $light-opacity-teal;
						text-align: left;

						.total-price-container {
							float: right;
							height: auto;

							span {
								display: inline-block;
								line-height: 28px;
								width: auto;

								&.total {
									margin-left: rhythm(1);
								}
							}
						}

						&:last-child {
							box-sizing: border-box;
							padding: 20px;
						}
					}
				}
			}
		}

		&.active {
			display: block;
		}
	}

/******************
	SECTION - 1
******************/

	.section-1 {

		.content-box-list {
			.content-box-list-row {
				.content-box-list-column {
					.content-box-list-title {
						color: $gold;
					}
				}
			}
		}
	}

/******************
	SECTION - 2
******************/

	.section-2 {

		.content-box-list {
			.content-box-list-row {
				.content-box-list-column {
					.content-box-list-title {
						color: $gold;
					}
				}
			}
		}
	}

/******************
	SECTION - 3
******************/

	.section-3 {

		.content-box-list {

			.content-box-list-row {
				.content-box-list-column {

					&.hide {
						display: none;
					}

					&.show-cta-mobile {
						display: inline-block;
						padding-bottom: rhythm(1);
					}

				}

				&.content-box-list-footer {
					.content-box-list-column {
						text-align: left;

						.total-price-container {
							&.offset {
								float: none;

								span {
									width: 50%;

									&.total {
										margin-left: 0;
									}
								}
							}
						}

					}
				}
			}

		}
	}

/******************
	SECTION - 4
******************/

	.section-4 {

		.content-box-header {
			h6 {
				font-weight: bold;

				span {
					font-weight: bold;
					color: $dark-teal;
				}
			}
		}

		.content-box-list {
			.content-box-list-row {
				&.content-box-list-footer {
					.content-box-list-column {
						text-align: left;
					}
				}
			}
		}
	}

/******************
	SECTION - 5
******************/

	.section-5 {

		.content-box {
			margin-bottom: rhythm(1);
		}

		#view-call-participants {
			margin: 0;
			padding: 0;
			width: auto;

			input[type="checkbox"] + label span {
				width: 16px;
				height: 16px;
			}
		}

		.content-box-header {

			h6 {
				font-weight: bold;

				span {
					font-weight: bold;
					color: $dark-teal;
				}
			}

			p {
				font-weight: bold;

				&.call-participants-text {
					color: $dark-teal;
					font-weight: normal;
				}
				span {
					color: $dark-teal;
					font-weight: normal;
				}
				&.detailed-info {
					font-weight: normal;
					color: $dark-teal;
				}
			}

			#call-participants-container {
				display: none;
			}
		}

		.content-box-list {

			&.call-participants-list {

				.content-box-list-row {
					background: white;

					&:nth-child(2n) {
						background: $light-opacity-teal;
					}

					&.call-participants-row {
						background: white;
						padding-bottom: 0;


						.content-box-list-column {
								border-bottom: 1px solid $content-box-border-bottom-color;
								padding-bottom: rhythm(1);

								form {
									margin: 0;
									padding: 0;
									width: auto;

									#view-call-participants[type="checkbox"] + label span {
										width: 16px;
										height: 16px;
									}
								}
						}
					}
				}
			}
		}

		.csv-cta {
			position: relative;
			text-align: left;
			margin: 0 rhythm(2) rhythm(1.667);
		}

	}
}




@media screen and ($tablet-breakpoint) {
	#conference-cost-manager {
		.section {
			.client-corner-page-title {
				margin: inherit;
			}

			.content-box {
				padding: 0;
			}

			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
						line-height: 23px;
					}

				}
			}

			.columns { padding: rhythm(2) rhythm(2); }
		}

/******************
	SECTION - 1
******************/

		.section-1 {

			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
						width: 20%;
						&:first-child {
		          width: 30%;
		        }
						&:nth-child(2) {
		          width: 30%;
		        }
					}
				}

			}
		}

/******************
	SECTION - 2
******************/

		.section-2 {

			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
						width: 20%;
						&:nth-child(2) {
		          width: 60%;
		        }
					}
				}

			}
		}

/******************
	SECTION - 3
******************/

		.section-3 {

			.content-box-list {
				.content-box-list-row {

					.content-box-list-column {
						width: 33.33%;

						&.hide {
							display: inline-block;
						}

						&.show-cta-mobile {
							display: none;
						}

						&:last-child {
							text-align: right;
		        }
					}

					&.content-box-list-footer {
						.content-box-list-column {
							text-align: left;
							padding: 20px 30px !important;

							.total-price-container {
								&.offset {
									float: right;

									span {
										width: auto;

										&.total {
											margin-left: rhythm(1);
										}
									}
								}
							}
						}
					}
				}

			}
		}

/******************
	SECTION - 4
******************/

		.section-4 {

			.content-box-list {

				.content-box-list-row {

					.content-box-list-column {
						width: 20%;

						&:nth-child(3) {
							width: 25%;
						}

						&:nth-child(4) {
							width: 25%;
						}

						&:last-child {
							text-align: right;
							width: 10%;
						}

					}

					&.content-box-list-footer {
						.content-box-list-column {
							text-align: left;
							width: 100%;
						}

						.pagination-button-cta {
							float: left;
						}
					}
				}

			}
		}

/******************
	SECTION - 5
******************/

		.section-5 {

			.content-box-header {
				p {
					display: inline-block;
					font-size: em-value(18);

					&.call-participants-text {
						font-size: em-value(14);
					}

					&.detailed-info {
						float: right;
						font-size: em-value(14);
					}

				}
				#call-participants-container {
					display: inline-block;
					float: right;
				}
			}

			.content-box-list {

				.content-box-list-row {
					.content-box-list-column {
						width: 30%;
						&:nth-child(2) {
		          width: 60%;
		        }
						&:nth-child(3) {
							width: 10%;
						}
					}
				}

				&.call-participants-list{
					.content-box-list-row {

						.content-box-list-column {
							width: 20%;
						}

						&.call-participants-row {
							display: none;
						}
					}
				}
			}

			.csv-cta {
				margin: 0 0 rhythm(1);
				text-align: right;
			}

		}

	}
}
