#invite-participants {
	h1 {
		color: $navbar-gray;
	}
  .container {
    padding: 0 rhythm(2) rhythm(2);
  }
	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;
	}

  #invite-participants-form {
    .form-title {
      font-size: 14px;
      font-weight: bold;
      color: $dark-teal;
      margin-bottom: rhythm(0.667);
    }
    .caption {
      font-size: 14px;
      margin-bottom: rhythm(3);
    }
    textarea {
      color: $dark-teal;
      font-size: 14px;
      font-weight: bold;
    }
    .cta-footer {
      text-align: center;
      .button {
        line-height: 50px;
        width: 124px;
        font-size: 16px;
        margin-right: 20px;
        margin-bottom: rhythm(1);
      }
      .cancel-link {
        cursor: pointer;
        font-size: 16px;
        margin-bottom: rhythm(1);
        margin-right: 20px;
        color: $dark-gray;
        text-decoration: underline;
      }
    }
  }
}

@media screen and ($tablet-breakpoint) {
	#invite-participants {
		.section-1 {
      .container {
        padding:0 0 rhythm(2);
			}

			.columns { padding: rhythm(2) rhythm(2); }

      #invite-participants-form {
        .cta-footer { text-align: left }
      }
		}
	}
}
