
#leader {
	h1 {
		color: $navbar-gray;
	}

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
		}

		.columns {
			padding: 0;
		}

		#search-leaders-form {
			margin: rhythm(2) rhythm(2) rhythm(1.333);

			label {
				font-size: 14px;
				line-height: 33px;
				float: left;
			}

			#search-leaders {
				float: left;
				margin: 0 10px 0 10px;
				height: 33px;
				max-width: 240px;
				font-size: 14px;
				line-height: 33px;
				width: 55%;
			}
		}

		.content-box {
			padding: 0;
		}

		.content-box-list-container {
		}

		.content-box-list {
			.content-box-list-row {
				padding: rhythm(1) rhythm(2);

				&.content-box-list-header {
					display: block;
					background: white;
					padding: rhythm(1) rhythm(2) 0;
				}

				.content-box-list-column {
					display: table;
					line-height: 30px;
					padding: 0;
					width: 25%;

					&:first-child {
	          width: 50%;
	        }

					&.edit-link {
						text-align: center;

						.edit-leader-link {
							font-size: 13px;
							&::before {
								@include transform(scale(0.8, 0.8));
								left: 4px;
							}
						}
					}

					.content-box-list-title {
						color: $gold;
						line-height: rhythm(2);
					}

					.on-off-leader-check {
						margin: 0;
					}
				}
			}
		}

		.leaders-footer {
			position: relative;
			width: 100%;
			text-align: center;
			padding: 0 rhythm(1);
	    box-sizing: border-box;

			#add-new-leader-link {
				position: relative;
				margin: 0 auto;
				font-size: rhythm(1);
				width: 170px;
				height: 42px;
				line-height: 42px;
			}
		}

	}
}

@media screen and ($tablet-breakpoint) {
	#leader {
		.content-box {
			margin: rhythm(1) 0 rhythm(2);
		}
		.section-1 {
			.columns { padding: rhythm(2) rhythm(2); }

			.client-corner-page-title {
				margin: inherit;
			}

			#search-leaders-form {
				margin: rhythm(2) 0 rhythm(1.333);

				#search-leaders {
					font-size: 15px;
				}
				label {
					font-size: 15px;
				}

			}

			.content-box-list-column {
				&.edit-link {

					.edit-leader-link {
						font-size: 14px;
					}
				}
			}

			.leaders-footer {
				padding: 0;
				text-align: left;

				#add-new-leader-link {
					margin-bottom: rhythm(3);
				}
			}

		}
	}
}
