$chat-gray: #969696;
$chat-bubble-bg-color: #f2f2f2;

#meeting-control {
	h1 {
		color: $navbar-gray;
	}

	.section-1 {
		text-align: left;
		padding: 0 0 rhythm(2);

		.meeting-control-section-title {
			text-align: center;
			padding: rhythm(0.667) 0;
			background: $header-gray;
			width: 100%;
			position: relative;
			box-shadow: 0px 0px 5px $content-box-border-bottom-color;

			.meeting-control-title {
				font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 23px;
				.control {
					font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
					color: $dark-teal;
				}
			}

		}

		.columns {
			padding: 0;
		}

    .container .content{
      max-width: 1440px;
    }

		.meeting-control-content {
			.six.qa {
				margin-left: 0;
			}
		}

		.meeting-control-user-account-info {
			position: relative;
			padding: rhythm(2) rhythm(1) rhythm(1);

			.user {
				font-size: 19px;
				font-weight: bold;
				color: $dark-teal;
			}
			.total-accounts {
				font-size: 14px;
			}
		}

    .tab-nav-container {
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 136px;

      .tab-nav {
        list-style: none;
  	    padding: 0;
  	    margin: 0;
  	    padding: 0;
  			width: 100%;
        border-bottom: 1px solid $dark-teal;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 0;
        		height: 0;
            background: transparent;  /* optional: just make scrollbar invisible */
        }

        li {
          width: 33.33%;
          display: inline-block;
          padding: 14px 0 12px;
          font-size: em-value(14);
          background: $dark-teal;
          text-align: center;
          color: white;
          cursor: pointer;
					border-right: 1px solid #348b7a;

          &.active, &:hover {
            background: $teal-nav-active;
            @include transition(background 0.2s ease-in);
          }

					.view-all-tab {
						display: none;
					}
					.chat-tab {
						display: inline-block;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							left: -15px;
							top: 3px;
							background-color: #7dd16a;
							width: 10px;
							height: 10px;
							@include border-radius(50%);
						}
					}
        }
      }
    }

    .meeting-control-columns {
			margin-bottom: rhythm(2);
			display: none;

			&.active {
				display: inline-block;
			}

			&.remove {
				display: none;
			}

			.meeting-control-section {
				height: 500px;
				overflow-y: scroll;
				background: white;
				box-shadow: 0px 0px 5px $content-box-border-bottom-color;

			}

			&.participants {
				.meeting-control-section {
					height: 516px;
				}
				.print-participant {
					display: block;
					margin: rhythm(1);
				}
			}

			&.view-all {
				.meeting-control-section {
					overflow: visible;
					height: auto;
					padding: rhythm(1);
					.header {
						font-size: 13px;
						color: $dark-teal;
						border-bottom: 1px solid $dark-teal;
						padding-bottom: 5px;
					}
					.conversation-section {
						height: 365px;
						overflow-y: scroll;
						padding: 0 rhythm(1) 0 0;

						.messenger {
							margin: rhythm(1) 0;
							&.customer {}
							&.responder {}
							.name-section {
								.name {
									font-size: 13px;
									display: inline-block;
									span { color: $green }
								}
								.time-responded {
									font-size: 11px;
									float: right;
									color: $chat-gray;
									margin-top: 5px;
								}
							}
							#message-form {
								margin: 0;
							}
							.message {
								position: relative;
								margin-top: 10px;
								&:before {
									content: '';
									width: 0;
									height: 0;
									border-left: 8px solid transparent;
									border-right: 8px solid transparent;
									border-bottom: 10px solid #f2f2f2;
									position: absolute;
									top: -10px;
									left: 10px;
								}
								font-size: 13px;
								background-color: $chat-bubble-bg-color;
								padding: rhythm(1);

								&.newest {
									border-bottom: 3px solid $green;
								}
							}
						}
					}

					.conversation-footer {
						position: relative;
						bottom: 0;
						padding: rhythm(1) 0 0;
						textarea {
							display: block;
							width: 100%;
							height: 90px;
							max-width: none;
							resize: none;
							margin-bottom: rhythm(1);
							font-size: 14px;
						}
						.chat-export {
							font-size: 12px;
							line-height: 42px;
							display: inline-block;
							position: relative;
							padding-left: 20px;
							&:before {
								content: '';
								width: 15px;
								height: 16px;
								background: url('../img/icons/icon-csv.svg') no-repeat;
								background-size: 15px 16px;
								position: absolute;
								top: 45%;
								left: 0px;
								@include transform(translateY(-50%));
							}
						}
						.button {
							min-width: 86px;
							height: 42px;
							line-height: 42px;
							font-size: 15px;
							float: right;
						}
					}
				}
			}

			.qa-header-section {
				position: relative;
				background: white;
				box-shadow: 0px -1px 5px $content-box-border-bottom-color;

				.qa-info {
					padding: rhythm(1);

					.questioner {
						font-size: 14px;
						span { color: $dark-teal }
					}

					.questioner-time {
						font-size: 12px;
					}

				}
				.qa-status {
					padding: rhythm(1);
					background-color: #ddf4d8;
					border: 1px solid $green;
					p {
						font-size: 14px;

						span {
							color: $green;
						}
					}
				}
			}

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;

        li {
          border-bottom: 1px solid $content-box-border-bottom-color;
          padding: rhythm(1) rhythm(1) rhythm(1) 45px;
					position: relative;
					&:before {
						content: '';
						width: 24px;
						height: 24px;
						background: url('../img/icons/meeting-control-icon.svg') no-repeat;
						background-size: 72px 24px;
						position: absolute;
						top: 50%;
						left: 10px;
						@include transform(translateY(-50%));
					}
					&.active {
						&:before {
							background-position: 0 0;
						}
						.meeting-control-info {
							.title {
								.name { color: $green }
							}
						}
					}
					&.inactive {
						&:before {
							background-position: -24px 0;
						}
						.meeting-control-info {
							.title {
								.name {
									color: #bbbbbb;
								}
								.company { color: #bbbbbb }
							}
						}
					}
					&.canceled {
						&:before {
							background-position: -48px 0;
						}
						.meeting-control-info {
							.title {
								.name { color: #f22b47 }
							}
						}
					}

					.meeting-control-info {
						.title {
							float: left;
							.name, .company {
								font-size: 13px;
								.company-span {
									color: #222;
								}
							}
						}
						.button-menu {
							float: right;
							padding-top: 8px;

							.button-container {
								.actions {
									float: left;
									position: relative;
									cursor: pointer;
									&.next {
										width: 34px;
										a {
											font-size: 13px;
										}
									}
									&.up, &.down, &.cancel {
										width: 16px;
										height: 18px;
										margin-left: 8px;
										&:before {
											content: '';
											width: 16px;
											height: 18px;
											background: url('../img/icons/meeting-control-buttons.svg') no-repeat;
											background-size: 47px 18px;
											position: absolute;
											left: 0;
										}
									}
									&.up {
										&:before {
											background-position: 0 0
										}
									}
									&.down {
										&:before {
											background-position: -16px 0
										}
									}
									&.cancel {
										&:before {
											background-position: -31px 0
										}
									}
								}
							}
						}
					}
        }
      }
    }



	}
}


@media screen and ($tablet-breakpoint) {
	#meeting-control {
		.section-1 {
			.meeting-control-section-title {
				display: none;
			}

			.columns { padding: initial }

      .tab-nav-container {
        position: relative;
        margin: rhythm(3) 0 rhythm(2);
				height: 60px;

				.meeting-control-user-account-info {
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translateY(-50%));
					text-align: right;
					padding: 0 0 20px;

					.user {
						font-size: 17px;
					}
					.total-accounts {
						font-size: 12px;
					}
				}

        .tab-nav {
					overflow: auto;

          li {
            width: auto;
            font-size: em-value(16);
						padding: 14px rhythm(2) 12px;
            background: $dark-teal;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right: 8px;
						border-right: 0;

						.view-all-tab {
							display: inline;
						}
						.chat-tab {
							display: none;
						}
          }
        }
      }

			.meeting-control-columns {
				display: inline-block;

				&.four {
					width: 32%;
					margin-left: 2%;

					&:first-child {
						margin-left: 0;
					}
				}

				&.six {
					width: 49%;
					margin-left: 2%;

					&:first-child {
						margin-left: 0;
					}
				}

				&.active {
					display: inline-block;
				}

				.meeting-control-section {
					height: 1000px;
					overflow-y: scroll;
					background: white;

				}

				&.participants {
					.meeting-control-section {
						height: 1116px;
					}
					.print-participant {
						margin: rhythm(2) 0 rhythm(1);
					}
				}

			}

		}
	}
}
