#meeting-history {
	h1 {
		color: $navbar-gray;
	}

	.csv-cta {
		.button {
			line-height: 34px;
			height: 32px;
			font-size: 14px;
			font-weight: bold;
		}
	}

	.section {
		padding: 0;

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
			&.desk {
				display: none;
			}
			&.mob {
				display: block;
				margin-top: rhythm(1);
				margin-bottom: 25px;
			}
		}

		.columns {
			padding: 0;
		}

    .tab-nav-container {
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 60px;

      .tab-nav {
        list-style: none;
  	    padding: 0;
  	    margin: 0;
  	    padding: 0;
  			width: 100%;
        border-bottom: 1px solid $dark-teal;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 0;
        		height: 0;
            background: transparent;  /* optional: just make scrollbar invisible */
        }

        li {
          width: 25.5%;
          display: inline-block;
          padding: 14px rhythm(2) 12px;
          font-size: em-value(14);
          background: $dark-teal;
          text-align: center;
          color: white;
          cursor: pointer;

          &.active, &:hover {
            background: $teal-nav-active;
            @include transition(background 0.2s ease-in);
          }
        }
      }
    }

		.tab-nav-info-block {
			display: none;

			&.active {
				display: block;
			}
		}

		.content-box {
			padding: 0;
			margin: 0 0 rhythm(1.333);
		}

		.content-box-header {
			padding-top: 0;
			p {
				span {
					font-weight: bold;
					color: $dark-teal;
					font-size: 13px;
				}
			}
		}

		.content-box-list {
			.content-box-list-row {
				padding-top: rhythm(1);
				padding-bottom: rhythm(1);

				.content-box-list-column {
					line-height: 23px;
					.type {
						font-weight: normal;
					}
				}
			}

			.content-box-list-header {
				padding-bottom: 0;
			}
		}
	}

/******************
	SECTION - 1
******************/
  .section-1 {
  	.meeting-history-info {
  		position: relative;
  		margin: 0 rhythm(2) rhythm(2);

  		ul {
  			list-style: none;
  	    padding: 0;
  	    margin: 0;
  	    padding: 0;
  			width: 100%;
  			max-width: 630px;
  			position: relative;

  			li {
  				position: relative;
  				float: left;
  				text-align: left;
  				padding-bottom: rhythm(0.333);
  				font-size: em-value(13);

  				&.info {
  					width: 100%;
  				}
  				&.data {
  					width: 100%;
						word-wrap: break-word;

  					span {
  						color: $dark-teal;
							font-weight: normal;
							display: block;
							margin-bottom: 3px;
  					}
  				}
  			}
  		}
  	}
  }

}

@media screen and ($tablet-breakpoint) {
	#meeting-history {
		.section {
			padding: rhythm(2) 0;

			.client-corner-page-title {
				margin: inherit;
				&.desk {
					display: block;
				}
				&.mob {
					display: none;
					margin: 0;
				}
			}

			.columns { padding: rhythm(2) rhythm(2); }

      .tab-nav-container {
        position: relative;
        margin: rhythm(3) 0 rhythm(2);

        .tab-nav {
					overflow: auto;

          li {
            width: auto;
            font-size: em-value(16);
            background: $dark-teal;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right: 8px;
          }
        }
      }

		}

/******************
	SECTION - 1
******************/
		.section-1 {
			.meeting-history-info {
				margin: 0 0 rhythm(2);

				.title {
					font-size: em-value(16);
				}
				ul {
					li {
						font-size: em-value(16);
						&.info {
	  					width: 40%;
	  				}
	  				&.data {
	  					width: 60%;
						}
					}
				}
			}

			.content-box-header {
				padding-top: 0;
				p {
					span {
						font-weight: bold;
						color: $dark-teal;
						font-size: 13px;
					}
				}
			}

			.content-box-list {
				.content-box-list-row {
					.content-box-list-column {
						&.offset-20 {
							width: 20.667%;
						}
						&.offset-12 {
							width: 12%;
							text-align: center;
						}
					}
				}

				.content-box-list-header {
					padding-bottom: 0;
					&.offset-20 {
						width: 20.667%;
					}
					&.offset-12 {
						width: 12%;
						text-align: center;
					}
				}
			}
		}

	}
}
