#meeting-active {
	h1 {
		color: $navbar-gray;
	}

	.section {
		padding: 0;

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
			&.desk {
				display: none;
			}
			&.mob {
				display: block;
				margin-top: rhythm(1);
				margin-bottom: 25px;
			}
		}

		.columns {
			padding: 0;
		}

    .tab-nav-container {
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 60px;

      .tab-nav {
        list-style: none;
  	    margin: 0;
  	    padding: 0;
  			width: 100%;
        border-bottom: 1px solid $dark-teal;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 0;
        		height: 0;
            background: transparent;  /* optional: just make scrollbar invisible */
        }

        li {
          width: 50%;
          display: inline-block;
          padding: 14px 0 12px;
          font-size: em-value(14);
          background: $dark-teal;
          text-align: center;
          color: white;
          cursor: pointer;

          &.active, &:hover {
            background: $teal-nav-active;
            @include transition(background 0.2s ease-in);
          }
        }
      }
    }

		.tab-nav-info-block {
			display: none;

			&.active {
				display: block;
			}
		}

		.content-box {
			padding: 0;
			margin: 0 0 rhythm(1.333);
		}

		.content-box-header {
			padding-top: 0;
			p {
				span {
					font-weight: bold;
					color: $dark-teal;
					font-size: 13px;
				}
			}
		}

		.content-box-list {
			.content-box-list-row {
				padding-top: rhythm(1);
				padding-bottom: rhythm(1);

				.content-box-list-column {
					line-height: 23px;
					.type {
						font-weight: normal;
					}
				}
			}

			.content-box-list-header {
				padding-bottom: 0;
			}
		}

		.meeting-active-info-footer {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
			margin-bottom: rhythm(3);
			.button {
				font-size: rhythm(1);
				width: 170px;
				height: 42px;
				line-height: 42px;
			}
			.cancel-meeting {
				color: $navbar-gray;
				font-size: rhythm(1);
				display: block;
				margin: rhythm(1.667) 0;
				text-decoration: underline;
			}
		}

		.meeting-active-info-title {
			margin-bottom: rhythm(1.667);

			p {
				margin: 0;
				color: $dark-teal;
				font-size: 13px;
			}

			hr {
				margin: rhythm(1) auto;
				width: 100%;
				max-width: 100%;
				color: $dark-teal;
				border-top: 1px solid $light-teal;
			}
		}
		#render-join-info, #render-enhancement-info {
			margin-bottom: rhythm(3);
		}
	}

/******************
	SECTION - 1
******************/
  .section-1 {
  	.meeting-active-info, .meeting-active-info-subsection {
  		position: relative;
  		margin: 0 rhythm(2) rhythm(2);

  		.data-info-list {
  			list-style: none;
  	    padding: 0;
  	    margin: 0;
  			width: 100%;
  			max-width: 630px;
  			position: relative;

  			li {
  				position: relative;
  				float: left;
  				text-align: left;
  				padding-bottom: rhythm(0.333);
  				font-size: em-value(13);

  				&.info {
  					width: 100%;
  				}
  				&.data {
  					width: 100%;
						word-wrap: break-word;

  					span {
  						color: $dark-teal;
							font-weight: normal;
							display: block;
							margin-bottom: 3px;

							&.add-to-calendar {
								margin-top: 10px;
								color: $gold;
								display: inline-block;
								position: relative;
								font-size: 14px;
								padding-left: 22px;
								cursor: pointer;

								&:before {
									content: '';
									background: url('../img/icons/icon-calendar-gold.png') no-repeat;
									background-size: contain;
									width: 16px;
									height: 18px;
									position: absolute;
									left: 0;
								}
							}
  					}
  				}
  			}
  		}
  	}

		.meeting-active-info-subsection {
			.data-info-list {
				max-width: 100%;
			}
		}
  }
}

@media screen and ($tablet-breakpoint) {
	#meeting-active {
		.section {
			padding: rhythm(2) 0;

			.client-corner-page-title {
				margin: inherit;
				&.desk {
					display: block;
				}
				&.mob {
					display: none;
					margin: 0;
				}
			}

			.columns { padding: rhythm(2) rhythm(2); }

      .tab-nav-container {
        position: relative;
        margin: rhythm(3) 0 rhythm(2);

        .tab-nav {
					overflow: auto;

          li {
            width: auto;
						padding: 14px rhythm(2) 12px;
            font-size: em-value(16);
            background: $dark-teal;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right: 8px;
          }
        }
      }

			.meeting-active-info-footer {
				margin-left: 0;
				margin-right: 0;
			}

			.meeting-active-info-footer {
				.cancel-meeting {
					display: inline-block;
					margin-left: rhythm(1);
				}
			}

		}

/******************
	SECTION - 1
******************/
		.section-1 {
			.meeting-active-info, .meeting-active-info-subsection {
				margin: 0 0 rhythm(2);
				.title {
					font-size: em-value(16);
				}
				.data-info-list {
					li {
						font-size: em-value(16);
						&.info {
	  					width: 40%;
	  				}
	  				&.data {
	  					width: 60%;
						}
					}
				}

				.content-box-header {
					padding-top: 0;
					p {
						span {
							font-weight: bold;
							color: $dark-teal;
							font-size: 13px;
						}
					}
				}

				.content-box-list {
					.content-box-list-row {
						.content-box-list-column {
							width: 50%;
						}
					}

					.content-box-list-header {
						padding-bottom: 0;

					}
				}
			}

		}

	}
}
