#my-meetings {
	h1 {
		color: $navbar-gray;
	}

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.content-box {
			padding: 0;
		}

		.content-box-list {
			.content-box-list-column {
				.type {
					vertical-align: top;
				}
			}
		}

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
		}

		.client-corner-page-subtitle {
			color: $dark-teal;
			font-size: em-value(15);
			font-weight: bold;
			margin-left: rhythm(2);
			margin-right: rhythm(2);
			margin-top: rhythm(1);
		}

		.columns {
			padding: 0;
		}

		.meeting-block {
			.twelve { padding: 0 }
		}

		.form-date {
			position: relative;
			margin: 0;
			padding-top: 10px;
			margin-left: rhythm(2);
			margin-right: rhythm(2);

			.form-date-group {
				float: left;
				position: relative;
				width: 100%;

				.date {
					display: inline-block;

					input[type="text"] {
						width: 150px;
				    height: 33px;
				    border: 1px solid #c7c1c1;
				    font-size: 0.8125em;
				    margin: 0 10px 10px 0;
				    line-height: 33px;
				    padding: 0 0 0 10px;
					}

					label {
						font-size: em-value(13);
						display: inline-block;
						width: 40px;
						text-align: right;
						margin-right: 9px;
					}
				}

				.ui-datepicker-trigger {
					position: absolute;
					left: 168px;
					top: 5px;
					height: 23px;
					width: 23px;
				}

			}
		}

		#meetings-search-form {
			margin: 25px 0 0;
			padding: 0 rhythm(2);

			.status-label {
				font-size: em-value(13);
				float: left;
				margin-right: 10px;
			}

			.input-group {
				float: left;
				width: 170px;

				.input-container {
					margin-bottom: 10px;
				}

				label{
					font-size: em-value(13);
				}
				input[type="radio"] + label span {
					display: inline-block;
					width: 22px;
					height: 22px;
					margin: -1px 10px 0 0;
					vertical-align: middle;
					background: white;
					cursor: pointer;
					border: 1px solid #ccc;
					color: white;
					border-radius: 0;
				}
				input[type="radio"]:checked + label span {
					position: relative;
					&:before {
						content: '';
						border-radius: 0;
						background: $teal;
						width: 15px;
						height: 15px;
						position: absolute;
						left: 50%;
						top: 50%;
						@include transform(translate(-50%, -50%));
					}
				}
			}
		}

		#schedule-meeting {
			margin: rhythm(1) rhythm(2) rhythm(1.333);
			min-width: 170px;
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#my-meetings {
		.section-1 {
			.client-corner-page-title {
				margin: inherit;
			}
			.meeting-block {
				margin: inherit;
			}

			.content-box {
				margin-top: 25px;
			}

			.client-corner-page-subtitle {
				color: $dark-teal;
				font-size: em-value(25);
				margin: inherit;
				margin-top: rhythm(2);
			}

			.content-box-list {
				.content-box-list-column {
					width: 15%;
					line-height: 23px;
					&:first-child {
						width: 40%;
						padding-right: rhythm(2);
						box-sizing: border-box;
					}
				}
			}

			.columns { padding: rhythm(2) rhythm(2); }

			.form-date {
				margin: inherit;

				.form-date-group {
					width: auto;

					.date {
						input[type="text"] {
							margin: 0;
						}
					}
				}
			}

			.form-date {
				float: left;
			}
			#meetings-search-form {
				float: right;
				margin: 0;
				padding: 10px 0 0;

				.status-label {
					line-height: 33px;
				}

				.input-group {
					width: auto;

					.input-container {
						display: inline-block;
						margin: 0;
						padding-right: 5px;

						label {
							margin: 0;
						}
					}
				}
			}

			#schedule-meeting {
				margin: rhythm(2) 0;
				min-width: 170px;
			}

		}
	}
}
