#profile {
	h1 {
		color: $navbar-gray;
	}

	.section-1 {
		text-align: left;
		padding: rhythm(2) 0;

		.columns {
			padding: 0 rhythm(2);
		}

		.content-box {
			max-width: 530px;
			padding: 20px;

			p {
				line-height: 1.5;

				&#passcode {
					display: inline;
				}
				&.passcode-change {
					display: inline;
					a {
						font-size: 14px;
					}
				}
			}

			.edit-info {
				display: block;
				margin: rhythm(1) 0;

				&:before {
					@include transform(scale(0.8));
					top: -2px;
				}
			}

			.content-box-footer {
				background: #eef5f5;
				padding: rhythm(1) rhythm(1.333);
			}
		}

		.resource-footer {
			position: relative;
			a {
				display: block;
				margin-bottom: rhythm(1);
				padding-left: 36px;
			}
		}

	}
}

@media screen and (min-width: 360px) {
	.content-box {
		p {
			&.passcode-change {
				float: right;
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#profile {
		.section-1 {
			.columns { padding: rhythm(2) rhythm(2); }

			.content-box {
				p {
					line-height: 1.5;
				}

				.edit-info {
					display: block;
					margin: rhythm(1) 0;
				}

				.content-box-footer {

				}
			}

			.resource-footer {
				a {
					margin-bottom: rhythm(2);
				}
			}

		}
	}
}
