#schedule-meeting{
	h1 {
		color: $navbar-gray;
	}

	form input[type="radio"] + label span, form input[type="checkbox"] + label span {
		width: 18px;
		height: 18px;
	}

	form input[type="radio"]:checked + label span:before, form input[type="checkbox"]:checked + label span:before {
		width: 12px;
		height: 12px;
	}

	.section {
		display: none;
		text-align: left;
		padding: rhythm(2) 0;

		&.active {
			display: block;
		}

		form {
			margin: 0;
		}

		.content-box-header {
			padding: 0 0 rhythm(1.333);
		}

		#countries-list {
			color: $dark-teal;
			width: 100%;
			max-width: 330px;
			padding: 5px;
			margin-bottom: rhythm(1);

			option {
				text-transform: uppercase;
				padding: 2px 0;
			}

			&::-webkit-scrollbar {
			    width: 20px;
			}
			&::-webkit-scrollbar-button {
				background-color: #ffffff;
			}
			&::-webkit-scrollbar-track {
			    background-color: #b2d1d3;
			}
			&::-webkit-scrollbar-thumb {
			    background-color: #ffffff;
			}

		}

		.add-participant {
			color: $gold;
			font-size: 13px;
			padding: 0 0 rhythm(1);
			display: block;
		}

		.columns {
			padding: 0 rhythm(2);
		}

		.organization-name, .meeting-leader {
			margin-top: rhythm(1);
			font-size: 13px;
			span {
				color: $dark-teal;
			}
		}

		.meeting-leader {
			margin: rhythm(1) 0 rhythm(2);
		}

		.title-required {
			color: #4b4c4c;
			line-height: 0.8;
			margin: rhythm(1) 0;
			span {
				color: #469ba1;
		    font-size: 28px;
		    vertical-align: baseline;
		    position: relative;
		    top: 0.35em;
			}
		}

		.input-label {
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		.input-container {
			max-width: 460px;
			&.special-bill-code-container {
				&:before {
					top: 30%;
				}
				input[type="text"] {
					margin-bottom: 10px;
				}
				span {
					display: inline-block;
					margin-bottom: rhythm(2);
					font-size: 13px;
				}
			}
		}
		.margin-adjust {
			margin-bottom: 25px;
			label {
		    font-size: 13px;
			}
		}

		.checkmark-adjust {
			margin-bottom: 10px;
			input[type="text"] {
				max-width: 300px;
				width: 60%;
				margin-left: 0;
			}
			label {
				font-size: 13px;
			}
		}

		.border-container {
			max-width: 450px;
			border-bottom: 1px solid $light-gray;
			padding-bottom: rhythm(1);
			label {
				font-size: 13px;
			}
		}

		.meeting-time-container {
			.meeting-time {
				max-width: 320px;
		    margin-right: 5px;
			}
			.select-style {
		    width: 119px;
			}
		}

		.select-style.podcast {
			display: block;
			margin: rhythm(1) 0;
		}

		.date {
			position: relative;
			width: 100%;
			max-width: 450px;

			.ui-datepicker-trigger {
				position: absolute;
				right: 10px;
				top: 11px;
				height: 23px;
				width: 23px;
			}

		}

		.schedule-meeting-footer {
			margin-top: rhythm(2);
			.next-button {
				font-size: 16px;
			}
		}
	}

	.section-1 {
		p {
			margin: 10px 0 0;
		}
		.button {
			margin-top: rhythm(1);
		}
		.schedule-cta-content {
			max-width: 560px;
			margin: 0;
			.columns {
				padding: 0;
			}
		}
	}

	.section-3 {
		.caption {
			p, a {
				font-size: 13px;
			}
			p {
				margin-bottom: 10px;
				span {
					color: $dark-teal;
				}
			}
		}
		.input-container {
			&.btn-add-container {
				text-align: right;
				.btn-add {
					font-weight: bold;
					margin: 0 10px 0 0;
					font-size: 14px;
					line-height: 42px;
				}
			}
		}
	}

	.section-4 {
		.input-container {
			.button {
				font-size: 15px;
				margin: rhythm(2) 0 rhythm(1);
		    line-height: 40px;
			}
		}
	}

	.section-5 {
		.client-corner-page-title {
			margin: 0 rhythm(2) rhythm(1);
		}
		.content-box-header {
			padding: 10px rhythm(2) rhythm(1.333);
		}
		.columns {
			padding: 0;
		}
		.content-box {
			padding: 0;
			margin: rhythm(0.667) 0 rhythm(2);
		}

		.content-box-list-title {
			color: $gold;
		}

		.schedule-meeting-footer {
			margin: rhythm(2) rhythm(2) 0;
		}
	}

	.section-6 {
		.schedule-meeting-footer {
			text-align: center;
			.submit-btn {
				min-width: 98px;
				height: 42px;
				line-height: 42px;
				padding: 0;
				margin-right: rhythm(1);
				font-size: 16px;
			}
			.go-back {
				line-height: 42px;
				color: $placeholder;
				text-decoration: underline;
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	#schedule-meeting{

		.section {
			.columns { padding: rhythm(2) rhythm(2); }
			.organization-name, .meeting-leader {
				font-size: 1em;
			}
			.title-required {
				font-size: 1em;
			}
			.input-label {
				font-size: 1em;
			}

			.add-participant {
				font-size: 1em;
			}

			.border-container {
				label {
					font-size: 1em;
				}
			}
			.margin-adjust, .checkmark-adjust {
				label {
			    font-size: 1em;
				}
			}
		}
		.section-1 {
			p {
				font-size: 14px;
				margin: 10px 0 0;
			}

			.button {
				margin-top: 0;
			}
		}

		.section-3 {
			.caption {
				p, a {
					font-size: 1em;
				}
			}
			.input-container {
				&.btn-add-container {
					.btn-add {
						font-size: 15px;
					}
				}
				&.special-bill-code-container {
					span {
						font-size: 1em;
					}
				}
			}
		}
		.section-5 {
			.content-box-header {
				padding: 10px 0 rhythm(1.333);
			}
			.client-corner-page-title {
				margin: 0 0 rhythm(1);
			}
			.content-box {
				.content-box-list-column {
					width: 33.33%;
				}
			}
			.schedule-meeting-footer {
				margin: rhythm(2) 0 0;
			}
		}

		.section-6 {
			.schedule-meeting-footer {
				text-align: left;
			}
		}
	}
}
