#web-quality {
	h1 {
		color: $navbar-gray;
	}

	.section {
		display: none;
		padding: rhythm(2) 0;

		.client-corner-page-title {
			margin-left: rhythm(2);
			margin-right: rhythm(2);
		}

		.columns {
			padding: 0;
		}

		.content-box-header {

			.index-report-title {
				margin-bottom: rhythm(1.667);

				p {
					margin: 0;
					color: $dark-teal;
				}

				hr {
					margin: rhythm(1) auto;
					width: 100%;
					max-width: 100%;
					color: $dark-teal;
					border-top: 1px solid $light-teal;
				}

			}
		}

		.content-box {
			padding: 0;

			&.issues-box {
				overflow: hidden;
				height: 0;
				opacity: 0;
				margin: 0;

				&.display {
					height: auto;
					opacity: 1;
					margin: rhythm(0.667) 0 rhythm(2);
				}
			}
		}

		&.active {
			display: block;
		}

	}

/******************
	SECTION - 1
******************/
	.section-1 {
		.content-box-header {
			.index-report-title {
				margin-bottom: 0;
				margin-top: rhythm(1);
			}
		}
	}
/******************
	SECTION - 2
******************/
	.section-2 {
		.web-quality-block {
			position: relative;
			.eight, .four { padding: 0 }
		}

		.qi-info-block {
			margin-bottom: rhythm(2);

			.qi-info-row {
				background: $pale-yellow;
				margin-bottom: rhythm(0.667);
				padding: rhythm(0.667) rhythm(2);

				div {
					float: left;
					display: inline-block;
					text-align: left;
					font-size: em-value(13);

					&.info {
						width: 80%;
					}

					&.data {
						width: 20%;
					}
				}
			}

			.view-issue {
				display: inline-block;
				font-size: em-value(13);
				color: $gold;
				margin: rhythm(1) rhythm(2) 0;
			}
		}

		.form-date {
			position: relative;
			margin: 0;
			padding-top: rhythm(1.667);
			padding-bottom: rhythm(1.667);
			margin-left: rhythm(2);
			margin-right: rhythm(2);

			.form-date-group {
				float: left;
				position: relative;
				width: 100%;

				.date {
					display: inline-block;

					input[type="text"] {
						width: 150px;
						height: 33px;
						border: 1px solid $nav-light-gray;
						font-size: em-value(13);
						margin: 0 10px 10px 0;
					}

					label {
						font-size: em-value(13);
						display: inline-block;
						width: 40px;
						text-align: right;
					}

					#view-report {
						padding: 0;
						line-height: 35px;
						height: 35px;
						font-size: em-value(15);
						margin-left: 44px;
	    			width: 150px;
						display: block;
					}
				}

				.ui-datepicker-trigger {
					position: absolute;
					left: 168px;
					top: 4px;
					height: 23px;
					width: 23px;
				}
			}
		}
	}
/******************
	SECTION - 3
******************/
.section-3 {
	.issue-block {
		position: relative;
		margin: 0 rhythm(2) rhythm(2);

		.title {
			font-weight: bold;
			font-size: em-value(13);
			margin-bottom: rhythm(0.667);
		}

		ul {
			list-style: none;
	    padding: 0;
	    margin: 0;
	    padding: 0;
			width: 100%;
			max-width: 630px;
			position: relative;

			li {
				position: relative;
				float: left;
				text-align: left;
				padding-bottom: rhythm(0.333);
				font-size: em-value(13);

				&.info {
					width: 100%;
				}
				&.data {
					width: 100%;
					span {
						color: $dark-teal;
					}
				}
			}
		}

		textarea {
			display: block;
			width: 100%;
			max-width: 630px;
			height: 140px;
			text-align: left;
			font-size: em-value(13);
			border: 1px solid $nav-light-gray;
			padding: rhythm(1);
			box-sizing: border-box;
		}
	}
}

}

@media screen and ($tablet-breakpoint) {
	#web-quality {
		.section {
			.client-corner-page-title {
				margin: inherit;
			}

			.content-box {
				padding: 0;

				&.issues-box {
					overflow: hidden;
					height: 0;
					opacity: 0;
					margin: 0;

					&.display {
						height: auto;
						opacity: 1;
						margin: rhythm(2) 0;
					}
				}
			}

			.columns { padding: rhythm(2) rhythm(2); }

		}

/******************
	SECTION - 1
******************/

		.section-1 {
			.content-box-list {
				.content-box-list-row {

					.content-box-list-column {
						width: 50%;
						line-height: 23px;
					}
				}
			}


		}

/******************
	SECTION - 2
******************/
.section-2 {
	.content-box-list {
		.content-box-list-row {

			.content-box-list-column {
				width: 25%;
				line-height: 23px;

				.content-box-list-title {
					color: $gold;
				}
			}
		}
	}

	.web-quality-block, .qi-info-block {
		margin: inherit;
	}
	.qi-info-block {
		margin-bottom: rhythm(2);

		.qi-info-row {
			padding: rhythm(1) rhythm(2);

			div {
				font-size: em-value(16);

				&.info {
					width: 40%;
				}

				&.data {
					width: 60%;
				}
			}
		}

		.view-issue {
			display: inline-block;
			font-size: em-value(14);
			margin: rhythm(1) 0 0;
		}
	}

	.form-date {
		margin: inherit;

		.form-date-group {
			width: auto;

			.date {
				input[type="text"] {
					margin: 0 10px 0 0;
				}

				#view-report {
					margin-left: 0;
					width: auto;
					display: inline-block;
				}
			}
		}
	}

}

/******************
	SECTION - 3
******************/
		.section-3 {
			.issue-block {
				margin: 0 0 rhythm(2);

				.title {
					font-size: em-value(16);
				}
				ul {
					li {
						font-size: em-value(16);
						&.info {
							width: 30%;
						}
						&.data {
							width: 70%;
						}
					}
				}

				textarea {
					font-size: em-value(16);
					height: 150px;
				}
			}
		}

	}
}
