#ui-datepicker-div {
  top: 50%;
  left: 50%;
  //@include transform(translate(-50%, -50%));
  background: $dark-teal;
  width: 192px;
  border: 0;
  border-radius: 0;

  .ui-datepicker-header {
    border: 0;
    background: none;
    color: white;

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      border: 0;
      background: none;
      top: 2px;
    }
    .ui-datepicker-prev {
      span {
        display: inline-block;
        background: none;
        border-top: 10px solid transparent;
    		border-bottom: 10px solid transparent;
    		border-right:10px solid white;
        width: 0;
      	height: 0;
        cursor: pointer;
      }
    }
    .ui-datepicker-next {
      span {
        display: inline-block;
        background: none;
        border-top: 10px solid transparent;
    		border-bottom: 10px solid transparent;
    		border-left:10px solid white;
        width: 0;
      	height: 0;
        cursor: pointer;
      }
    }
    .ui-datepicker-title {
      span {
        font-weight: bold;
        color: rgba(255,255,255,0.8);
        font-size: 13px;

      }
    }
  }

  .ui-datepicker-calendar {
    width: 87%;
    border-collapse: collapse;
    margin: 0 0 5px;

    thead {
      th {
        span {
          color: white;
          font-size: 13px;
        }
      }
    }
    tbody {
      background: white;
      tr {
        td {
          border-right: 1px solid #cacaca;
          text-align: center;
          span, a {
            border: none;
            background: none;
            text-align: center;
            font-size: 13px;
          }
          a {
            color: $gold;
          }
        }
      }
    }
  }
}


@media screen and ($tablet-breakpoint) {
  #ui-datepicker-div {
    width: 300px;

    .ui-datepicker-header {
      .ui-datepicker-title {
        span {
          font-size: 14px;
        }
      }
    }

    .ui-datepicker-calendar {
      margin: 0px 20px 20px 20px;

      thead {
        th {
          span {
            font-size: 15px;
          }
        }
      }
      tbody {
        tr {
          td {
            span, a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
