$main               : #3c3c3c;
$dark-teal          : #00686d;
$teal               : #469ba1;
$teal-nav-active    : #13a4ab;
$light-teal         : #88c4c8;
$gold               : #df9100;
$header-gray        : #f0f0ef;
$light-gray         : #b2b2b2;
$gray               : #949393;
$dark-gray          : #312f2f;
$footer-bg          : #f6f6f6;
$list-bg            : #ebf3f3;
$border-gray        : #969191;
$off-gray           : #b1a9a9;
$red-error          : #f24747;
$cc-hover           : #b8b2b2;
$navbar-gray        : #4b4c4c;
$nav-border-gray    : #a8a8a8;
$nav-dark-gray      : #312f2f;
$nav-light-gray     : #c7c1c1;
$nav-active         : #287e83;
$placeholder        : #3c3c3c;
$content-box-border-bottom-color : #bcbcbc;


$page-title-border-color: #72bec2;
$page-info-color: #499296;
$light-opacity-teal: #eef5f5;
$arrow-bg-color: #c3c3c3;
$pale-yellow: #fcf2de;

$green: #42a02d;
