.desktop-only {
	display: none !important;
}
.mobile-only {
	display: inline-block !important;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.remove {
	display: none;
}
.block {
	display: block;
}
.bold {
	font-weight: bold;
}

.sup {
	font-size: 0.6em;
	vertical-align: middle;
}

.search-icon {
	cursor: pointer;
	width: 19px;
	height: 18px;
	svg {
		width: 19px;
		height: 18px;
		position: relative;
		path {
			fill: #939393;
		}
	}
}

.users-icon {
	cursor: pointer;
	width: 32.5px;
	height: 34px;
	svg {
		width: 32.5px;
		height: 34px;
		position: relative;
		path {
			fill: #ffffff;
		}
	}
}

.chat-icon {
	cursor: pointer;
	width: 20px;
	height: 18.5px;
	svg {
		width: 20px;
		height: 18.5px;
		position: relative;
		path {
			fill: #ffffff;
		}
	}
}

// SERVICE TABLE LISTS
.list {
	background: $list-bg;
	list-style-image: url('../img/services/icon-check.png');
	padding-right: 10px;

  li {
  	font-size: em-value(12);
  	padding-bottom: rhythm(0.333);
  	text-align: left;
  }
  .top { padding-top: rhythm(1)}
  .bottom {padding-bottom: rhythm(1)}
}

.menu {
	width: 25px;
	height: 17px;
	background: url('../img/header/hamburger.png') no-repeat;
	background-size: 25px 17px;
	background-position: center;
	cursor: pointer;
}
.nav-open {
	.menu {
		width: 17px;
		height: 17px;
		background: url('../img/header/close.png') no-repeat;
		background-size: 17px 17px;
	}
}

// BUTTON
.button {
	background: #ec9b00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec9b00 0%, #b87200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9b00), color-stop(100%,#b87200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec9b00 0%,#b87200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec9b00 0%,#b87200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec9b00 0%,#b87200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec9b00 0%,#b87200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9b00', endColorstr='#b87200',GradientType=0 ); /* IE6-9 */
	font-size: em-value(17);
	color: white;
	padding: 0 20px;
	line-height: 53px;
	text-decoration: none;
	text-align: center;
	min-width: 115px;
	position: relative;
	@include border-radius(5px);
	cursor: pointer;
	border: 0;
	font-weight: 100;
	display: inline-block;

	span {
		display: inline-block;
		position: relative;
		&.icon {
			margin-left: 30px;
			&:before {
				content: '';
				width: 23px;
				height: 25px;
				background: url('../img/icons/cta-icons.png') no-repeat;
				background-size: cover;
				position: absolute;
				top: 16px;
				left: -30px;
			}
		}
	}

	&.credit-card {
		min-width: 200px;
		span {
			&.icon {
				&:before {
					background-position: 0 0;
				}
			}
		}
	}

	&.invoice {
		min-width: 200px;
		span {
			&.icon {
				&:before {
					width: 22px;
					background-position: -24px 0;
				}
			}
		}
	}

	&.chat {
		min-width: 160px;
		span {
			&.icon {
				&:before {
					top: 12px;
					background-position: -46px 0;
				}
			}
		}
	}

	&.play {
		min-width: 200px;
		height: 42px;
		font-size: em-value(15);
		line-height: 42px;
		span {
			&.icon {
				&:before {
					top: 12px;
					background-position: -122px 0;
					top: 8px;
				}
			}
		}
	}

	&.icon-search {
		min-width: 34px;
		padding: 0;
		min-width: 0;
		line-height: 30px;
		span {
			width: 34px;
			height: 33px;
			&.icon {
				margin: 0;
				&:before {
					background-position: -96px 0;
			    top: 4px;
			    left: 5px;
					@include transform(scale(0.7));
				}
			}
		}
	}

	&.participants {
		span {
			&.icon {
				&:before {
					content: '';
					background: url('../img/icons/cc-icon-participants.svg');
					background-size: 23px 17px;
					background-position: center;
					width: 23px;
					height: 17px;
					top: 10px;
				}
			}
		}
	}

	&.operator-handled {
		min-width: 200px;
		height: 52px;
		font-size: em-value(15);
		line-height: 52px;
		span {
			margin-left: 25px;
			&.icon {
				&:before {
					content: '';
					background: url('../img/icons/schedule-meeting-icons.svg');
					background-size: 50px 30px;
					background-position: 22px 0;
					width: 22px;
					height: 30px;
					top: 10px;
					left: -32px;
				}
			}
		}
	}
	&.always-on {
		min-width: 220px;
		height: 52px;
		font-size: em-value(15);
		line-height: 52px;
		span {
			&.icon {
				&:before {
					content: '';
					background: url('../img/icons/schedule-meeting-icons.svg');
					background-size: 50px 30px;
					background-position: 0 0;
					width: 28px;
					height: 30px;
					top: 10px;
					left: -37px;
				}
			}
		}
	}

	&.next-button {
		min-width: 104px;
		height: 52px;
		font-size: em-value(15);
		line-height: 52px;
		padding: 0 18px 0 0;
		span {
			&.icon {
				margin: 0;
				&:before {
					content: '';
					background: url('../img/icons/next-arrow.svg');
					background-size: 18px 16px;
					background-position: 0 0;
					width: 18px;
					height: 16px;
					top: 17px;
					left: 48px;
				}
			}
		}
	}

	&.button-disabled {
	  background: #998C78 !important;
	  /* Old browsers */

	  background: -moz-linear-gradient(top, #998C78 0%, #998C78 100%) !important;
	  /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #998C78), color-stop(100%, #998C78)) !important;

	  /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top, #998C78 0%, #998C78 100%) !important;

	  /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top, #998C78 0%, #998C78 100%) !important;

	  /* Opera 11.10+ */
	  background: -ms-linear-gradient(top, #998C78 0%, #998C78 100%) !important;

	  /* IE10+ */
	  background: linear-gradient(to bottom, #998C78 0%, #998C78 100%) !important;
	}

}

// CHECK SWITCH

.check-switch input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

label.check-switch {
	clear: both;
	color: #999;
	display:inline-block;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 vertical-align: middle;
}

/* Default Track */
.check-switch input[type="checkbox"] + .track {
	width: 57px;
	height: 21px;
	background-color: #ff7b84;
	border: 1px solid #cd5744;
	border-radius: 23px;
	margin: 0;
	cursor: pointer;
	position: relative;
	@include transition(background-color 0.3s ease);

}

/* Default Track Checked */
.check-switch input[type="checkbox"]:checked + .track {
	background-color: #a6ee95;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.check-switch input[type="checkbox"] + .track > .on-off-label {
	position: absolute;
	top: 51%;
	@include transform(translateY(-50%));
	left: 0;

	span{
		font-weight: bold;
		font-size: 11px;
		line-height: 26px;
		display: inline;
		text-transform: uppercase;
		vertical-align: middle;
		&.on {
			color: #418f2f;
			display: none;
		}
		&.off {
			color: #8f5247;
			padding-left: 5px;
			display: inline;
		}
	}
}

.check-switch input[type="checkbox"]:checked + .track > .on-off-label {
	left: 31px;

	span{
		display: none;
		&.on {
			display: inline;
		}
		&.off {
			display: none;
		}

	}
}

/* Default Knob */
.check-switch input[type="checkbox"] + .track > .knob {
	left: 30px;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #f3f3f3;
	margin-top: 0;
	position: absolute;
	border: 1px solid #b0b6b6;
	top: 50%;
	@include transform(translateY(-50%));
	@include transition(left 0.3s ease);
}

/* Default Knob Checked */
.check-switch input[type="checkbox"]:checked + .track > .knob {
	left: -2px;
	background-color: #fff;
}

hr {
	margin: 30px auto;
	width: 100%;
	color: #a1a1a1;
	max-width: 860px;
}


.text-block {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.side-menu {
	display: none;
}

form {
	// INPUT TEXT/EMAIL/PASSWORD
	input[type=text], input[type=email], input[type=password] {
		border: 1px solid $nav-light-gray;
		padding-left: rhythm(1);
		width: 100%;
		border-radius: 1px;
		height: 45px;
		margin: 0 0 rhythm(1) 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

		&.invalid {
			border: 1px solid $red-error;
		}

		&::-webkit-input-placeholder {
		   color: $nav-light-gray;
		}

		&::-moz-placeholder {
		   color: $nav-light-gray;
		}

		&::-moz-placeholder {
		   color: $nav-light-gray;
		}

		&::-ms-input-placeholder {
		   color: $nav-light-gray;
		}
	}

	.input-container {
		position: relative;
		.error-message {
			display: none;
			position: absolute;
			padding-left: rhythm(1);
			font-size: em-value(12);
			color: $red-error;
			top:40%;
			@include transform(translateY(-50%));
		}
		&.required {
			&:before {
				content: '*';
				position: absolute;
				color: $teal;
				font-size: 28px;
				top: 22%;
				margin-left: -20px;
			}
		}
		.button {
			margin: rhythm(2) 0 0;
			max-width: 108px;
			min-width: 0;
			line-height: 47px;
		}
		.terms-text {
			display: inline-block;
			font-size: 12px;
		}
	}

	// SELECT
	.select-style {
		position: relative;
		padding: 0;
		margin: 0 0 rhythm(1) 0;
		border: 1px solid #ccc;
		display: inline-block;
		width: 235px;
		border-radius: 3px;
		height: 47px;
		line-height: 47px;
		background-color: #fff;
		background: #fff url("../img/icons/caret-down.png") no-repeat 90% 50%;
		background-size: 16px 8px;

		&.expiration {
			width: 140px;
			margin-right: rhythm(0.333);
		}

		&.full-select {
			width: 100%;
			max-width: 450px;
			background-position: 97% 50%;
		}

		&.required {
			&:before {
				content: '*';
				position: absolute;
				color: $teal;
				font-size: 28px;
				top: 22%;
				left: -20px;
			}
		}
		select {
			padding: 0 15px;
			font-size: 16px;
			line-height: 47px;
			width: 100%;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			-webkit-appearance: none;
				 -moz-appearance: none;
							appearance: none;
			&:focus {
				outline: none;
			}
			&:-moz-focusring {
				color: transparent;
				text-shadow: 0 0 0 #000;
			}

			&::-ms-expand {
		    display: none;
			}
		}
		&.long-select {
			max-width: 448px;
			width: 100%;
			background-position-x: 96%;
			margin-left: -2px;
		}
	}


	// RADIO
	input[type="radio"], input[type="checkbox"] {
		float: left;
		width: 0px;
		opacity: 0;
		height: 0px;
	}
	input[type="radio"] + label span {
		display: inline-block;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		margin: -1px 4px 0 0;
		vertical-align: middle;
		background: white;
		cursor: pointer;
		border: 1px solid #ccc;
	}
	input[type="radio"]:checked + label span {
		position: relative;
		&:before {
			content: '';
			background: $teal;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translate(-50%, -50%));
			@include border-radius(50%);
		}
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: -1px 10px 0 0;
		vertical-align: middle;
		background: white;
		cursor: pointer;
		border: 1px solid #ccc;
	}
	input[type="checkbox"]:checked + label span {
		position: relative;
		&:before {
			content: '';
			background: $teal;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translate(-50%, -50%));
		}
	}

	textarea {
		border: 1px solid #ccc;
		width: 100%;
		max-width: 450px;
		height: 127px;
		padding-left: 12px;
		padding-top: 10px;
		margin-bottom: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media screen and ($mobile-breakpoint) {
	form {
		.input-container {
			.terms-text {
				font-size: 16px;
			}
		}
	}
}

@media screen and ($tablet-breakpoint) {
	.desktop-only {
		display: inline-block !important;
	}
	.mobile-only {
		display: none !important;
	}
	.hide {
		display: block;
	}
	.show {
		display: none;
	}
	.side-menu {
		display: inline-block;
		position: absolute;
		bottom: 20px;
		right: 30px;

		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		}
		li {
			text-align: right;
			padding-bottom: 3px;
			a {
			    display: block;
			    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
			    font-size: 11px;
			    color: #bbbbbb;
			    text-decoration: none;
			}
		}
		li:after {
			position: absolute;
			content: "";
			right: -16px;
			width: 8px;
			height: 8px;
			border: 1px solid #bbbbbb;
			@include border-radius(8px);
			@include transform(translateY(-12px));
		}
		li.active:after {
			background: #bbbbbb;
		}
	}

	.list {
		margin-left: rhythm(5.33);
		margin-top: 0;
		padding-left: rhythm(4);
	  li {
	  	font-size: em-value(15);
	  	padding-left: rhythm(1);
	  }
	}

	.side-menu.teal {
		li {
			a {
				color: #99ced2;
			}
		}
		li:after {
			border: 1px solid #99ced2;
		}
		li.active:after {
			background: #99ced2;
		}
	}

	.content-box {
		margin: rhythm(3) 0;
	}

	form {
		input[type=text], input[type=email], input[type=password] {

		}
		.input-container {
			.error-message {
				display: inline-block;
			}
		}

		.select-style {
			&.long-select {
				max-width: 235px;
				width: 100%;
				background-position-x: 90%;
				margin-left: 0px;
			}
		}
		textarea {
			border: 1px solid #ccc;
			width: 100%;
			max-width: 450px;
			height: 127px;
			padding-left: rhythm(1);
			padding-top: 10px;
			margin-bottom: 10px;
		}
	}

	.button {
		font-size: em-value(20);
	}
	.accordion {

		.accordion-title {

			p {

			}
		}
		.accordion-title:hover {

		}
		.info {
			display: none;
			position: relative;
			width: 100%;
		.chart {
			display: inline-block;
			width: 100%;
			tr {
				td {

				}
				.title {
					font-size: 13px;
					color: $teal;
					padding: 10px 0;
					background: white !important;
					padding: 15px 0;
					cursor: pointer;
					border-bottom: 1px solid #d6d6d6;
				}
				.title.first {
					text-align: left;
					padding-left: 20px;
				}
				.title-check {
					text-align: left;
					padding: 15px 0 15px 20px;
					p {
						font-size: 13px;
						color: $light-gray;
					}
				}
				.check {

				}
			}
			tr:nth-child(odd) {td { background: #f7f7f5; }}
			tr:nth-child(even) {td { background: white; }}
		}
		.mobile-chart {
			display: none;
		}
		margin-bottom: 8px;
	}
	.info.open {
		display: block;
	}

	}
}
