input.gsc-search-button {
  border: none !important;
  background: url("../img/header/search-submit.png") !important;
  background-repeat: no-repeat !important;
  border: 0 !important;
  background-size: 50% !important;
  background-position: center !important;
}

input.gsc-search-button-v2 {
  padding-left: 0px !important;
}
