@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light.ttf')  format('truetype'), url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-LightItalic.woff') format('woff'), url('../fonts/GothamRounded-LightItalic.ttf')  format('truetype'), url('../fonts/GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRnd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRnd-Medium.woff') format('woff'), url('../fonts/GothamRnd-Medium.ttf')  format('truetype'), url('../fonts/GothamRnd-Medium.svg#GothamRnd-Medium.eot') format('svg');
  font-weight: bold;
  font-style: normal;
}

*, body, html {
  font-family: 'Gotham';
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1 {
  font-size: 20px;
  font-weight: 100;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 13px;
}

a {
  color: $gold;
  text-decoration: none;
  cursor: pointer;
}
@media screen and ($tablet-breakpoint) {
  h1 {
    font-size: 37px;
    font-weight: 100;
  }
  h2 {
    font-size: 31px;
    font-weight: normal;
  }

  h3 {
    font-size: 24px;
    font-weight: 100;
  }
  p {
    font-size: 18px;
  }
}
