@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value;
}

@mixin transition($type) {
  -webkit-transition: $type;
     -moz-transition: $type;
      -ms-transition: $type;
          transition: $type;
}

@mixin transform($type) {
  -webkit-transform: $type;
     -moz-transform: $type;
      -ms-transform: $type;
          transform: $type;
}