<div id="add-new-leader" class="section triangle-bg">

  <div class="section section-1">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1 class="client-corner-page-title">Request To Add New Leader</h1>
          <p class="title-required"><span>*</span> = Required Fields</p>

          <form id="add-new-leader-form" class="to-validate">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="firstName" title="First Name" placeholder="First Name" required data-error-blank="First Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="lastName" title="Last Name" placeholder="Last Name" required data-error-blank="Last Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="mailingAddress" title="Mailing Address" placeholder="Mailing Address" required data-error-blank="Mailing Address must be filled." />
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="streetAddress" placeholder="Street Address" />
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="city" title="City" placeholder="City" required data-error-blank="City must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="state" title="State" placeholder="State" required data-error-blank="State must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="country" title="Country" placeholder="Country" required data-error-blank="Country must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="zipcode" title="Zip/Postal Code" placeholder="Zip/Postal Code" pattern="\d*" maxlength="5" required data-error-blank="Zip/Postal must be filled." data-error-zip="Please put down a valid Zip/Postal Code."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="specialBillingID" title="Special Billing ID" placeholder="Special Billing ID" />
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="employeeBillingID" title="Employee ID" placeholder="Employee ID" />
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="organization" title="Organization" placeholder="Organization" required data-error-blank="Organization must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="numberOfParticipantLines" title="Number of Participant Lines" placeholder="Number of Participant Lines" />
            </div>
            <div class="input-container">
              <div class="date-in date">
                <input type="text" id="date-in" placeholder="Activation Date">
              </div>
            </div>
            <div class="input-container checkbox-container">
              <input type="checkbox" name="terms" value="terms" id="terms" title="Terms and Conditions" required/>
              <label for="terms"><span></span><div class="terms-text">I agree to the <a href="#">Terms &amp; Conditions</a></div></label>
            </div>
            <div class="input-container">
              <button type="submit" class="button ext" value="submit">Submit</button>
            </div>
          </form>
	    	</div>
    	</div>

  	</div>
  </div>

</div>
