<div id="always-on-mp3-recording-request" class="section triangle-bg">

  <div class="section section-1">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1>AlwaysOn MP3 Recording Request</h1>
          <p class="title-required"><span>*</span> = Required Fields</p>

          <form id="always-on-mp3-recording-request" class="to-validate">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="leaderCode" title="Leader Code" placeholder="Leader Code" required data-error-blank="Leader Code must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="guestCode" title="Guest Code" placeholder="Guest Code" required data-error-blank="Guest Code must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="leader" title="Leader" placeholder="Leader" required data-error-blank="Leader must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="company" title="Company" placeholder="Company" required data-error-blank="Company must be filled."/>
              <span class="error-message"></span>
            </div>

            <div class="input-container required">
              <div class="date-in date">
                <input type="text" id="date-of-call" placeholder="Date of Call" required data-error-blank="Date of Call must be filled.">
              </div>
            </div>

            <div class="input-container required time-of-call-container">
              <input type="text" class="input-text time-of-call" id="time-of-call" placeholder="Time" data-error-blank="Time of Call must be filled.">
              <div class="select-style">
                <select name='timeOfCallAmPm' id='timeOfCallAmPm'>
                    <option value='am'>AM</option>
                    <option value='pm'>PM</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <div class="select-style full-select">
                <select name='timeZoneOperatorHandled' id='timeZoneOperatorHandled' data-error-blank="Timezone of Call must be filled.">
                  <option value=''>Time Zone</option>
                  <option value="-12" >(GMT -12:00) Eniwetok, Kwajalein</option>
                  <option value="-11" >(GMT -11:00) Midway Island, Samoa</option>
                  <option value="-10" >(GMT -10:00) Hawaii</option>
                  <option value="-9"  >(GMT -9:00) Alaska</option>
                  <option value="-8"  >(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                  <option value="-7"  >(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                  <option value="-6"  >(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                  <option value="-5"  >(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                  <option value="-4.5">(GMT -4:30) Caracas</option>
                  <option value="-4"  >(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
                  <option value="-3.5">(GMT -3:30) Newfoundland</option>
                  <option value="-3"  >(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                  <option value="-2"  >(GMT -2:00) Mid-Atlantic</option>
                  <option value="-1"  >(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                  <option value="0"   >(GMT) Western Europe Time, London, Lisbon, Casablanca, Greenwich</option>
                  <option value="1"   >(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                  <option value="2"   >(GMT +2:00) Kaliningrad, South Africa, Cairo</option>
                  <option value="3"   >(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                  <option value="3.5" >(GMT +3:30) Tehran</option>
                  <option value="4"   >(GMT +4:00) Abu Dhabi, Muscat, Yerevan, Baku, Tbilisi</option>
                  <option value="4.5" >(GMT +4:30) Kabul</option>
                  <option value="5"   >(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                  <option value="5.5" >(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
                  <option value="5.75">(GMT +5:45) Kathmandu</option>
                  <option value="6"   >(GMT +6:00) Almaty, Dhaka, Colombo</option>
                  <option value="6.5" >(GMT +6:30) Yangon, Cocos Islands</option>
                  <option value="7"   >(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                  <option value="8"   >(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                  <option value="9"   >(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                  <option value="9.5" >(GMT +9:30) Adelaide, Darwin</option>
                  <option value="10"  >(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                  <option value="11"  >(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                  <option value="12"  >(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
              </div>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="requestedBy" title="Requested By" placeholder="Requested By" required data-error-blank="Requested By must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
            <textarea class="textarea" name="specialInstruction" title="Special Instructions">Special instructions</textarea>
            </div>
            <div class="input-container">
              <input type="checkbox" name="terms" value="terms" id="terms" title="Terms and Conditions" required/>
              <label for="terms"><span></span><div class="terms-text">I agree to the <a href="#">Terms &amp; Conditions</a></div></label>
            </div>
            <div class="input-container">
              <button type="submit" class="button" value="submit">Submit</button>
            </div>
          </form>
	    	</div>
    	</div>

  	</div>
  </div>

</div>
