<div id="call-commands" class="section triangle-bg">
  <div class="section section-1 active">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Call Commands</h1>

          <div class="content-box-header">
            <h6 class="client-corner-page-info">Remember these helpful keypad commands to run your AlwaysOn conference call the way you need it!</h6>
          </div>

          <p class="content-box-title">Host Only</p>
          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column keypad-commands">KEYPAD COMMANDS</li>
                  <li class="content-box-list-column description">DESCRIPTION</li>
                </ul>
                <div>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">*2</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Start/Stop Record</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">*7</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Lock/Unlock Call</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">*9</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Disconnect All Parties Except Host</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">72#</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Roll Call</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">81#</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Mute All Lines But Leader</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">80#</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Unmute All Lines</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <p class="content-box-title">Host &amp; Guest</p>
          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column keypad-commands">KEYPAD COMMANDS</li>
                  <li class="content-box-list-column description">DESCRIPTION</li>
                </ul>
                <div>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">*0</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Live Operator Help</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column keypad-commands"><span class="info digits">*6</span></li>
                    <li class="clearfix content-box-list-column description"><span class="info">Mute/Unmute Your Line</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
