<div id="conference-cost-manager" class="section triangle-bg">

<!--
******************************************************************
BEGIN : CONFERENCE COST MANAGER SECTION 1 : MAIN VIEW
******************************************************************
 -->
  <div class="section section-1 active">
    <div class="container">
        <div class="content clearfix">
          <div class="twelve columns">
            <h1 class="client-corner-page-title home">My Account: Conference Cost Manager<a class="home-icon" data-page-type="conference-cost-manager"></a></h1>

            <div class="content-box-header">
              <h6 class="client-corner-page-info">Please select the account from the following list:</h6>
            </div>

            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column">ORGANIZATION</li>
                    <li class="content-box-list-column">DEPARTMENT</li>
                    <li class="content-box-list-column">LEADER</li>
                    <li class="content-box-list-column">ACCOUNT LEVEL</li>
                  </ul>
                  <div>
                    <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">DEPARTMENT</span><span class="info">00000000</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="info">Accounts Payable</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                    </ul>
                    <!-- BLOCK OF CODE TO REPEAT : END -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">DEPARTMENT</span><span class="info">00000000</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="info">Accounts Payable</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">DEPARTMENT</span><span class="info">00000000</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="info">Accounts Payable</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">DEPARTMENT</span><span class="info">00000000</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="info">Accounts Payable</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="2">Continue</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--
  ******************************************************************
  END : CONFERENCE COST MANAGER SECTION 1 : MAIN VIEW
  ******************************************************************
   -->

 <!--
 ******************************************************************
 BEGIN : CONFERENCE COST MANAGER SECTION 2 : SELECT MONTH
 ******************************************************************
  -->
  <div class="section section-2">
    <div class="container">
        <div class="content clearfix">
          <div class="twelve columns">
            <h1 class="client-corner-page-title home">My Account: Conference Cost Manager<a class="home-icon" data-page-type="conference-cost-manager"></a></h1>

            <div class="content-box-header">
              <h6 class="client-corner-page-info">Please select usage month for more details:</h6>
            </div>

            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column">USAGE MONTH</li>
                    <li class="content-box-list-column">REPORTING PERIOD</li>
                    <li class="content-box-list-column">TOTAL AMOUNT</li>
                  </ul>

                  <div>
                    <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">USAGE MONTH</span><span class="content-box-list-title info">09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                    </ul>
                    <!-- BLOCK OF CODE TO REPEAT : END -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">USAGE MONTH</span><span class="content-box-list-title info">09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">USAGE MONTH</span><span class="content-box-list-title info">09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">USAGE MONTH</span><span class="content-box-list-title info">09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="3">Continue</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--
  ******************************************************************
  END : CONFERENCE COST MANAGER SECTION 2 : SELECT MONTH
  ******************************************************************
   -->

 <!--
 ******************************************************************
 BEGIN : CONFERENCE COST MANAGER SECTION 3 : SPECIAL BILLING ID1
 ******************************************************************
  -->
  <div class="section section-3">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Conference Cost Manager<a class="home-icon" data-page-type="conference-cost-manager"></a></h1>

          <div class="content-box-header">
            <p>Special billing ID usage list for [the nerdery]</p>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">SPECIAL BILLING ID 1</li>
                  <li class="content-box-list-column">REPORTING PERIOD</li>
                  <li class="content-box-list-column">TOTAL AMOUNT</li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID 1</span><span class="content-box-list-title info">BLANK</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->
                </div>

                <ul class="content-box-list-row clearfix content-box-list-footer">
                  <li class="content-box-list-column">
                    <a class="button">Export to CSV</a>
                    <div class="total-price-container"><span >Total</span><span class="total">$4000<span></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="content-box-header">
            <p>Usage list for [the nerdery]</p>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">SPECIAL BILLING ID 2</li>
                  <li class="content-box-list-column">REPORTING PERIOD</li>
                  <li class="content-box-list-column">TOTAL AMOUNT</li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID 2</span><span class="content-box-list-title info">BLANK</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->
                </div>

                <ul class="content-box-list-row clearfix content-box-list-footer">
                  <li class="content-box-list-column">
                    <a class="button">Export to CSV</a>
                    <div class="total-price-container"><span >Total</span><span class="total">$4000<span></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="content-box-header">
            <p>Usage list for [the nerdery]</p>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">LEADER NAME</li>
                  <li class="content-box-list-column">REPORTING PERIOD</li>
                  <li class="content-box-list-column">TOTAL AMOUNT</li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER NAME</span><span class="content-box-list-title info">Kendall Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->

                  <ul class="content-box-list-row clearfix">

                    <li class="clearfix content-box-list-column"><span class="type">LEADER NAME</span><span class="content-box-list-title info">Kendall Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>

                  <ul class="content-box-list-row clearfix">

                    <li class="clearfix content-box-list-column"><span class="type">LEADER NAME</span><span class="content-box-list-title info">Kendall Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>

                  <ul class="content-box-list-row clearfix">

                    <li class="clearfix content-box-list-column"><span class="type">LEADER NAME</span><span class="content-box-list-title info">Kendall Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>

                  <ul class="content-box-list-row clearfix">

                    <li class="clearfix content-box-list-column"><span class="type">LEADER NAME</span><span class="content-box-list-title info">Kendall Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">REPORTING PERIOD</span><span class="info">09-01-15 to 10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL AMOUNT</span><span class="info">$4000</span></li>
                  </ul>
                </div>
                <ul class="content-box-list-row clearfix content-box-list-footer">
                  <li class="content-box-list-column">
                    <div class="total-price-container offset"><span >Total</span><span class="total">$4000<span></div>
                  </li>
                </ul>

                <ul class="content-box-list-row clearfix content-box-list-footer white">
                  <li class="content-box-list-column">
                    <a class="button pagination-button-cta">Export to CSV</a>
                    <div class="pagination">
                      <ul class="clearfix">
                        <li><div class="arrow left"></div><div class="arrow left"></div></li>
                        <li><div class="arrow left"></div></li>
                        <li class="center-column">
                          <div class="pages"><span>Page</span> <span class="box">1</span> <span>of</span> <span>12</span></div>
                        </li>
                        <li class="right-align"><div class="arrow right"></div></li>
                        <li class="right-align"><div class="arrow right"></div><div class="arrow right"></div></li>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="4">Continue</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--
  ******************************************************************
  END : CONFERENCE COST MANAGER SECTION 3 : SPECIAL BILLING ID1
  ******************************************************************
   -->

 <!--
 ******************************************************************
 BEGIN : CONFERENCE COST MANAGER SECTION 4 : SPECIAL BILLING ID2
 ******************************************************************
  -->
  <div class="section section-4">
    <div class="container">
        <div class="content clearfix">
          <div class="twelve columns">
            <h1 class="client-corner-page-title home">My Account: Conference Cost Manager<a class="home-icon" data-page-type="conference-cost-manager"></a></h1>

            <div class="content-box-header">
              <h6>Usage list for [the nerdery] - <span>Angel, Travis</span></h6>
              <p>PERIOD 07-01-2015 TO 07-31-2015</p>
            </div>

            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column">SERVICE DATE</li>
                    <li class="content-box-list-column">REFERENCE #</li>
                    <li class="content-box-list-column">SPECIAL BILLING ID1</li>
                    <li class="content-box-list-column">SPECIAL BILLING ID2</li>
                    <li class="content-box-list-column">TOTAL</li>
                  </ul>

                  <div>
                    <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">SERVICE DATE</span><span class="content-box-list-title info">07-09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REFERENCE #</span><span class="info">INV00000009999999</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID1</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID2</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$4000</span></li>
                    </ul>
                    <!-- BLOCK OF CODE TO REPEAT : END -->
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">SERVICE DATE</span><span class="content-box-list-title info">07-09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REFERENCE #</span><span class="info">INV00000009999999</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID1</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID2</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$4000</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">SERVICE DATE</span><span class="content-box-list-title info">07-09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REFERENCE #</span><span class="info">INV00000009999999</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID1</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID2</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$4000</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">SERVICE DATE</span><span class="content-box-list-title info">07-09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REFERENCE #</span><span class="info">INV00000009999999</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID1</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID2</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$4000</span></li>
                    </ul>
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="type">SERVICE DATE</span><span class="content-box-list-title info">07-09-2015</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">REFERENCE #</span><span class="info">INV00000009999999</span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID1</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">SPECIAL BILLING ID2</span><span class="info"></span></li>
                      <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$4000</span></li>
                    </ul>
                  </div>

                  <ul class="content-box-list-row clearfix content-box-list-footer">
                    <li class="content-box-list-column">
                      <a class="button">Export to CSV</a>
                      <div class="total-price-container"><span >Total</span><span class="total">$4000<span></div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="5">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  ******************************************************************
  END : CONFERENCE COST MANAGER SECTION 5 : SPECIAL BILLING ID2
  ******************************************************************
   -->

 <!--
 ******************************************************************
 BEGIN : CONFERENCE COST MANAGER SECTION 5 : LEADER VIEW
 ******************************************************************
  -->
  <div class="section section-5">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Conference Cost Manager<a class="home-icon" data-page-type="conference-cost-manager"></a></h1>

          <div class="content-box-header">
            <p>Detailed Info of <span>INV00000004670139</span></p>
            <p class="detailed-info">Angel, Travis, 07-01-2015</p>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">SERVICE TYPE</li>
                  <li class="content-box-list-column">SERVICE DESCRIPTION</li>
                  <li class="content-box-list-column">TOTAL</li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="content-box-list-title info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE DESCRIPTION</span><span class="info">Always On 800 Meet Me</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TOTAL</span><span class="info">$40000</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->
                </div>
              </div>

            </div>
          </div>

          <div class="csv-cta">
            <a class="button">Export to CSV</a>
          </div>

          <div class="content-box-header">
            <p class="call-participants-text">CALL PARTICIPANT DETAILS</p>

            <div id="call-participants-container">
              <form id="view-call-participants">
                <input type="checkbox" id="view-call-participants-check" name="view-call-participants-check" value="view-call-participants-check"/>
                <label for="view-call-participants-check"><span></span>View call participants</label>
              </form>
            </div>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list call-participants-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">PARTICIPANT NAME</li>
                  <li class="content-box-list-column">SERVICE TYPE</li>
                  <li class="content-box-list-column">PARTICIPANT PHONE</li>
                  <li class="content-box-list-column">CONNECT TIME</li>
                  <li class="content-box-list-column">DISCONNECT TIME</li>
                </ul>

                <ul class="content-box-list-row clearfix call-participants-row">
                  <li class="content-box-list-column">
                    <div class="call-participants">
                      <form id="view-call-participants">
                        <input type="checkbox" id="view-call-participants-check-2" name="view-call-participants-check-2" value="view-call-participants-check-2"/>
                        <label for="view-call-participants-check-2"><span></span>View call participants</label>
                      </form>
                    </div>
                  </li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT NAME</span><span class="content-box-list-title info">Guest Port 1-11-1-11</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT PHONE</span><span class="info">5555555555</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">CONNECT TIME</span><span class="info">14:33</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DISCONNECT TIME</span><span class="info">14:55</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT NAME</span><span class="content-box-list-title info">Guest Port 1-11-1-11</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT PHONE</span><span class="info">5555555555</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">CONNECT TIME</span><span class="info">14:33</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DISCONNECT TIME</span><span class="info">14:55</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT NAME</span><span class="content-box-list-title info">Guest Port 1-11-1-11</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT PHONE</span><span class="info">5555555555</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">CONNECT TIME</span><span class="info">14:33</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DISCONNECT TIME</span><span class="info">14:55</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT NAME</span><span class="content-box-list-title info">Guest Port 1-11-1-11</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT PHONE</span><span class="info">5555555555</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">CONNECT TIME</span><span class="info">14:33</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DISCONNECT TIME</span><span class="info">14:55</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT NAME</span><span class="content-box-list-title info">Guest Port 1-11-1-11</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">SERVICE TYPE</span><span class="info">800 MM Always On</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PARTICIPANT PHONE</span><span class="info">5555555555</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">CONNECT TIME</span><span class="info">14:33</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DISCONNECT TIME</span><span class="info">14:55</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="1">Continue</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--
  ******************************************************************
  END : CONFERENCE COST MANAGER SECTION 5 : LEADER VIEW
  ******************************************************************
   -->

</div>
