<div id="edit-leader" class="section triangle-bg">

  <div class="section section-1">
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
	    		<h1 class="client-corner-page-title">Edit Leader</h1>
          <p class="title-required"><span>*</span> = Required Fields</p>

          <form id="edit-leader-form" class="to-validate">
            <div class="input-container required">
              <input type="text" class="input-text validate" name="firstName" title="First Name" placeholder="First Name" required data-error-blank="First Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="lastName" title="Last Name" placeholder="Last Name" required data-error-blank="Last Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="specialBillingID" title="Special Billing ID" placeholder="Special Billing ID" />
            </div>
            <div class="input-container">
              <input type="text" class="input-text" name="employeeID" title="Employee ID" placeholder="Employee ID" />
            </div>
            <div class="input-container">
              <button type="submit" class="button" value="submit">Save</button>
            </div>
          </form>
	    	</div>
    	</div>

  	</div>
  </div>

</div>
