<div id="invite-participants" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">Meeting Invite</h1>
          <form id="invite-participants-form">
            <p class="form-title">Invitee Email(s):</p>
            <textarea></textarea>
            <p class="caption">(One email address per line and up to 20 invitees)</p>
            <div class="cta-footer">
              <button class="button" type="submit">INVITE</button><a class="cancel-link">Cancel</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
