<div id="leader" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">My Account: View My Leaders</h1>

          <form id="search-leaders-form">
            <label class="divider" for="search-leaders">Search:</label>
            <input type="text" id="search-leaders" placeholder="Last Name, First Name"/>
            <a class="button icon-search"><span class="icon">&nbsp;</span></a>
          </form>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">LEADER</li>
                  <li class="content-box-list-column">ON/OFF</li>
                  <li class="content-box-list-column">&nbsp;</li>
                </ul>

                <div id="render-leaders"></div>

                <script id="leaders-template" type="text/x-handlebars-template">
                  {{#each leaders}}
                    <ul class="content-box-list-row clearfix">
                      <li class="clearfix content-box-list-column"><span class="content-box-list-title">{{lastName}}, {{firstName}}</span></li>
                      <li class="clearfix content-box-list-column">
                        <form class="on-off-leader-check">
                          <label class="check-switch">
                              <input type="checkbox" {{#if isLeaderOn}}checked{{/if}}/>
                              <div class="track">
                                  <div class="on-off-label"><span class="on">on</span><span class="off">off</span></div>
                                  <div class="knob"></div>
                              </div>
                          </label>
                        </form>
                      </li>
                      <li class="content-box-list-column clearfix edit-link"><span><a class="a-icon edit-info edit-leader-link" data-pages="edit-leader" data-leader-id={{employeeID}}>Edit</a></span></li>
                    </ul>
                  {{/each}}
                </script>

              </div>
            </div>

          </div>
          <div class="leaders-footer">
            <a id="add-new-leader-link" class="button participants invite-participants" data-pages="add-new-leader"><span class="icon">Add a new leader</span></a>
            <div class="pagination">
              <ul class="clearfix">
                <li><div class="arrow left"></div><div class="arrow left"></div></li>
                <li><div class="arrow left"></div></li>
                <li class="center-column">
                  <div class="pages"><span>Page</span> <span class="box">1</span> <span>of</span> <span>12</span></div>
                </li>
                <li class="right-align"><div class="arrow right"></div></li>
                <li class="right-align"><div class="arrow right"></div><div class="arrow right"></div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
