<div id="meeting-history" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title desk">Meeting History</h1>

          <div class="tab-nav-container">
            <ul class="tab-nav clearfix">
              <li class="active" data-nav-tab="1">Information</li><!--
              --><li data-nav-tab="2">RSVP</li><!--
              --><li data-nav-tab="3">Participant(s)</li>
            </ul>
          </div>

          <h1 class="client-corner-page-title mob">Meeting History</h1>

          <div class="tab-nav-info-block active" data-nav-info-block="1">

            <!-- BEGIN : SAMPLE CODE BLOCK OF MEETING HISTORY INFO -->
            <div class="meeting-history-info" id="render-meeting-history-info"></div>

            <script id="meeting-history-info-template" type="text/x-handlebars-template">
              <ul class="clearfix">
                <li class="info">Meeting Info:</li>
                <li class="data"><span>{{meetingInfo}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Status:</li>
                <li class="data"><span>{{status}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Date:</li>
                <li class="data"><span>{{date}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Time:</li>
                <li class="data"><span>{{time}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Subject:</li>
                <li class="data"><span>{{subject}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Duration:</li>
                <li class="data"><span>{{duration}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Leader:</li>
                <li class="data"><span>{{leader}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Event URL:</li>
                <li class="data"><span>{{eventURL}}</span></li>
              </ul>
            </script>
          <!-- END : SAMPLE CODE BLOCK OF MEETING HISTORY INFO -->

          </div>

          <div class="tab-nav-info-block" data-nav-info-block="2">

            <!-- BEGIN : SAMPLE CODE BLOCK OF RSVP INFO -->
            <div class="meeting-history-info"  id="render-meeting-history-rsvp"></div>

            <script id="meeting-history-rsvp-template" type="text/x-handlebars-template">
              <ul class="clearfix">
                <li class="info">RSVP Required:</li>
                <li class="data">
                  <span>{{rsvp.rsvpRequired.status}}</span>
                  <span>{{rsvp.rsvpRequired.begin}} <br/> {{rsvp.rsvpRequired.end}}</span>
                </li>
              </ul>
              <ul class="clearfix">
                <li class="info">Maximum Participants:</li>
                <li class="data"><span>{{rsvp.maximumParticipants}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Individual Approval Needed:</li>
                <li class="data"><span>{{rsvp.individualApprovalNeeded}}</span></li>
              </ul>
              <ul class="clearfix">
                <li class="info">Required Information:</li>
                <li class="data"><span>{{rsvp.requiredInfo}}</span></li>
              </ul>
            </script>
            <!-- END : SAMPLE CODE BLOCK OF RSVP INFO -->



            <div class="content-box-header">
              <p><span>RSVP LIST</span></p>
            </div>
            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column four">NAME</li>
                    <li class="content-box-list-column four">ORGANIZATION</li>
                    <li class="content-box-list-column four">PHONE</li>
                    <li class="content-box-list-column four">PIN CODE</li>
                  </ul>

                  <!-- BEGIN : SAMPLE CODE BLOCK OF RSVP LIST -->
                  <div id="render-meeting-history-rsvpList"></div>

                  <script id="meeting-history-rsvpList-template" type="text/x-handlebars-template">
                    {{#each rsvpList}}
                      <ul class="content-box-list-row clearfix">
                        <li class="clearfix content-box-list-column four"><span class="type">NAME</span><span class="content-box-list-title info">{{name}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">ORGANIZATION</span><span class="info">{{organization}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">PHONE</span><span class="info">{{phone}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">PIN CODE</span><span class="info">{{pin}}</span></li>
                      </ul>
                    {{/each}}
                  </script>
                  <!-- END : SAMPLE CODE BLOCK OF RSVP LIST -->

                </div>
              </div>
            </div>

            <div class="csv-cta">
              <a class="button">Export to CSV</a>
            </div>

          </div>

          <div class="tab-nav-info-block" data-nav-info-block="3">

            <div class="content-box-header">
              <p><span>AUDIO CONFERENCE PARTICIPANTS (2)</span></p>
            </div>

            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column six">FIRST NAME</li>
                    <li class="content-box-list-column six">LAST NAME</li>
                    <li class="content-box-list-column six">PHONE</li>
                    <li class="content-box-list-column six">CONNECT TIME</li>
                    <li class="content-box-list-column six offset-20">DISCONNECT TIME</li>
                    <li class="content-box-list-column six offset-12">MIN</li>
                  </ul>

                  <!-- BEGIN : SAMPLE CODE BLOCK OF PARTICPANTS -->
                  <div id="render-meeting-history-participants"></div>

                  <script id="meeting-history-participants-template" type="text/x-handlebars-template">
                    {{#each participants}}
                      <ul class="content-box-list-row clearfix">
                        <li class="clearfix content-box-list-column six"><span class="type">FIRST NAME</span><span class="content-box-list-title info">{{firstName}}</span></li>
                        <li class="clearfix content-box-list-column six"><span class="type">LAST NAME</span><span class="info">{{lastName}}</span></li>
                        <li class="clearfix content-box-list-column six"><span class="type">PHONE</span><span class="info">{{phone}}</span></li>
                        <li class="clearfix content-box-list-column six"><span class="type">CONNECT TIME</span><span class="info">{{connectTime}}</span></li>
                        <li class="clearfix content-box-list-column six offset-20"><span class="type">DISCONNECT TIME</span><span class="info">{{disconnectTime}}</span></li>
                        <li class="clearfix content-box-list-column six offset-12"><span class="type">MIN</span><span class="info">{{duration}}</span></li>
                      </ul>
                    {{/each}}
                  </script>
                  <!-- END : SAMPLE CODE BLOCK OF PARTICPANTS -->

                </div>

              </div>
            </div>

            <div class="csv-cta">
              <a class="button">Export to CSV</a>
            </div>
          </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
