<div id="meeting-control" class="section curl-bg">

  <div class="section section-1">
    <div class="meeting-control-section-title">
      <p class="meeting-control-title">Meeting <span class="control">Control</span><span class="reg">&reg;</span></p>
    </div>
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <div class="tab-nav-container">

            <ul class="tab-nav clearfix">
              <li data-nav-tab="1">Participants</li><!--
              --><li data-nav-tab="2">Q&amp;A</li><!--
              --><li class="active" data-nav-tab="3"><span class="view-all-tab">View All</span><span class="chat-tab">Chat</span></li>
            </ul>

            <div class="meeting-control-user-account-info">
              <p class="user">David Li</p>
              <p class="total-accounts">Total Participants: <span>9</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="content clearfix meeting-control-content">
        <div class="four columns meeting-control-columns participants" data-nav-meeting-control-block="1">
          <div class="meeting-control-section">
            <ul>
              <div id="render-meeting-control-list-participants-info"></div>
              <script id="meeting-control-list-participants-template" type="text/x-handlebars-template">
                {{#each meetingControlListParticipants}}
                <li class="{{activeState}}">
                  <div class="meeting-control-info clearfix">
                    <div class="title">
                      <p class="name">{{lastname}}, {{firstname}}</p>
                      <p class="company">{{company}}</p>
                    </div>
                  </div>
                </li>
                {{/each}}
              </script>
            </ul>
          </div>
          <a class="a-icon print print-participant">Print Participant List</a>
        </div>
        <div class="four columns meeting-control-columns qa" data-nav-meeting-control-block="2">
          <div class="qa-header-section">
            <div class="qa-info">
                <p class="questioner">Current Questioner: <span>David Li</span></p>
                <p class="questioner-time">In Question Queue: <span>23 waiting</span></p>
            </div>
            <div class="qa-status">
              <p>Q&amp;A Status: <span>Session in progress</span></p>
            </div>
          </div>
          <div class="meeting-control-section">
            <ul>
              <div id="render-meeting-control-list-qa-info"></div>
              <script id="meeting-control-list-qa-template" type="text/x-handlebars-template">
                {{#each meetingControlListQA}}
                <li class="{{activeState}}">
                  <div class="meeting-control-info clearfix">
                    <div class="title">
                      <p class="name">{{lastname}}, {{firstname}}</p>
                      <p class="company">{{company}}</p>
                    </div>
                    <div class="button-menu">
                      <div class="button-container clearfix">
                        <div class="actions next"><a>Next</a></div>
                        <div class="actions up">&nbsp;</div>
                        <div class="actions down">&nbsp;</div>
                        <div class="actions cancel">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </li>
                {{/each}}
              </script>
            </ul>
          </div>
        </div>
        <div class="four columns meeting-control-columns active view-all" data-nav-meeting-control-block="3">
          <div class="meeting-control-section">
            <p class="header">INSTANT INSTRUCTIONS&reg;</p>
            <div class="conversation-section">
              <div class="messenger customer">
                <div class="name-section clearfix">
                  <p class="name"><span>Dave</span> says:</p>
                  <p class="time-responded">16 sec ago</p>
                </div>
                <p class="message">Let’s get started on the rest of this project.</p>
              </div>
              <div class="messenger responder">
                <div class="name-section clearfix">
                  <p class="name"><span>Amanda</span> says:</p>
                  <p class="time-responded">16 sec ago</p>
                </div>
                <p class="message">
                  Could you flip to page 12 in the document I sent over? Then we  can go over the priorities and next steps. I sent this document out to others.
                </p>
              </div>
              <div class="messenger customer">
                <div class="name-section clearfix">
                  <p class="name"><span>Dave</span> says:</p>
                  <p class="time-responded">16 sec ago</p>
                </div>
                <p class="message">Let’s get started on the rest of this project.</p>
              </div>
              <div class="messenger responder">
                <div class="name-section clearfix">
                  <p class="name"><span>Amanda</span> says:</p>
                  <p class="time-responded">16 sec ago</p>
                </div>
                <p class="message newest">
                  Could you flip to page 12 in the document I sent over? Then we  can go over the priorities and next steps. I sent this document out to others.
                </p>
              </div>
            </div>

            <div class="conversation-footer">
              <form id="message-form">
                <textarea id="messages">Enter your message</textarea>
                <a class="chat-export">Export chat to CSV</a>
                <button class="button" type="sumit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
