<div id="meeting-active" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title desk">View Meeting</h1>

          <div class="tab-nav-container">
            <ul class="tab-nav clearfix">
              <li class="active" data-nav-tab="1">Information</li><!--
              --><li data-nav-tab="2">RSVP</li>
            </ul>
          </div>

          <h1 class="client-corner-page-title mob">View Meeting</h1>

<!-- BEGIN MEETING ACTIVE : INFO -->
          <div class="tab-nav-info-block active" data-nav-info-block="1">

            <!-- BEGIN : SAMPLE CODE BLOCK OF MEETING ACTIVE INFO -->
            <div class="meeting-active-info" id="render-meeting-active-info"></div>

            <script id="meeting-active-info-template" type="text/x-handlebars-template">
              <ul class="clearfix data-info-list">
                <li class="info">Meeting Info:</li>
                <li class="data"><span>{{meetingInfo}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Status:</li>
                <li class="data"><span>{{status}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Date:</li>
                <li class="data"><span>{{date}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Time:</li>
                <li class="data"><span>{{time}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Subject:</li>
                <li class="data"><span>{{subject}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Duration:</li>
                <li class="data"><span>{{duration}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Leader:</li>
                <li class="data"><span>{{leader}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Event URL:</li>
                <li class="data"><span>{{eventURL}}</span></li>
              </ul>
            </script>
            <!-- END : SAMPLE CODE BLOCK OF MEETING ACTIVE INFO -->

            <div class="meeting-active-info-footer">
              <a class="button participants invite-participants"><span class="icon">Invite Participants</span></a>
              <a class="cancel-meeting">Cancel Meeting</a>
            </div>

            <!-- JOIN INFO + ENCHANCEMENT -->

            <div class="meeting-active-info-subsection">

              <div class="meeting-active-info-title">
                <p>JOIN INFORMATION</p>
                <hr>
              </div>

              <!-- BEGIN : SAMPLE CODE BLOCK OF MEETING ACTIVE INFO -->
              <div id="render-join-info"></div>

              <script id="join-info-template" type="text/x-handlebars-template">
                <ul class="clearfix data-info-list">
                  <li class="info">Toll Free Number:</li>
                  <li class="data"><span>{{freeNumber}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">International Number:</li>
                  <li class="data"><span>{{internationalNumber}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">Leader Passcode:</li>
                  <li class="data"><span>{{leaderPasscode}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">Participant Passcode:</li>
                  <li class="data"><span>{{participantPasscode}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">WebEcho&reg; Meeting Number:</li>
                  <li class="data"><span>{{webechoMeetingNumber}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">WebEcho&reg; Presenter Passcode:</li>
                  <li class="data"><span>{{webechoPresenterPasscode}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">WebEcho&reg; Participant Passcode:</li>
                  <li class="data"><span>{{webechoParticipantPasscode}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">Leader Join Link:</li>
                  <li class="data"><span>Click <a href={{leaderJoinLink}}>here</a> to start WebEcho&reg; with AlwaysOn Control.</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info">Participant Join Link:</li>
                  <li class="data"><span>{{ParticipantJoinLink}}</span></li>
                </ul>
                <ul class="clearfix data-info-list">
                  <li class="info"></li>
                  <li class="data"><span class="add-to-calendar">Add to my calender</span></li>
                </ul>
              </script>
              <!-- END : SAMPLE CODE BLOCK OF MEETING ACTIVE INFO -->

              <div class="meeting-active-info-title">
                <p>ENHANCEMENTS</p>
                <hr>
              </div>

              <div class="content-box">
                <div class="content-box-list-container">
                  <div class="content-box-list">
                    <ul class="content-box-list-row clearfix content-box-list-header">
                      <li class="content-box-list-column">ITEM</li>
                      <li class="content-box-list-column">DETAILS</li>
                    </ul>

                    <!-- BEGIN : SAMPLE CODE BLOCK OF ENHANCEMENT LIST -->
                    <div id="render-enhancement-info"></div>

                    <script id="enhancement-info-template" type="text/x-handlebars-template">
                      {{#each enhancementList}}
                        <ul class="content-box-list-row clearfix">
                          <li class="clearfix content-box-list-column four"><span class="type">ITEM</span><span class="content-box-list-title info">{{item}}</span></li>
                          <li class="clearfix content-box-list-column four"><span class="type">DETAILS</span><span class="info">{{{detail}}}</span></li>
                        </ul>
                      {{/each}}
                    </script>
                    <!-- END : SAMPLE CODE BLOCK OF ENHANCEMENT LIST -->

                  </div>
                </div>
              </div>
            </div>
          </div>
<!-- END MEETING ACTIVE : INFO -->

<!-- BEGIN MEETING ACTIVE : RSVP -->
          <div class="tab-nav-info-block" data-nav-info-block="2">

            <!-- BEGIN : SAMPLE CODE BLOCK OF RSVP INFO -->
            <div class="meeting-active-info"  id="render-meeting-active-rsvp"></div>

            <script id="meeting-active-rsvp-template" type="text/x-handlebars-template">
              <ul class="clearfix data-info-list">
                <li class="info">RSVP Required:</li>
                <li class="data">
                  <span>{{rsvp.rsvpRequired.status}}</span>
                  <span>{{rsvp.rsvpRequired.begin}} <br/> {{rsvp.rsvpRequired.end}}</span>
                </li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Maximum Participants:</li>
                <li class="data"><span>{{rsvp.maximumParticipants}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Individual Approval Needed:</li>
                <li class="data"><span>{{rsvp.individualApprovalNeeded}}</span></li>
              </ul>
              <ul class="clearfix data-info-list">
                <li class="info">Required Information:</li>
                <li class="data"><span>{{rsvp.requiredInfo}}</span></li>
              </ul>
            </script>
            <!-- END : SAMPLE CODE BLOCK OF RSVP INFO -->

            <div class="content-box-header">
              <p><span>RSVP LIST</span></p>
            </div>

            <div class="content-box">
              <div class="content-box-list-container">
                <div class="content-box-list">
                  <ul class="content-box-list-row clearfix content-box-list-header">
                    <li class="content-box-list-column four">NAME</li>
                    <li class="content-box-list-column four">ORGANIZATION</li>
                    <li class="content-box-list-column four">PHONE</li>
                    <li class="content-box-list-column four">PIN CODE</li>
                  </ul>

                  <!-- BEGIN : SAMPLE CODE BLOCK OF RSVP LIST -->
                  <div id="render-meeting-active-rsvpList"></div>

                  <script id="meeting-active-rsvpList-template" type="text/x-handlebars-template">
                    {{#each rsvpList}}
                      <ul class="content-box-list-row clearfix">
                        <li class="clearfix content-box-list-column four"><span class="type">NAME</span><span class="content-box-list-title info">{{name}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">ORGANIZATION</span><span class="info">{{organization}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">PHONE</span><span class="info">{{phone}}</span></li>
                        <li class="clearfix content-box-list-column four"><span class="type">PIN CODE</span><span class="info">{{pin}}</span></li>
                      </ul>
                    {{/each}}
                  </script>
                  <!-- END : SAMPLE CODE BLOCK OF RSVP LIST -->
                </div>
              </div>
            </div>

          </div>
<!-- END MEETING ACTIVE : RSVP -->

        </div>

      </div>
    </div>

  </div>
</div>
