<div id="my-meetings" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">My Account: View My Meetings</h1>
          <a class="button play" id="schedule-meeting"><span class="icon">Schedule Meeting</span></a>

          <div class="content meeting-block clearfix">
            <div class="twelve columns clearfix">

              <form class="form-date clearfix" id="select-date" action="#" method="get" target="_blank">
                <div class="form-date-group">
                  <div class="date-in date">
                    <label class="divider" for="date-in">From:</label>
                    <input type="text" id="date-in" placeholder="MM/DD/YY">
                    <span class="calendar-icon"></span>
                  </div>
                </div>
                <div class="form-date-group">
                  <div class="date-out date">
                    <label class="divider" for="date-out">To:</label>
                    <input type="text" id="date-out" placeholder="MM/DD/YY">
                    <span class="calendar-icon"></span>
                  </div>
                </div>
              </form>

              <form id="meetings-search-form" class="clearfix">
                <span class="status-label">Status:</span>
                <div class="input-group clearfix">
                  <div class="input-container">
                    <input type="radio" id="scheduled" name="meetings-search" value="scheduled"/>
                    <label for="scheduled"><span></span>Scheduled</label>
                  </div>
                  <div class="input-container">
                    <input type="radio" id="canceled" name="meetings-search" value="canceled"/>
                    <label for="canceled"><span></span>Canceled</label>
                  </div>
                  <div class="input-container">
                    <input type="radio" id="completed" name="meetings-search" value="completed"/>
                    <label for="completed"><span></span>Completed</label>
                  </div>
                  <a class="button icon-search"><span class="icon">&nbsp;</span></a>
                </div>
              </form>

            </div>

          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">Subject</li>
                  <li class="content-box-list-column">Status</li>
                  <li class="content-box-list-column">Date</li>
                  <li class="content-box-list-column">Time</li>
                  <li class="content-box-list-column">Leader</li>
                </ul>

                <!--RENDER MEETING BLOCK-->
                <div id="render-meeting"></div>

                <script id="meeting-template" type="text/x-handlebars-template">
                  {{#each meetings}}
                    <ul class="content-box-list-row clearfix content-box-list-row meeting" data-meeting-id={{id}} data-meeting-link="handler" data-meeting-status={{status}}>
                      <li class="content-box-list-column clearfix"><span class="type">Subject</span><span class="content-box-list-title info">{{subject}}</span></li>
                      <li class="content-box-list-column clearfix"><span class="type">Status</span><span class="info">{{status}}</span></li>
                      <li class="content-box-list-column clearfix"><span class="type">Date</span><span class="info">{{date}}</span></li>
                      <li class="content-box-list-column clearfix"><span class="type">Time</span><span class="info">{{time}}</span></li>
                      <li class="content-box-list-column clearfix"><span class="type">Leader</span><span class="info">{{leader}}</span></li>
                    </ul>
                  {{/each}}
                </script>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
