<div id="profile" class="section triangle-bg">

  <div class="section section-1">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">My Account: My Profile</h1>
          <h4 class="client-corner-page-subtitle">Welcome to Client Corner, Kendall T. Willette!</h4>
          <h6 class="client-corner-page-info">Manage your conferencing services, pay your bill, and access your conferencing details.</h6>

          <div class="content-box">
            <p id="name">Kendall T. Willette</p>
            <p id="address1">555 Main St.</p>
            <p id="address2">Seattle, WA 99999</p>
            <p id="country">USA</p>
            <p id="phone">(555) 000-0000</p>
            <p id="email">kendalltwillette@gmail.com</p>
            <a class="a-icon edit-info">Edit Info</a>

            <div class="content-box-footer">
              <p id="passcode">My Passcode: 00000000</p>
              <p class="passcode-change"><a>Change</a></p>
            </div>
          </div>
          <div class="resource-footer">
            <a class="a-icon print">Print a temporary conference card</a>
            <a class="a-icon mail resend-account">Resend account information</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
