<div id="schedule-meeting" class="section triangle-bg">

  <div class="section section-1 active">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">What type of call would you like?</h1>
          <div class="content schedule-cta-content clearfix">
            <div class="six columns">
              <a class="button operator-handled"><span class="icon">Operator Handled</span></a>
              <p>Managed by Live Operators</p>
            </div>
            <div class="six columns">
              <a class="button always-on"><span class="icon">AlwaysOn Conferencing</span></a>
              <p>Reservationless &amp; Fully Automated</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-2" data-schedule-meeting-type="operatorHandled" data-operator-handled-schedule-page=1>
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">Schedule Meeting: Leader Info</h1>
          <form id="schedule-meeting-form-operator-handled" class="to-validate">
            <div class="input-container border-container">
              <input type="checkbox" id="meeting-leader-check" name="meeting-leader-check" value="meeting-leader-check"/>
              <label for="meeting-leader-check"><span></span>Please check here if you are the Meeting Leader</label>
            </div>
            <div class="input-container">
              <p class="organization-name">Organization: <span>Conference America</span></p>
              <p class="title-required"><span>*</span> = Required Fields</p>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="firstName" title="First Name" placeholder="First Name" required data-error-blank="First Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="lastName" title="Last Name" placeholder="Last Name" required data-error-blank="Last Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="email" class="input-text validate" name="email" title="Email" placeholder="Email Address" required data-error-blank="Email must be filled." data-error-email="Please put down a valid Email."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
          </form>
          <div class="schedule-meeting-footer">
            <a class="button next-button"><span class="icon">Next</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-3" data-schedule-meeting-type="operatorHandled" data-operator-handled-schedule-page=2>
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">Schedule Meeting: Operator Handled</h1>
          <div class="caption">
            <p>You are making a reservation for meeting leader <span>Kendell Willett</span>.</p>
            <a>Change Leader ></a>
          </div>
          <form id="schedule-meeting-form-operator-handled-2" class="to-validate">
            <div class="input-container">
              <p class="title-required"><span>*</span> = Required Fields</p>
            </div>
            <div class="input-container required">
              <div class="date-in date">
                <input type="text" class="input-text" id="meeting-date-operator-handled" placeholder="Meeting Date">
              </div>
            </div>
            <div class="input-container required meeting-time-container">
              <input type="text" class="input-text meeting-time" id="meeting-time-operator-handled" placeholder="Meeting Time">
              <div class="select-style">
                <select name='timeAmPmOperatorHandled' id='timeAmPmOperatorHandled'>
                    <option value='am'>AM</option>
                    <option value='pm'>PM</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <div class="select-style full-select">
                <select name='timeZoneOperatorHandled' id='timeZoneOperatorHandled'>
                  <option value=''>Time Zone</option>
                  <option value="-12" >(GMT -12:00) Eniwetok, Kwajalein</option>
                  <option value="-11" >(GMT -11:00) Midway Island, Samoa</option>
                  <option value="-10" >(GMT -10:00) Hawaii</option>
                  <option value="-9"  >(GMT -9:00) Alaska</option>
                  <option value="-8"  >(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                  <option value="-7"  >(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                  <option value="-6"  >(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                  <option value="-5"  >(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                  <option value="-4.5">(GMT -4:30) Caracas</option>
                  <option value="-4"  >(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
                  <option value="-3.5">(GMT -3:30) Newfoundland</option>
                  <option value="-3"  >(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                  <option value="-2"  >(GMT -2:00) Mid-Atlantic</option>
                  <option value="-1"  >(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                  <option value="0"   >(GMT) Western Europe Time, London, Lisbon, Casablanca, Greenwich</option>
                  <option value="1"   >(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                  <option value="2"   >(GMT +2:00) Kaliningrad, South Africa, Cairo</option>
                  <option value="3"   >(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                  <option value="3.5" >(GMT +3:30) Tehran</option>
                  <option value="4"   >(GMT +4:00) Abu Dhabi, Muscat, Yerevan, Baku, Tbilisi</option>
                  <option value="4.5" >(GMT +4:30) Kabul</option>
                  <option value="5"   >(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                  <option value="5.5" >(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
                  <option value="5.75">(GMT +5:45) Kathmandu</option>
                  <option value="6"   >(GMT +6:00) Almaty, Dhaka, Colombo</option>
                  <option value="6.5" >(GMT +6:30) Yangon, Cocos Islands</option>
                  <option value="7"   >(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                  <option value="8"   >(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                  <option value="9"   >(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                  <option value="9.5" >(GMT +9:30) Adelaide, Darwin</option>
                  <option value="10"  >(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                  <option value="11"  >(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                  <option value="12"  >(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <div class="select-style full-select">
                <select name='timeDurationOperatorHandled' id='timeDurationOperatorHandled'>
                  <option value=''>Meeting Duration</option>
                    <option value='30'>30 minutes</option>
                    <option value='60'>1 hour</option>
                    <option value='90'>1 hour and 30 minutes</option>
                    <option value='120'>2 hours</option>
                </select>
              </div>
            </div>

            <div class="input-container">
              <textarea placeholder="Meeting Subject"></textarea>
            </div>

            <div class="input-container">
              <p class="input-label">How many lines would you like to reserve?</p>
              <input type="text" class="input-text" name="linesReserve" title="Lines Reserve" placeholder="Lines Reserve"/>
              <span class="error-message"></span>
            </div>
            <div class="input-container margin-adjust">
              <p class="input-label">Are we dialing out to any participants?</p>
              <input type="radio" id="dialingParticipants" name="dialingParticipants" value="yes"/><label for="dialingParticipants"><span></span>Yes</label>
              <input type="radio" id="dialingParticipants2" name="dialingParticipants" value="no"/><label for="dialingParticipants2"><span></span>No</label>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="name" title="Name" placeholder="Name" required data-error-blank="Name must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container required">
              <input type="text" class="input-text validate" name="phone" title="Phone Number" placeholder="Phone Number" required data-error-blank="Phone Number must be filled."/>
              <span class="error-message"></span>
            </div>
            <div class="input-container btn-add-container">
              <a class="button btn-add">Add</a>
            </div>
          </form>
          <div class="schedule-meeting-footer">
            <a class="button next-button"><span class="icon">Next</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-4" data-schedule-meeting-type="operatorHandled" data-operator-handled-schedule-page=3>
  	<div class="container">
    	<div class="content clearfix">
				<div class="twelve columns">
          <h1 class="client-corner-page-title">Meeting Options</h1>
          <form id="schedule-meeting-form-operator-handled" class="to-validate">
            <div class="input-container margin-adjust">
              <p class="input-label">International participants dialing in:</p>
              <input type="radio" id="internationalParticipants" name="internationalParticipants" value="yes"/><label for="internationalParticipants"><span></span>Yes</label>
              <input type="radio" id="internationalParticipants2" name="internationalParticipants" value="no"/><label for="internationalParticipants2"><span></span>No</label>
            </div>
            <div class="input-container">
              <select name="country" id="countries-list" multiple size="6">
                  <option value="Afganistan">Afghanistan</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda">Bermuda</option>
                  <option value="Bhutan">Bhutan</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Bonaire">Bonaire</option>
                  <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Brazil">Brazil</option>
                  <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                  <option value="Brunei">Brunei</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Canary Islands">Canary Islands</option>
                  <option value="Cape Verde">Cape Verde</option>
                  <option value="Cayman Islands">Cayman Islands</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Channel Islands">Channel Islands</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Christmas Island">Christmas Island</option>
                  <option value="Cocos Island">Cocos Island</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Comoros">Comoros</option>
                  <option value="Congo">Congo</option>
                  <option value="Cook Islands">Cook Islands</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Cote DIvoire">Cote D'Ivoire</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Curaco">Curacao</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="East Timor">East Timor</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                  <option value="Eritrea">Eritrea</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Falkland Islands">Falkland Islands</option>
                  <option value="Faroe Islands">Faroe Islands</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="French Southern Ter">French Southern Ter</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Great Britain">Great Britain</option>
                  <option value="Greece">Greece</option>
                  <option value="Greenland">Greenland</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guadeloupe">Guadeloupe</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hong Kong">Hong Kong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran">Iran</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Isle of Man">Isle of Man</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kazakhstan">Kazakhstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Kiribati">Kiribati</option>
                  <option value="Korea North">Korea North</option>
                  <option value="Korea Sout">Korea South</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Laos">Laos</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libya">Libya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macau">Macau</option>
                  <option value="Macedonia">Macedonia</option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Marshall Islands">Marshall Islands</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritania">Mauritania</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mayotte">Mayotte</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Midway Islands">Midway Islands</option>
                  <option value="Moldova">Moldova</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Nambia">Nambia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netherland Antilles">Netherland Antilles</option>
                  <option value="Netherlands">Netherlands (Holland, Europe)</option>
                  <option value="Nevis">Nevis</option>
                  <option value="New Caledonia">New Caledonia</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Niue">Niue</option>
                  <option value="Norfolk Island">Norfolk Island</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Palau Island">Palau Island</option>
                  <option value="Palestine">Palestine</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Guinea">Papua New Guinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Phillipines">Philippines</option>
                  <option value="Pitcairn Island">Pitcairn Island</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Republic of Montenegro">Republic of Montenegro</option>
                  <option value="Republic of Serbia">Republic of Serbia</option>
                  <option value="Reunion">Reunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russia">Russia</option>
                  <option value="Rwanda">Rwanda</option>
                  <option value="St Barthelemy">St Barthelemy</option>
                  <option value="St Eustatius">St Eustatius</option>
                  <option value="St Helena">St Helena</option>
                  <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                  <option value="St Lucia">St Lucia</option>
                  <option value="St Maarten">St Maarten</option>
                  <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                  <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                  <option value="Saipan">Saipan</option>
                  <option value="Samoa">Samoa</option>
                  <option value="Samoa American">Samoa American</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Islands">Solomon Islands</option>
                  <option value="Somalia">Somalia</option>
                  <option value="South Africa">South Africa</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Suriname">Suriname</option>
                  <option value="Swaziland">Swaziland</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="Syria">Syria</option>
                  <option value="Tahiti">Tahiti</option>
                  <option value="Taiwan">Taiwan</option>
                  <option value="Tajikistan">Tajikistan</option>
                  <option value="Tanzania">Tanzania</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Togo">Togo</option>
                  <option value="Tokelau">Tokelau</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                  <option value="Tuvalu">Tuvalu</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Erimates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States of America">United States of America</option>
                  <option value="Uraguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Vatican City State">Vatican City State</option>
                  <option value="Venezuela">Venezuela</option>
                  <option value="Vietnam">Vietnam</option>
                  <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                  <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                  <option value="Wake Island">Wake Island</option>
                  <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Zaire">Zaire</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>
                </select>

                <a class="add-participant">+ Add a participant</a>
            </div>

            <div class="input-container margin-adjust">
              <p class="input-label">Participants hear music before leader joins?</p>
              <input type="radio" id="participantsMusic" name="participantsMusic" value="yes"/><label for="participantsMusic"><span></span>Yes</label>
              <input type="radio" id="participantsMusic2" name="participantsMusic" value="no"/><label for="participantsMusic2"><span></span>No</label>
            </div>

            <div class="input-container margin-adjust">
              <p class="input-label">Roll call?</p>
              <input type="radio" id="rollCall" name="rollCall" value="yes"/><label for="rollCall"><span></span>Yes</label>
              <input type="radio" id="rollCall2" name="rollCall" value="no"/><label for="rollCall2"><span></span>No</label>
            </div>

            <div class="input-container required special-bill-code-container">
              <p class="input-label">Special billing code for invoices</p>
              <input type="text" class="input-text" name="firstName" title="First Name"/>
              <span>(Maximum 30 characters)</span>
            </div>

            <h1 class="client-corner-page-title">Other Options</h1>

            <div class="input-container margin-adjust">
              <p class="input-label">Podcast/Recording:</p>
              <input type="radio" id="podcastRecording" name="podcastRecording" value="yes"/><label for="podcastRecording"><span></span>Yes</label>
              <input type="radio" id="podcastRecording2" name="podcastRecording" value="no"/><label for="podcastRecording2"><span></span>No</label>

              <div class="select-style podcast">
                <select name='postcastRecordingSelect' id='postcastRecordingSelect'>
                    <option value='Podcast'>Podcast - MP3</option>
                    <option value='Recording'>Recording</option>
                </select>
              </div>
            </div>

            <div class="input-container margin-adjust">
              <p class="input-label">Do you want us to email you a participant list after the call?</p>
              <input type="radio" id="participantListAfterCall" name="participantListAfterCall" value="yes"/><label for="participantListAfterCall"><span></span>Yes</label>
              <input type="radio" id="participantListAfterCall2" name="participantListAfterCall" value="no"/><label for="participantListAfterCall2"><span></span>No</label>
            </div>

            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="name" name="name" value="name"/>
              <label for="name"><span></span>Name</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="organization" name="organization" value="organization"/>
              <label for="organization"><span></span>Organization</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="phone" name="phone" value="phone"/>
              <label for="phone"><span></span>Phone</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="email" name="email" value="email"/>
              <label for="email"><span></span>Email</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="title" name="title" value="title"/>
              <label for="title"><span></span>Title</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="Other" name="Other" value="Other"/>
              <label for="Other"><span></span>Other</label>
              <input type="text" class="input-text" name="otherText" title="Other"/>
            </div>

            <div class="input-container checkmark-adjust">
              <p class="input-label">Is your meeting a special event requiring any of the following?</p>
              <input type="checkbox" id="questionAndAnswer" name="questionAndAnswer" value="questionAndAnswer"/>
              <label for="questionAndAnswer"><span></span>Question &amp; Answer</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="customizedOperatorHelp" name="customizedOperatorHelp" value="customizedOperatorHelp"/>
              <label for="customizedOperatorHelp"><span></span>Customized Operator Help</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="transcription" name="transcription" value="transcription"/>
              <label for="transcription"><span></span>Transcription</label>
            </div>
            <div class="input-container checkmark-adjust">
              <input type="checkbox" id="RSVP" name="RSVP" value="RSVP"/>
              <label for="RSVP"><span></span>RSVP</label>
            </div>
            <div class="input-container margin-adjust">
              <input type="checkbox" id="meetingControl" name="meetingControl" value="meetingControl"/>
              <label for="meetingControl"><span></span>Meeting Control</label>
            </div>

            <div class="input-container">
              <p class="input-label">When should we contact you about the special requirement(s)?</p>
              <div class="date-in date">
                <input type="text" class="input-text" id="special-requirements-date" placeholder="Date">
              </div>
            </div>

            <div class="meeting-time-container">
              <input type="text" class="input-text meeting-time" id="time-special-requirements" placeholder="Time">
              <div class="select-style">
                <select name='timeAmPmSpecialRequirements' id='timeAmPmSpecialRequirements'>
                    <option value='am'>AM</option>
                    <option value='pm'>PM</option>
                </select>
              </div>
            </div>

            <div class="input-container">
              <div class="select-style full-select">
                <select name='timeZoneSpecialRequirements' id='timeZoneSpecialRequirements'>
                  <option value=''>Time Zone</option>
                  <option value="-12" >(GMT -12:00) Eniwetok, Kwajalein</option>
                  <option value="-11" >(GMT -11:00) Midway Island, Samoa</option>
                  <option value="-10" >(GMT -10:00) Hawaii</option>
                  <option value="-9"  >(GMT -9:00) Alaska</option>
                  <option value="-8"  >(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                  <option value="-7"  >(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                  <option value="-6"  >(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                  <option value="-5"  >(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                  <option value="-4.5">(GMT -4:30) Caracas</option>
                  <option value="-4"  >(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
                  <option value="-3.5">(GMT -3:30) Newfoundland</option>
                  <option value="-3"  >(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                  <option value="-2"  >(GMT -2:00) Mid-Atlantic</option>
                  <option value="-1"  >(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                  <option value="0"   >(GMT) Western Europe Time, London, Lisbon, Casablanca, Greenwich</option>
                  <option value="1"   >(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                  <option value="2"   >(GMT +2:00) Kaliningrad, South Africa, Cairo</option>
                  <option value="3"   >(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                  <option value="3.5" >(GMT +3:30) Tehran</option>
                  <option value="4"   >(GMT +4:00) Abu Dhabi, Muscat, Yerevan, Baku, Tbilisi</option>
                  <option value="4.5" >(GMT +4:30) Kabul</option>
                  <option value="5"   >(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                  <option value="5.5" >(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
                  <option value="5.75">(GMT +5:45) Kathmandu</option>
                  <option value="6"   >(GMT +6:00) Almaty, Dhaka, Colombo</option>
                  <option value="6.5" >(GMT +6:30) Yangon, Cocos Islands</option>
                  <option value="7"   >(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                  <option value="8"   >(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                  <option value="9"   >(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                  <option value="9.5" >(GMT +9:30) Adelaide, Darwin</option>
                  <option value="10"  >(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                  <option value="11"  >(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                  <option value="12"  >(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <input type="text" class="input-text" name="specialRequirements" title="Special Requirements" placeholder="Special Requirements"/>
            </div>

            <div class="input-container">
              <button type="submit" class="button" value="submit">Submit</button>
              <p>*Note: Additional charges may apply for optional services.</p>
            </div>
          </form>
	    	</div>
    	</div>
  	</div>
  </div>

  <div class="section section-5" data-schedule-meeting-type="alwaysOn" data-always-on-schedule-page=1>
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">Schedule Meeting: AlwaysOn</h1>

          <div class="content-box-header">
            <h6 class="client-corner-page-info">Please choose the meeting leader for whom the meeting will be scheduled.</h6>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">LEADER</li>
                  <li class="content-box-list-column">PASSCODE</li>
                  <li class="content-box-list-column">ORGANIZATION</li>
                </ul>

                <div>
                  <!-- BLOCK OF CODE TO REPEAT : BEGIN -->
                  <ul class="content-box-list-row clearfix" data-meeting-link="handler">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Kendell Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PASSCODE</span><span class="info">12345678</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="info">Conference America</span></li>
                  </ul>
                  <!-- BLOCK OF CODE TO REPEAT : END -->
                  <ul class="content-box-list-row clearfix" data-meeting-link="handler">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Kendell Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PASSCODE</span><span class="info">12345678</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="info">Conference America</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix" data-meeting-link="handler">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Kendell Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PASSCODE</span><span class="info">12345678</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="info">Conference America</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix" data-meeting-link="handler">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Kendell Willette</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">PASSCODE</span><span class="info">12345678</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="info">Conference America</span></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section section-6" data-schedule-meeting-type="alwaysOn" data-always-on-schedule-page=2>
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title">Schedule Meeting: AlwaysOn</h1>
          <form id="schedule-meeting-form-always-on" class="to-validate">
            <div class="input-container">
              <p class="title-required"><span>*</span> = Required Fields</p>
            </div>
            <div class="input-container required">
              <div class="date-in date">
                <input type="text" class="input-text" id="meeting-date-always-on" placeholder="Meeting Date">
              </div>
            </div>
            <div class="input-container required meeting-time-container">
              <input type="text" class="input-text meeting-time" id="meeting-time-always-on" placeholder="Meeting Time">
              <div class="select-style">
                <select name='timeAmPmAlwaysOn' id='timeAmPmAlwaysOn'>
                    <option value='am'>AM</option>
                    <option value='pm'>PM</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <div class="select-style full-select">
                <select name='timeZoneAlwaysOn' id='timeZoneAlwaysOn'>
                  <option value=''>Time Zone</option>
                  <option value="-12" >(GMT -12:00) Eniwetok, Kwajalein</option>
                  <option value="-11" >(GMT -11:00) Midway Island, Samoa</option>
                  <option value="-10" >(GMT -10:00) Hawaii</option>
                  <option value="-9"  >(GMT -9:00) Alaska</option>
                  <option value="-8"  >(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                  <option value="-7"  >(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                  <option value="-6"  >(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                  <option value="-5"  >(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                  <option value="-4.5">(GMT -4:30) Caracas</option>
                  <option value="-4"  >(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
                  <option value="-3.5">(GMT -3:30) Newfoundland</option>
                  <option value="-3"  >(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                  <option value="-2"  >(GMT -2:00) Mid-Atlantic</option>
                  <option value="-1"  >(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                  <option value="0"   >(GMT) Western Europe Time, London, Lisbon, Casablanca, Greenwich</option>
                  <option value="1"   >(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                  <option value="2"   >(GMT +2:00) Kaliningrad, South Africa, Cairo</option>
                  <option value="3"   >(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                  <option value="3.5" >(GMT +3:30) Tehran</option>
                  <option value="4"   >(GMT +4:00) Abu Dhabi, Muscat, Yerevan, Baku, Tbilisi</option>
                  <option value="4.5" >(GMT +4:30) Kabul</option>
                  <option value="5"   >(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                  <option value="5.5" >(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
                  <option value="5.75">(GMT +5:45) Kathmandu</option>
                  <option value="6"   >(GMT +6:00) Almaty, Dhaka, Colombo</option>
                  <option value="6.5" >(GMT +6:30) Yangon, Cocos Islands</option>
                  <option value="7"   >(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                  <option value="8"   >(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                  <option value="9"   >(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                  <option value="9.5" >(GMT +9:30) Adelaide, Darwin</option>
                  <option value="10"  >(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                  <option value="11"  >(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                  <option value="12"  >(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
              </div>
            </div>

            <div class="input-container required">
              <div class="select-style full-select">
                <select name='timeZoneAlwaysOn' id='timeZoneAlwaysOn'>
                  <option value=''>Meeting Duration</option>
                    <option value='30'>30 minutes</option>
                    <option value='60'>1 hour</option>
                    <option value='90'>1 hour and 30 minutes</option>
                    <option value='120'>2 hours</option>
                </select>
              </div>
            </div>

            <div class="input-container">
              <p class="meeting-leader">Meeting Leader: <span>Kendell Willett</span></p>
            </div>

            <div class="input-container">
              <textarea placeholder="Meeting Subject"></textarea>
            </div>

            <div class="schedule-meeting-footer">
              <button class="button submit-btn" type="submit" value="submit">Submit</button>
              <a class="go-back">Go back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
