<div id="web-quality" class="section triangle-bg">

  <!--
  ******************************************************************
  BEGIN : WEB QUALITY SECTION 1 : SELECT ACCOUNT
  ******************************************************************
   -->
  <div class="section section-1 active">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Web Quality<a class="home-icon" data-page-type="web-quality"></a></h1>

          <div class="content-box-header">
            <h6 class="client-corner-page-info">Please select the account from the following list:</h6>

            <div class="index-report-title">
              <p class="bold">POINT PARK UNIVERSITY</p>
            </div>
          </div>

          <div class="content-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">ORGANIZATION</li>
                  <li class="content-box-list-column">ACCOUNT LEVEL</li>
                </ul>
                <div>
                  <!-- BLOCK OF LEADER : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                  </ul>
                  <!-- BLOCK OF LEADER : END -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">ORGANIZATION</span><span class="content-box-list-title info">Conference America</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">ACCOUNT LEVEL</span><span class="info">Organization Level</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="2">Continue</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--
  ******************************************************************
  END : WEB QUALITY SECTION 1 : SELECT ACCOUNT
  ******************************************************************
  -->

 <!--
 ******************************************************************
 BEGIN : WEB QUALITY SECTION 2 : INDEX REPORT
 ******************************************************************
 -->
  <div class="section section-2">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Web Quality<a class="home-icon" data-page-type="web-quality"></a></h1>

          <div class="content-box-header">

            <div class="index-report-title">
              <p>QUALITY INDEX REPORT</p>
              <hr>
              <p class="bold">POINT PARK UNIVERSITY</p>
            </div>

            <h6 class="client-corner-page-info">Please select a valid date range of your events:</h6>
          </div>

          <div class="content web-quality-block clearfix">
            <div class="eight columns">
              <form class="form-date clearfix" id="select-date" action="#" method="get" target="_blank">
                <div class="form-date-group">
                  <div class="date-in date">
                    <label class="divider" for="date-in">From:</label>
                    <input type="text" id="date-in" placeholder="MM/DD/YY">
                    <span class="calendar-icon"></span>
                  </div>
                </div>
                <div class="form-date-group">
                  <div class="date-out date">
                    <label class="divider" for="date-out">To:</label>
                    <input type="text" id="date-out" placeholder="MM/DD/YY">
                    <span class="calendar-icon"></span>
                    <a class="button" id="view-report">View Report</a>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="qi-info-block">
            <div class="qi-info-row clearfix">
              <div class="info">Quality index:</div>
              <div class="data">99.99%</div>
            </div>
            <div class="qi-info-row clearfix">
              <div class="info">Total Number of Events:</div>
              <div class="data">350</div>
            </div>
            <div class="qi-info-row clearfix">
              <div class="info">Total Number of Issues:</div>
              <div class="data">8</div>
            </div>

            <a class="view-issue"><span>View</span> Issues List</a>
          </div>

          <div class="content-box issues-box">
            <div class="content-box-list-container">
              <div class="content-box-list">
                <ul class="content-box-list-row clearfix content-box-list-header">
                  <li class="content-box-list-column">LEADER</li>
                  <li class="content-box-list-column">DATE</li>
                  <li class="content-box-list-column">TIME</li>
                  <li class="content-box-list-column">DESCRIPTION</li>
                </ul>

                <div>
                  <!-- BLOCK OF LEADER : BEGIN -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Paul Hennigan</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DATE</span><span class="info">10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TIME</span><span class="info">12:00pm</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DESCRIPTION</span><span class="info"> Kendall Willette called in on 8/22/14 stating...</span></li>
                  </ul>
                  <!-- BLOCK OF LEADER : END -->
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Paul Hennigan</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DATE</span><span class="info">10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TIME</span><span class="info">12:00pm</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DESCRIPTION</span><span class="info"> Kendall Willette called in on 8/22/14 stating...</span></li>
                  </ul>
                  <ul class="content-box-list-row clearfix">
                    <li class="clearfix content-box-list-column"><span class="type">LEADER</span><span class="content-box-list-title info">Paul Hennigan</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DATE</span><span class="info">10-01-15</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">TIME</span><span class="info">12:00pm</span></li>
                    <li class="clearfix content-box-list-column"><span class="type">DESCRIPTION</span><span class="info"> Kendall Willette called in on 8/22/14 stating...</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="3">Continue</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--
  ******************************************************************
  END : WEB QUALITY SECTION 2 : INDEX REPORT
  ******************************************************************
  -->

  <!--
  ******************************************************************
  BEGIN : WEB QUALITY SECTION 3 : ISSUE DETAIL
  ******************************************************************
  -->
  <div class="section section-3">
    <div class="container">
      <div class="content clearfix">
        <div class="twelve columns">
          <h1 class="client-corner-page-title home">My Account: Web Quality<a class="home-icon" data-page-type="web-quality"></a></h1>

          <div class="content-box-header">
            <div class="index-report-title">
              <p>ISSUED DETAILED INFO</p>
              <hr>
              <p class="bold">POINT PARK UNIVERSITY</p>
            </div>
          </div>

          <div class="issue-block">
            <p class="title">Problem Reported</p>
            <ul class="clearfix">
              <li class="info">Leader:</li>
              <li class="data"><span>Paul Hennigan</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Issue Date:</li>
              <li class="data"><span>10-1-15</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Issue Time:</li>
              <li class="data"><span>11:30am</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Reported Date:</li>
              <li class="data"><span>10-1-15</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Reported Time:</li>
              <li class="data"><span>11:30am</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Description:</li>
              <li class="data"></li>
            </ul>
            <textarea readonly>Nina Campbell called in 12-1-14 stating the invoice she received had a participant name she did not recognize. The party Karen Thompson was in the call for 12 minutes before she disconnected. Nina said this was a high level board call and Mr. Hennigan, the president of the Point Park University, was very concerned. In addition, the sound quality was poor and one of the parties had Nina Campbell called in 12-1-14 stating the invoice she received had a participant name she did not recognize. The party Karen Thompson was in the call for 12 minutes before she disconnected. Nina said this was a high level board call and Mr. Hennigan, the president of the Point Park University, was very concerned. In addition, the sound quality was poor and one of the parties had</textarea>
          </div>

          <div class="issue-block">
            <p class="title">Resolutions:</p>
            <ul class="clearfix">
              <li class="info">Date:</li>
              <li class="data"><span>10-1-15</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Time:</li>
              <li class="data"><span>11:30am</span></li>
            </ul>
            <ul class="clearfix">
              <li class="info">Description:</li>
              <li class="data"></li>
            </ul>
            <textarea readonly>Nina Campbell called in 12-1-14 stating the invoice she received had a participant name she did not recognize. The party Karen Thompson was in the call for 12 minutes before she disconnected. Nina said this was a high level board call and Mr. Hennigan, the president of the Point Park University, was very concerned. In addition, the sound quality was poor and one of the parties had Nina Campbell called in 12-1-14 stating the invoice she received had a participant name she did not recognize. The party Karen Thompson was in the call for 12 minutes before she disconnected. Nina said this was a high level board call and Mr. Hennigan, the president of the Point Park University, was very concerned. In addition, the sound quality was poor and one of the parties had</textarea>
          </div>

          <div class="issue-block">
            <p class="title">Final Results:</p>
            <ul class="clearfix">
              <li class="info">Status:</li>
              <li class="data">10-1-15</li>
            </ul>
            <ul class="clearfix">
              <li class="info">Date:</li>
              <li class="data">10-1-15</li>
            </ul>
            <ul class="clearfix">
              <li class="info">Time:</li>
              <li class="data">11:30am</li>
            </ul>
          </div>

          <div class="section-footer-cta">
            <a class="cancel">Cancel</a>
            <a class="button cta-continue" data-option="1">Continue</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--
  ******************************************************************
  END : WEB QUALITY SECTION 3 : ISSUE DETAIL
  ******************************************************************
  -->

</div>
